header.header-wrap
  .sticky-wrap
    .header
      .logotip
        a(href="index.html")
          .logo
                <svg aria-label="Logo" width="100%" viewBox="0 0 98 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="logo-color" id="logo-color" d="M13.184 0.191999V18H10.976V15.984C10.464 16.688 9.816 17.224 9.032 17.592C8.248 17.96 7.384 18.144 6.44 18.144C5.208 18.144 4.104 17.872 3.128 17.328C2.152 16.784 1.384 16.024 0.824 15.048C0.28 14.056 0.00800008 12.92 0.00800008 11.64C0.00800008 10.36 0.28 9.232 0.824 8.256C1.384 7.28 2.152 6.52 3.128 5.976C4.104 5.432 5.208 5.16 6.44 5.16C7.352 5.16 8.192 5.336 8.96 5.688C9.728 6.024 10.368 6.528 10.88 7.2V0.191999H13.184ZM6.632 16.128C7.432 16.128 8.16 15.944 8.816 15.576C9.472 15.192 9.984 14.664 10.352 13.992C10.72 13.304 10.904 12.52 10.904 11.64C10.904 10.76 10.72 9.984 10.352 9.312C9.984 8.624 9.472 8.096 8.816 7.728C8.16 7.36 7.432 7.176 6.632 7.176C5.816 7.176 5.08 7.36 4.424 7.728C3.784 8.096 3.272 8.624 2.888 9.312C2.52 9.984 2.336 10.76 2.336 11.64C2.336 12.52 2.52 13.304 2.888 13.992C3.272 14.664 3.784 15.192 4.424 15.576C5.08 15.944 5.816 16.128 6.632 16.128ZM29.5434 5.28V18H27.3354V15.984C26.8234 16.688 26.1754 17.224 25.3914 17.592C24.6074 17.96 23.7434 18.144 22.7994 18.144C21.5674 18.144 20.4634 17.872 19.4874 17.328C18.5114 16.784 17.7434 16.024 17.1834 15.048C16.6394 14.056 16.3674 12.92 16.3674 11.64C16.3674 10.36 16.6394 9.232 17.1834 8.256C17.7434 7.28 18.5114 6.52 19.4874 5.976C20.4634 5.432 21.5674 5.16 22.7994 5.16C23.7114 5.16 24.5514 5.336 25.3194 5.688C26.0874 6.024 26.7274 6.528 27.2394 7.2V5.28H29.5434ZM22.9914 16.128C23.7914 16.128 24.5194 15.944 25.1754 15.576C25.8314 15.192 26.3434 14.664 26.7114 13.992C27.0794 13.304 27.2634 12.52 27.2634 11.64C27.2634 10.76 27.0794 9.984 26.7114 9.312C26.3434 8.624 25.8314 8.096 25.1754 7.728C24.5194 7.36 23.7914 7.176 22.9914 7.176C22.1754 7.176 21.4394 7.36 20.7834 7.728C20.1434 8.096 19.6314 8.624 19.2474 9.312C18.8794 9.984 18.6954 10.76 18.6954 11.64C18.6954 12.52 18.8794 13.304 19.2474 13.992C19.6314 14.664 20.1434 15.192 20.7834 15.576C21.4394 15.944 22.1754 16.128 22.9914 16.128ZM40.5988 17.256C40.2628 17.544 39.8468 17.768 39.3508 17.928C38.8548 18.072 38.3428 18.144 37.8148 18.144C36.5348 18.144 35.5428 17.8 34.8388 17.112C34.1348 16.424 33.7828 15.44 33.7828 14.16V2.496H36.0868V5.28H39.7348V7.176H36.0868V14.064C36.0868 14.752 36.2548 15.28 36.5908 15.648C36.9428 16.016 37.4388 16.2 38.0788 16.2C38.7828 16.2 39.3828 16 39.8788 15.6L40.5988 17.256ZM54.9496 5.28V18H52.7416V15.984C52.2296 16.688 51.5816 17.224 50.7976 17.592C50.0136 17.96 49.1496 18.144 48.2056 18.144C46.9736 18.144 45.8696 17.872 44.8936 17.328C43.9176 16.784 43.1496 16.024 42.5896 15.048C42.0456 14.056 41.7736 12.92 41.7736 11.64C41.7736 10.36 42.0456 9.232 42.5896 8.256C43.1496 7.28 43.9176 6.52 44.8936 5.976C45.8696 5.432 46.9736 5.16 48.2056 5.16C49.1176 5.16 49.9576 5.336 50.7256 5.688C51.4936 6.024 52.1336 6.528 52.6456 7.2V5.28H54.9496ZM48.3976 16.128C49.1976 16.128 49.9256 15.944 50.5816 15.576C51.2376 15.192 51.7496 14.664 52.1176 13.992C52.4856 13.304 52.6696 12.52 52.6696 11.64C52.6696 10.76 52.4856 9.984 52.1176 9.312C51.7496 8.624 51.2376 8.096 50.5816 7.728C49.9256 7.36 49.1976 7.176 48.3976 7.176C47.5816 7.176 46.8456 7.36 46.1896 7.728C45.5496 8.096 45.0376 8.624 44.6536 9.312C44.2856 9.984 44.1016 10.76 44.1016 11.64C44.1016 12.52 44.2856 13.304 44.6536 13.992C45.0376 14.664 45.5496 15.192 46.1896 15.576C46.8456 15.944 47.5816 16.128 48.3976 16.128ZM63.485 18.192C62.029 18.192 60.893 17.808 60.077 17.04C59.261 16.256 58.853 15.152 58.853 13.728V0.191999H62.597V13.512C62.597 14.056 62.733 14.48 63.005 14.784C63.293 15.072 63.693 15.216 64.205 15.216C64.397 15.216 64.589 15.192 64.781 15.144C64.989 15.096 65.149 15.04 65.261 14.976L65.429 17.88C64.805 18.088 64.157 18.192 63.485 18.192ZM80.1367 5.088V18H76.5607V16.512C75.6327 17.632 74.2887 18.192 72.5287 18.192C71.3127 18.192 70.2087 17.92 69.2167 17.376C68.2407 16.832 67.4727 16.056 66.9127 15.048C66.3527 14.04 66.0727 12.872 66.0727 11.544C66.0727 10.216 66.3527 9.048 66.9127 8.04C67.4727 7.032 68.2407 6.256 69.2167 5.712C70.2087 5.168 71.3127 4.896 72.5287 4.896C74.1767 4.896 75.4647 5.416 76.3927 6.456V5.088H80.1367ZM73.1767 15.12C74.1207 15.12 74.9047 14.8 75.5287 14.16C76.1527 13.504 76.4647 12.632 76.4647 11.544C76.4647 10.456 76.1527 9.592 75.5287 8.952C74.9047 8.296 74.1207 7.968 73.1767 7.968C72.2167 7.968 71.4247 8.296 70.8007 8.952C70.1767 9.592 69.8647 10.456 69.8647 11.544C69.8647 12.632 70.1767 13.504 70.8007 14.16C71.4247 14.8 72.2167 15.12 73.1767 15.12ZM91.235 4.896C92.435 4.896 93.523 5.176 94.499 5.736C95.491 6.28 96.267 7.056 96.827 8.064C97.387 9.056 97.667 10.216 97.667 11.544C97.667 12.872 97.387 14.04 96.827 15.048C96.267 16.04 95.491 16.816 94.499 17.376C93.523 17.92 92.435 18.192 91.235 18.192C89.459 18.192 88.107 17.632 87.179 16.512V18H83.603V0.191999H87.347V6.456C88.291 5.416 89.587 4.896 91.235 4.896ZM90.587 15.12C91.547 15.12 92.331 14.8 92.939 14.16C93.563 13.504 93.875 12.632 93.875 11.544C93.875 10.456 93.563 9.592 92.939 8.952C92.331 8.296 91.547 7.968 90.587 7.968C89.627 7.968 88.835 8.296 88.211 8.952C87.603 9.592 87.299 10.456 87.299 11.544C87.299 12.632 87.603 13.504 88.211 14.16C88.835 14.8 89.627 15.12 90.587 15.12Z" fill="black"/>
                </svg>
        ul.lng-list#lng-list
          li.lng-list__select Ru
          ul#lngItems
              li.ru Ru
              li.en En
      .routing
        a(href="services.html") Услуги
        a(href="#projects") Проекты
        a(href="#") Компания
        a(href="#") Инвестирование
        a(href="#footer") Контакты
      .callback
        a.number(href="tel:8 800 955 20 40") 8 800 955 20 40
      .header__burger.hide-desktop#burger
        .header__burger-items
          .header__burger-item
          .header__burger-item


.mobile-menu
  .container
    .row
      .col-md-12
        .mobile-menu__routing
          a(href="services.html") Услуги
          a(href="#projects") Проекты
          a Компания
          a Инвестирование
        .mobile-menu__contacts
          .number-block
            .call-us.small-text Звоните нам:
            .number.bold-text 
              a 8 800 955 20 40
            .time с 9:30 до 18:30 по МСК
          .mail.block
            .our-mail.small-text Наша почта:
            .mail.bold-text 
              a info@datalab.ru
        .mobile-menu__social
          .text Мы в соцсетях
          .social-items
            .social-items__item
              a(href='#')
                <svg width="42" height="26" viewBox="0 0 42 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M34.6502 15.9632C35.924 17.2559 37.2684 18.4721 38.4109 19.8952C38.9155 20.5276 39.3933 21.1801 39.7588 21.914C40.2767 22.9573 39.8077 24.1053 38.9077 24.1676L33.3135 24.165C31.8707 24.2894 30.7196 23.6856 29.7518 22.6602C28.9773 21.8402 28.26 20.9674 27.5153 20.1197C27.2099 19.7732 26.8904 19.4472 26.5086 19.1895C25.7449 18.6742 25.082 18.832 24.6456 19.6599C24.2011 20.502 24.1003 21.4344 24.0567 22.3729C23.9967 23.7422 23.5986 24.1021 22.2753 24.1648C19.4474 24.3035 16.7636 23.8587 14.2704 22.3759C12.0724 21.0687 10.3679 19.2232 8.88428 17.1339C5.9957 13.0657 3.78363 8.59541 1.7955 3.99987C1.34798 2.96448 1.67526 2.4087 2.77429 2.38902C4.59929 2.35217 6.42404 2.3548 8.25118 2.3864C8.99291 2.39768 9.48395 2.8399 9.77035 3.56827C10.7577 6.09187 11.9659 8.49286 13.4824 10.7184C13.8863 11.3109 14.2981 11.9034 14.8845 12.3204C15.5332 12.7822 16.0272 12.6291 16.3324 11.8779C16.5261 11.4016 16.6108 10.8886 16.6545 10.3784C16.7991 8.62335 16.8181 6.87126 16.5645 5.12233C16.4088 4.03082 15.8174 3.32421 14.7696 3.11766C14.2349 3.01235 14.3145 2.80554 14.5734 2.4883C15.023 1.94117 15.4459 1.60059 16.289 1.60059H22.6113C23.6066 1.80478 23.8277 2.26955 23.9639 3.31057L23.9694 10.6104C23.9585 11.0134 24.163 12.2094 24.8614 12.4761C25.4203 12.666 25.7887 12.2012 26.124 11.8328C27.6378 10.1628 28.7181 8.18926 29.6833 6.14564C30.1116 5.24705 30.4799 4.31382 30.8369 3.38139C31.1013 2.68947 31.5163 2.34902 32.2661 2.36411L38.3509 2.36975C38.5314 2.36975 38.7139 2.3725 38.8887 2.40358C39.914 2.58522 40.195 3.04369 39.8783 4.08445C39.3793 5.71733 38.4085 7.07808 37.4592 8.44512C36.4444 9.90463 35.3592 11.3142 34.3529 12.7823C33.4283 14.123 33.5017 14.7988 34.6502 15.9632Z" stroke="black" stroke-width="2.5"/>
                </svg>
            .social-items__item
              a(href='#')
                <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.02967 8.68989C5.02967 9.62036 5.02967 13.7735 5.02967 13.7735H1.39844V19.9897H5.02967V38.4621H12.489V19.9902H17.4945C17.4945 19.9902 17.9633 17.0096 18.1906 13.7506C17.5391 13.7506 12.5172 13.7506 12.5172 13.7506C12.5172 13.7506 12.5172 10.1341 12.5172 9.50027C12.5172 8.86501 13.3305 8.01051 14.1343 8.01051C14.9366 8.01051 16.63 8.01051 18.1984 8.01051C18.1984 7.16416 18.1984 4.23984 18.1984 1.53906C16.1047 1.53906 13.7226 1.53906 12.6726 1.53906C4.84528 1.53863 5.02967 7.76104 5.02967 8.68989Z" stroke="black" stroke-width="2.5"/>
                </svg>
            .social-items__item
              a(href='#')
                <svg width="39" height="33" viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M37.807 1.07628C37.338 0.511267 36.6354 0.200195 35.8286 0.200195C35.39 0.200195 34.9254 0.291093 34.4478 0.470868L1.94302 12.6924C0.218028 13.3408 -0.0142951 14.3139 0.000646204 14.8362C0.0155876 15.3585 0.303575 16.3171 2.06314 16.8685C2.07369 16.8717 2.08423 16.8749 2.09478 16.8777L8.83715 18.7782L12.4834 29.0482C12.9806 30.4483 14.0965 31.3181 15.3961 31.3181C16.2155 31.3181 17.0215 30.9799 17.727 30.3404L21.8974 26.5582L27.9463 31.3556C27.9469 31.3561 27.9477 31.3564 27.9483 31.357L28.0058 31.4026C28.011 31.4066 28.0166 31.411 28.0219 31.415C28.6942 31.9287 29.4281 32.1999 30.145 32.2002H30.1453C31.546 32.2002 32.6613 31.179 32.9862 29.5988L38.3121 3.69615C38.5259 2.65645 38.3466 1.72612 37.807 1.07628ZM11.0927 18.4172L24.1008 11.8717L16.0011 20.3489C15.8684 20.4877 15.7743 20.6576 15.728 20.8426L14.1662 27.0739L11.0927 18.4172ZM16.2027 28.71C16.1488 28.7588 16.0946 28.8024 16.0404 28.8425L17.4894 23.062L20.1252 25.1526L16.2027 28.71ZM36.1069 3.25609L30.781 29.159C30.7298 29.4069 30.566 29.9837 30.145 29.9837C29.937 29.9837 29.6757 29.8721 29.4082 29.6692L22.5539 24.2332C22.553 24.2324 22.5519 24.2315 22.5507 24.2309L18.4723 20.9961L30.1854 8.73707C30.5604 8.34462 30.5944 7.74354 30.266 7.31243C29.9373 6.88131 29.3417 6.74569 28.8545 6.99097L9.58949 16.685L2.75542 14.7591L35.2503 2.54131C35.5248 2.43801 35.7164 2.41637 35.8286 2.41637C35.8974 2.41637 36.0199 2.42445 36.0653 2.47956C36.1251 2.55141 36.2012 2.7964 36.1069 3.25609Z" fill="black"/>
                </svg>
        .mobile-menu__copyright
          .copyright-block
            .politics Политика обработки персональных данных
            .rights 2009-2019 © DataLab. Все права защищены
                