footer.footer#footer
  .container
    .row
      .offset-lg-0.col-lg-12.offset-md-1.col-md-11
        .footer__items
          .footer__item.number-block
            .call-us.footer__item-text Звоните нам:
            .number.footer__item-contact 
              a(href="tel:8 800 955 20 400") 8 800 955 20 40
            .time.footer__item-text с 9:30 до 18:30 по МСК
          .footer__item.mail-block
            .mail-text.footer__item-text Наша почта:
            .mail.footer__item-contact 
              a(href="mailto:info@datalab.ru") info@datalab.ru
          .footer__item.social-block
            .social-text.footer__item-text Мы в соцсетях
            .social-block__items
              .social-block__item
                a(href="https://vk.com/" aria-label="vk")
                  <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="26" height="25">
                    <rect width="26" height="25" fill="#C4C4C4"/>
                    </mask>
                    <g mask="url(#mask0)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6554 14.9766C22.4515 15.7846 23.2918 16.5447 24.0058 17.4341C24.3212 17.8294 24.6199 18.2372 24.8483 18.6959C25.172 19.3479 24.8788 20.0654 24.3163 20.1044L20.82 20.1027C19.9182 20.1805 19.1988 19.8032 18.5939 19.1623C18.1098 18.6497 17.6615 18.1043 17.1961 17.5744C17.0052 17.3579 16.8055 17.1541 16.5669 16.9931C16.0896 16.671 15.6753 16.7696 15.4025 17.2871C15.1247 17.8134 15.0617 18.3961 15.0344 18.9827C14.997 19.8385 14.7481 20.0635 13.9211 20.1027C12.1537 20.1893 10.4763 19.9113 8.91806 18.9846C7.54426 18.1675 6.47894 17.0141 5.5517 15.7083C3.74634 13.1657 2.36379 10.3718 1.12121 7.49955C0.841513 6.85244 1.04606 6.50507 1.73296 6.49277C2.87358 6.46974 4.01405 6.47138 5.15601 6.49113C5.61959 6.49818 5.92649 6.77457 6.10549 7.2298C6.7226 8.80706 7.47771 10.3077 8.42553 11.6986C8.67794 12.0689 8.93532 12.4393 9.30184 12.6999C9.7073 12.9885 10.016 12.8928 10.2068 12.4234C10.3278 12.1257 10.3808 11.805 10.4081 11.4862C10.4984 10.3892 10.5104 9.29417 10.3519 8.20109C10.2546 7.51889 9.88488 7.07727 9.23 6.94817C8.89582 6.88235 8.94557 6.75309 9.10738 6.55482C9.38842 6.21286 9.65274 6 10.1796 6H14.1311C14.7532 6.12762 14.8913 6.4181 14.9765 7.06874L14.9799 11.6312C14.9731 11.883 15.1009 12.6305 15.5374 12.7972C15.8867 12.9159 16.117 12.6254 16.3265 12.3952C17.2726 11.3514 17.9479 10.1179 18.5511 8.84066C18.8188 8.27904 19.049 7.69577 19.2721 7.113C19.4373 6.68056 19.6967 6.46777 20.1653 6.4772L23.9684 6.48072C24.0811 6.48072 24.1952 6.48245 24.3044 6.50187C24.9453 6.61539 25.1209 6.90194 24.923 7.55242C24.6111 8.57296 24.0043 9.42343 23.411 10.2778C22.7768 11.19 22.0985 12.071 21.4696 12.9886C20.8917 13.8265 20.9376 14.2489 21.6554 14.9766Z" stroke="black" stroke-width="1.5"/>
                    </g>
                  </svg>
              .social-block__item
                a(href="https://ru-ru.facebook.com" aria-label="fb")
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="25">
                    <rect width="24" height="25" fill="#C4C4C4"/>
                    </mask>
                    <g mask="url(#mask1)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.76952 5.4302C8.76952 6.01175 8.76952 8.60744 8.76952 8.60744H6.5V12.4926H8.76952V24.0379H13.4316V12.4929H16.5601C16.5601 12.4929 16.8531 10.63 16.9951 8.59312C16.5879 8.59312 13.4492 8.59312 13.4492 8.59312C13.4492 8.59312 13.4492 6.33287 13.4492 5.93669C13.4492 5.53966 13.9575 5.00559 14.4599 5.00559C14.9614 5.00559 16.0197 5.00559 17 5.00559C17 4.47662 17 2.64892 17 0.960938C15.6914 0.960938 14.2026 0.960938 13.5464 0.960938C8.65428 0.960669 8.76952 4.84967 8.76952 5.4302Z" stroke="black" stroke-width="1.5"/>
                    </g>
                  </svg>
              .social-block__item
                a(href="https://telegram.org/" aria-label="tg")
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.6294 2.54755C23.3362 2.19442 22.8971 2 22.3929 2C22.1188 2 21.8284 2.05681 21.5299 2.16917L1.21439 9.80764C0.136268 10.2129 -0.00893447 10.821 0.000403878 11.1475C0.00974222 11.4739 0.189734 12.073 1.28946 12.4177C1.29606 12.4197 1.30265 12.4217 1.30924 12.4235L5.52322 13.6113L7.80214 20.03C8.11287 20.9051 8.81032 21.4487 9.62257 21.4487C10.1347 21.4487 10.6384 21.2373 11.0794 20.8376L13.6859 18.4737L17.4664 21.4721C17.4668 21.4725 17.4673 21.4726 17.4677 21.473L17.5036 21.5015C17.5069 21.504 17.5104 21.5067 17.5137 21.5093C17.9339 21.8303 18.3926 21.9998 18.8406 22H18.8408C19.7162 22 20.4133 21.3617 20.6164 20.3741L23.945 4.18497C24.0787 3.53516 23.9667 2.9537 23.6294 2.54755ZM6.93294 13.3856L15.063 9.29471L10.0007 14.5929C9.91774 14.6797 9.85896 14.7859 9.83003 14.9015L8.8539 18.796L6.93294 13.3856ZM10.1267 19.8186C10.093 19.8491 10.0591 19.8764 10.0252 19.9014L10.9309 16.2886L12.5783 17.5953L10.1267 19.8186ZM22.5668 3.90993L19.2381 20.0993C19.2061 20.2542 19.1038 20.6147 18.8406 20.6147C18.7106 20.6147 18.5473 20.5449 18.3801 20.4181L14.0962 17.0206C14.0956 17.0201 14.0949 17.0196 14.0942 17.0192L11.5452 14.9975L18.8659 7.33555C19.1003 7.09027 19.1215 6.71459 18.9163 6.44515C18.7108 6.1757 18.3386 6.09093 18.0341 6.24423L5.99343 12.303L1.72214 11.0993L22.0314 3.4632C22.203 3.39863 22.3227 3.38511 22.3929 3.38511C22.4359 3.38511 22.5124 3.39016 22.5408 3.4246C22.5782 3.46951 22.6258 3.62263 22.5668 3.90993Z" fill="black"/>
                  </svg>
          .footer__item.policy-block
            .rights 2009-2019 © DataLab. Все права защищены
            .copyright 
              a(href="#") Политика обработки персональных данных
  .pulse
  .pulse2