
extends base.pug
include ./includes/popup.pug
block links
    //- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
block scripts
    //- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
block main
    section.main
        .container
            .row
                .offset-xl-0.offset-lg-1.col-lg-11
                    .content
                        .main__title
                            h1.headline Создаем лучшие Digital продукты
                        button.tellproject#main-btn Расскажите о вашем проекте
        .main__images_bg
            <svg viewBox="0 0 815 630" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.1" d="M764.018 303.622C536.467 -41.3255 307.801 24.1123 205.552 51.6486C77.5974 86.1076 48.6461 184.493 79.1349 292.033C104.912 382.952 314.865 429.714 420.089 442.366C630.342 467.647 831.282 405.589 764.018 303.622Z" fill="#F23071"/>
                <path d="M155.009 404.179C182.368 388.86 211.078 398.843 218.82 411.535C223.602 419.375 203.721 434.747 195.547 439.359C187.373 443.972 165.564 458.214 150.46 443.594C132.336 426.049 143.675 410.526 155.009 404.179Z" fill="#E4E3F5"/>
                <path opacity="0.1" d="M312.294 346.937C430.043 163.025 740.275 144.006 815 167.844V528.314C633.472 709.218 523.027 511.821 151.14 619.518C-8.62208 665.784 -43.0778 546.584 54.2147 501.192C190.469 437.622 234.468 468.493 312.294 346.937Z" fill="#543DCC"/>
                <path d="M674.367 31.8156C700.113 1.99962 740.91 -0.0244612 757.199 10.6593C767.26 17.2583 750.793 43.6861 743.119 52.6346C735.445 61.583 715.994 87.6307 689.578 78.1749C657.88 66.828 663.7 44.168 674.367 31.8156Z" fill="#E4E3F5"/>
            </svg>
            

        .main__mobile-slider
            .main__mobile-slider-item
                .main__images__exposure1
                    .main__images__exposure1_wrap
                        .info
                            p.headline 55 <span>млрд ₽</span>
                            p.paragraph Принято через <br> терминалы
                        .figure
                            .board
                                <svg viewBox="0 0 124 233" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.550415 84.8614L0.550415 0.0805664L123.306 35.4059V120.187L0.550415 84.8614Z" fill="white"/>
                                    <path d="M86.2145 91.6148V28.3408L93.2796 30.4188V93.6927L86.2145 91.6148Z" fill="#DEDAF2"/>
                                    <path id="column-5" d="M86.2145 91.6148V55.718L93.2796 57.796V93.6928L86.2145 91.6148Z" fill="#E5175C"/>
                                    <path d="M68.5518 86.3161V27.4578L75.6168 29.5357V88.394L68.5518 86.3161Z" fill="#DEDAF2"/>
                                    <path id="column-4" d="M68.5518 86.316V38.0553L75.6168 40.1333V88.3939L68.5518 86.316Z" fill="#E5175C"/>
                                    <path d="M50.889 81.0173V30.1072L57.9541 32.1851V83.0952L50.889 81.0173Z" fill="#DEDAF2"/>
                                    <path id="column-3" d="M50.889 81.0172V65.4325L57.9541 67.5105V83.0952L50.889 81.0172Z" fill="#E5175C"/>
                                    <path d="M33.2264 75.7185V13.3276L40.2915 15.4056V77.7964L33.2264 75.7185Z" fill="#DEDAF2"/>
                                    <path id="column-2" d="M33.2264 75.7183V39.8215L40.2915 41.8995V77.7963L33.2264 75.7183Z" fill="#E5175C"/>
                                    <path d="M15.5637 71.3028L15.5637 34.5228L22.6288 36.6008V73.3807L15.5637 71.3028Z" fill="#DEDAF2"/>
                                    <path id="column-1" d="M15.5637 71.3027V62.7831L22.6288 64.861V73.3807L15.5637 71.3027Z" fill="#E5175C"/>
                                    <path d="M8.49866 77.5885V76.03L95.0458 100.966V102.524L8.49866 77.5885Z" fill="#B6ACE5"/>
                                    <path d="M80.0325 232.345V120.187L123.306 35.406V147.564L80.0325 232.345Z" fill="#543DCC"/>
                                    <path d="M87.9807 207.617V170.236L112.708 121.953V159.334L87.9807 207.617Z" fill="#4936B2"/>
                                    <path d="M87.9807 159.045V126.08L112.708 77.7964V110.761L87.9807 159.045Z" fill="#4936B2"/>
                                </svg>
                            .man
                                <svg viewBox="0 0 108 285" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0564 206.345L22.1215 201.929L26.5371 209.877L21.2383 213.41L15.0564 206.345Z" fill="#FBBEBE"/>
                                    <path d="M34.4854 260.216L39.7842 251.385L45.9661 255.8L43.3167 269.93L34.4854 260.216Z" fill="#FBBEBE"/>
                                    <path d="M80.2444 158.028C64.7896 149.638 48.8932 131.975 40.5034 119.17C44.1831 115.932 52.9556 108.307 58.6077 103.715C139.414 164.21 114.245 168.625 26.3733 211.016C24.607 210.133 21.0745 205.717 21.0745 202.184C44.9191 189.379 73.1794 165.093 80.2444 158.028Z" fill="#4936B2"/>
                                    <path d="M44.9191 166.859C19.1316 147.077 8.56345 127.412 6.50281 120.053L43.1529 116.079C84.2186 148.313 56.3999 226.029 47.127 256.497C46.2645 259.331 40.5035 256.056 37.8541 252.082C40.0619 244.575 46.2438 181.431 44.9191 166.859Z" fill="#543DCC"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.9525 34.5753C11.9651 41.9592 -12.4837 70.5977 7.38686 129.326C33.4393 136.833 61.6996 117.404 67.44 108.131C63.1619 100.505 60.6076 85.2005 58.1268 70.3367C57.6695 67.5971 57.2148 64.8725 56.7522 62.2137C57.5999 62.4834 58.5191 62.6494 59.4917 62.6494C62.3039 59.7448 65.8364 52.2381 66.1152 47.6361C61.1094 37.6244 38.9007 31.4843 30.9525 34.5753Z" fill="#F23071"/>
                                    <path d="M48.3518 284.009C47.2134 283.836 46.1739 283.012 45.2971 282.213C43.3365 280.334 41.4697 278.387 39.7902 276.301L38.086 274.378C36.3817 272.455 34.7712 270.463 33.2543 268.402C31.3927 265.872 29.7185 263.205 28.3253 260.331C27.987 259.871 28.1815 259.426 28.5921 259.124C31.1215 257.262 33.9267 255.775 36.8698 254.476C38.1071 253.998 37.0751 257.502 37.144 257.595C36.2519 261.216 41.8266 263.524 44.4346 264.362C45.3963 264.651 46.2109 265.026 46.9819 265.664C47.903 266.719 48.4741 267.888 48.6704 269.332C48.9799 271.126 48.8952 272.777 49.2047 274.571C49.4011 276.015 49.9474 277.346 50.5874 278.609C51.2274 279.871 52.2617 281.276 51.6448 282.596C50.8901 283.73 49.5591 284.276 48.3518 284.009Z" fill="#443D66"/>
                                    <path d="M47.9782 284.285C46.8398 284.112 45.8003 283.288 44.9235 282.489C42.9629 280.61 41.0961 278.663 39.4166 276.577L37.7124 274.654C36.0082 272.731 34.3976 270.739 32.8808 268.678C31.0192 266.148 29.3449 263.481 27.9517 260.607C27.5216 259.719 27.8622 259.084 28.3175 258.749C30.8469 256.887 34.0215 255.706 36.8709 254.476C38.1083 253.998 37.0762 257.502 37.1452 257.596C36.2531 261.216 41.8277 263.524 44.4358 264.362C45.3974 264.652 46.212 265.026 46.9831 265.664C45.2774 266.486 41.8179 265.711 40.4285 265C37.292 263.396 36.5827 258.944 33.7495 257.495C32.7549 257.134 31.2504 258.921 31.4022 259.8C33.6252 266.676 41.501 273.802 46.2808 279.035C47.1329 279.997 48.0787 280.889 49.2118 281.644C49.9755 282.093 50.7639 282.379 51.646 282.596C51.3545 283.966 49.1856 284.552 47.9782 284.285Z" fill="white"/>
                                    <path d="M27.6322 233.509C26.5105 233.249 25.5377 232.348 24.725 231.484C22.9152 229.459 21.204 227.373 19.6903 225.164L18.1394 223.115C16.5885 221.067 15.1363 218.956 13.7828 216.785C12.1217 214.119 10.6581 211.331 9.49061 208.358C9.1888 207.874 9.41699 207.444 9.84971 207.175C12.5151 205.514 15.4265 204.247 18.4611 203.179C19.7315 202.798 18.4325 206.212 18.494 206.31C18.2093 207.173 18.2207 207.851 18.7129 208.641C20.0292 210.973 22.8506 212.641 25.2413 213.618C26.1777 213.982 26.961 214.418 27.6806 215.113C28.5176 216.237 28.9969 217.445 29.0813 218.9C29.2516 220.713 29.0399 222.353 29.2102 224.165C29.2946 225.62 29.7367 226.99 30.2775 228.297C30.8184 229.605 31.7412 231.086 31.0244 232.355C30.1846 233.426 28.8154 233.868 27.6322 233.509Z" fill="#443D66"/>
                                    <path d="M27.2374 233.755C26.1157 233.495 25.1428 232.594 24.3302 231.73C18.2644 224.945 12.4508 217.147 9.09577 208.604C8.83365 207.936 9.2099 207.025 9.60364 206.78C12.269 205.119 15.5253 204.186 18.4611 203.179C19.7315 202.798 18.5268 206.246 18.5884 206.345C17.7052 209.436 22.7056 212.582 25.2413 213.618C26.1777 213.982 26.9611 214.418 27.6807 215.113C25.9166 215.802 22.5273 214.762 21.1967 213.946C18.5356 212.315 17.3438 209.083 15.584 206.479C15.4609 206.282 15.3379 206.084 15.1161 205.949C14.7341 205.775 14.179 205.984 13.8457 206.329C13.2534 206.698 12.5251 207.289 12.5981 208.066C12.684 208.424 12.7698 208.781 12.9544 209.077C16.7801 215.876 21.1982 222.306 25.9497 228.39C26.7251 229.415 27.5993 230.378 28.6709 231.217C29.3977 231.724 30.1617 232.07 31.0244 232.355C30.6281 233.698 28.4206 234.115 27.2374 233.755Z" fill="white"/>
                                    <path d="M24.1659 41.8955C26.9919 39.0694 27.9928 34.536 28.14 32.6225C28.8873 22.9081 38.2961 10.5442 50.2184 18.934C47.1274 38.3629 41.8286 33.5057 39.1792 32.6225C41.387 34.3888 39.6208 46.7527 38.2961 50.2852C36.9714 53.8178 20.6334 45.428 24.1659 41.8955Z" fill="#FBBEBE"/>
                                    <path d="M34.3222 27.7655C34.3222 31.9586 25.4861 33.7035 25.2124 31.9586C24.7724 29.1541 26.0618 24.7202 26.0952 22.2114C26.153 17.8722 25.2946 14.4493 26.5368 11.1722C27.2667 9.24653 28.3956 7.88401 29.1862 6.75653C30.3924 5.03624 30.5109 4.10713 33.6018 2.78244C35.4112 1.83629 36.9461 1.20286 38.9006 1.01615C41.1437 0.801884 45.8151 2.43239 48.6151 2.78242C52.1477 3.22403 53.6883 6.36083 55.2386 8.52282C59.7668 14.8376 55.2386 20.0036 50.2186 18.9341C44.9815 17.8184 40.8539 17.4028 38.0176 19.3474C35.6765 20.9525 34.3222 23.7721 34.3222 27.7655Z" fill="#443D66"/>
                                    <path d="M57.8884 99.9272L57.0052 103.46L57.4468 103.901L60.0962 100.402L57.8884 99.9272Z" fill="#443D66"/>
                                    <path d="M75.993 71.2253C73.8735 69.1058 64.2179 63.5715 59.2134 61.5108C57.8887 60.6278 61.8628 48.7054 65.3954 47.8223C70.6942 49.5885 84.8243 65.0762 86.149 69.4919C87.4737 73.9075 63.1875 99.0769 61.8628 99.96C60.5381 100.843 53.2542 101.185 52.1483 95.1028C51.2652 90.2455 58.4775 91.6846 60.9797 92.4205C66.7201 84.0308 73.3436 74.7579 75.993 71.2253Z" fill="#FBBEBE"/>
                                    <path d="M66.5573 74.13C69.2067 74.5716 66.0867 77.8636 63.9079 79.8704C30.3488 110.78 32.5566 123.144 12.6861 91.3511C2.08851 76.7794 20.546 73.0702 21.959 74.13C23.7253 75.4547 30.3488 94.8836 31.2319 96.2083C32.1151 97.533 46.6868 90.468 53.7519 82.0782C60.8169 73.6884 63.9079 73.6884 66.5573 74.13Z" fill="#FBBEBE"/>
                                    <path d="M79.5252 55.3289L62.3041 78.7647L59.6547 91.9789L60.9794 92.4205L75.9926 71.2253L79.5252 55.3289Z" fill="#443D66"/>
                                </svg>
            .main__mobile-slider-item
                .main__images__exposure2
                    .main__images__exposure2_wrap
                        .figure
                            .man.position
                                <svg class="arm shoulder" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M52 15.5C55.1139 22.7654 47.501 27.0003 10.0019 42.6734C6.52655 40.2366 3.39323 31.6031 4.48664 28.8225C10.7992 23.9665 31.635 17.2408 40.0212 14.5761C45.5001 12.8351 50.5 12 52 15.5Z" fill="#FBBEBE"/>
                                </svg>
                                <svg class="arm pointer" viewBox="0 0 73 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.9351 11.4657C27.9126 15.9779 27.203 16.6161 26.904 19.7091C42.0937 39.2873 50.0505 51.4967 52.0578 60C56.7792 80 39.5311 72.5 39.5311 64.5766C39.1784 58.4755 30.2203 31.1034 22.8738 21.7934C15.5273 12.4835 21.8737 -0.156201 23.0653 0.312403C24.257 0.781007 21.5881 5.23526 21.9988 7.68997C22.4094 10.1447 25.9576 6.95348 26.9351 11.4657Z" fill="#FBBEBE"/>
                                </svg>
                                <svg viewBox="0 0 176 318" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.8289 243.792C15.6825 244.219 18.6703 245.5 20.8045 245.5C21.9427 247.918 23.3653 251.475 22.9386 253.609C20.8045 254.89 15.2556 255.317 11.4141 254.89C7.99948 249.341 13.9752 243.365 14.8289 243.792Z" fill="#FBBEBE"/>
                                    <path d="M43.0005 287.329C44.1387 286.76 46.5859 283.402 47.2689 281.353C50.1144 282.065 55.2541 282.954 54.9518 284.768C54.0981 289.89 52.3908 294.158 48.9761 298.426C43.8542 296.036 42.2891 289.748 43.0005 287.329Z" fill="#FBBEBE"/>
                                    <path d="M49.832 316.916C48.6993 316.495 47.8072 315.427 47.0769 314.418C45.4638 312.069 43.9616 309.67 42.6814 307.168L41.341 304.828C40.0007 302.489 38.7713 300.098 37.6529 297.657C36.2803 294.66 35.1296 291.562 34.3119 288.312C34.0625 287.768 34.3574 287.351 34.8438 287.129C37.8401 285.756 41.0397 284.827 44.341 284.12C45.7142 283.894 43.9058 287.274 43.9566 287.385C42.2669 290.914 47.5018 294.475 50.0025 295.893C50.9286 296.396 51.6856 296.955 52.3416 297.775C53.0626 299.056 53.3998 300.378 53.2932 301.904C53.2281 303.813 52.7886 305.492 52.7235 307.401C52.6168 308.927 52.894 310.411 53.2821 311.844C53.6702 313.278 54.4327 314.942 53.517 316.167C52.4997 317.17 51.0155 317.448 49.832 316.916Z" fill="#443D66"/>
                                    <path d="M49.3876 317.119C48.2549 316.698 47.3628 315.63 46.6325 314.622C45.0193 312.273 43.5172 309.873 42.237 307.372L40.8966 305.032C39.5562 302.692 38.3269 300.302 37.2085 297.86C35.8359 294.864 34.6852 291.766 33.8675 288.516C33.615 287.512 34.1006 286.932 34.64 286.685C37.6362 285.312 41.1501 284.777 44.3405 284.121C45.7137 283.894 43.9052 287.274 43.9561 287.385C42.2664 290.914 47.5013 294.475 50.0019 295.893C50.9281 296.396 51.6851 296.955 52.341 297.775C50.413 298.256 47.0243 296.72 45.7484 295.693C42.8683 293.376 43.0903 288.65 40.4886 286.557C39.5439 285.973 37.6167 287.488 37.5848 288.424C38.4007 295.962 44.971 304.966 48.7645 311.363C49.4347 312.533 50.2158 313.652 51.2189 314.669C51.9077 315.293 52.6566 315.756 53.5165 316.168C52.9244 317.513 50.5711 317.651 49.3876 317.119Z" fill="white"/>
                                    <path d="M1.42823 272.856C0.78921 271.819 0.742577 270.417 0.78723 269.164C0.96175 266.297 1.25596 263.459 1.78956 260.678L2.17506 257.987C2.56056 255.297 3.06575 252.636 3.69063 250.003C4.45754 246.771 5.46382 243.596 6.82918 240.506C6.96853 239.919 7.4609 239.771 7.98555 239.896C11.2172 240.663 14.3353 241.908 17.3966 243.393C18.628 244.065 15.096 245.629 15.0676 245.749C11.5369 247.506 13.4887 253.58 14.5968 256.257C15.0207 257.231 15.2758 258.144 15.2885 259.203C15.0673 260.668 14.5155 261.927 13.4849 263.074C12.2494 264.55 10.8597 265.611 9.62423 267.088C8.59363 268.234 7.89372 269.586 7.31349 270.965C6.73326 272.345 6.3072 274.14 4.82016 274.546C3.38993 274.712 2.03884 274.012 1.42823 272.856Z" fill="#443D66"/>
                                    <path d="M0.949751 272.742C0.310732 271.706 0.26408 270.304 0.308734 269.05C0.483254 266.183 0.777482 263.345 1.31108 260.564L1.69656 257.874C2.08206 255.184 2.58727 252.522 3.21216 249.889C3.97906 246.657 4.98534 243.483 6.35071 240.393C6.77225 239.439 7.51776 239.279 8.09945 239.417C11.3311 240.184 14.4553 241.937 17.3969 243.393C18.6283 244.065 15.0963 245.629 15.0679 245.749C11.5372 247.506 13.489 253.581 14.597 256.257C15.0209 257.231 15.2761 258.145 15.2888 259.203C13.4589 258.389 11.7183 255.068 11.341 253.462C10.4893 249.835 13.5956 246.217 12.8262 242.941C12.4373 241.892 9.96695 241.9 9.36124 242.624C5.33612 249.12 4.97516 260.347 4.0233 267.782C3.83055 269.127 3.75749 270.501 3.92382 271.931C4.08407 272.854 4.39241 273.686 4.82045 274.546C3.51599 275.248 1.56037 273.899 0.949751 272.742Z" fill="white"/>
                                    <path d="M64.2752 212.634C60.4338 202.39 54.0313 163.548 53.1777 143.914C62.9948 141.495 83.1411 138.109 85.1899 143.914C87.7509 151.17 87.3241 202.39 85.1899 214.768C83.0558 227.146 62.5679 274.524 55.3118 286.475C52.7508 286.902 47.6289 284.768 46.3484 281.78C53.1777 265.561 64.2752 229.28 64.2752 212.634Z" fill="#4936B3"/>
                                    <path d="M22.0193 254.89C122.39 244.646 101.902 254.89 105.251 145.621C94.5803 146.048 71.6169 148.097 65.1291 152.877C66.4096 171.231 75.7998 215.195 79.6413 223.304C75.373 227.999 45.9217 241.658 19.8851 244.646C18.6046 247.207 18.6046 252.329 22.0193 254.89Z" fill="#543DCC"/>
                                    //- <path d="M150.051 20.2083C193.577 76.309 177.714 71.9054 132.659 93.1731C129.184 90.7363 126.05 82.1028 127.144 79.3223C133.456 74.4663 154.292 67.7406 162.678 65.0759C162.326 58.9748 153.368 31.6026 146.021 22.2927C138.675 12.9828 145.021 0.343066 146.213 0.81167C147.404 1.28027 144.735 5.73453 145.146 8.18924C145.557 10.644 149.105 7.45274 150.082 11.9649C151.06 16.4771 150.35 17.1154 150.051 20.2083Z" fill="#FBBEBE"/>
                                    <path d="M143.51 115.079C141.38 114.632 128.823 109.258 122.263 105.058C117.911 105.826 110.696 106.701 113.971 110.331C118.065 114.868 135.554 119.567 141.495 119.788C149.208 123.461 153.415 121.949 154.554 120.734C152.796 117.97 148.979 112.499 147.768 112.723C146.255 113.004 144.406 114.07 143.51 115.079Z" fill="#FBBEBE"/>
                                    <path d="M155.755 121.44L146.726 113.422C145.907 112.694 145.826 111.442 146.545 110.615L160.57 94.4731C161.226 93.7186 162.338 93.564 163.175 94.111L172.239 100.037C173.215 100.675 173.44 102.01 172.728 102.933L158.667 121.165C157.959 122.083 156.622 122.209 155.755 121.44Z" fill="#443D66"/>
                                    <path d="M157.847 118.048L149.667 110.632C149.265 110.268 149.227 109.649 149.582 109.238L161.254 95.7252C161.582 95.3455 162.14 95.2676 162.559 95.543L171.066 101.13C171.555 101.451 171.666 102.121 171.305 102.582L159.307 117.923C158.949 118.381 158.278 118.438 157.847 118.048Z" fill="#F23071"/>
                                    <path d="M92.8736 70.9262C80.7801 89.2798 55.3979 130.085 50.6174 146.475C59.5809 161.841 96.715 162.268 107.813 154.585C107.813 131.109 117.203 103.365 138.118 92.2677C136.979 86.1498 134.703 79.8896 128.727 76.9018C122.752 79.8896 112.935 74.3408 104.398 68.792C97.5687 64.353 93.8695 68.3652 92.8736 70.9262Z" fill="white"/>
                                    <path d="M124.031 54.7067C124.458 49.1579 115.922 44.0359 111.653 41.0481C105.678 43.6091 99.341 70.0725 102.329 73.914C105.317 77.7555 107.451 78.1823 112.146 78.1823C114.707 78.1823 115.56 77.3286 115.56 74.7677C115.56 60.4297 123.631 59.9115 124.031 54.7067Z" fill="#FBBEBE"/>
                                    <path d="M109.214 61.6332C111.353 65.8395 109.214 72.1014 105.347 73.8298C100.514 75.9902 99.4723 89.7809 97.1309 94.1574C94.231 99.5781 88.9141 101.074 86.4975 103.784C82.1989 108.605 82.9209 116.433 79.7309 121.402C76.8309 125.919 71.7215 128.177 70.0643 133.598C68.131 139.922 55.0814 143.395 51.2147 142.492C47.3481 140.986 51.2147 133.457 51.2147 130.747C51.2147 127.133 45.883 122.305 46.3813 117.647C47.3477 108.613 53.1479 109.998 53.1479 96.416C53.1479 91.447 51.5599 86.4781 56.0479 80.6056C59.8455 75.6367 66.9113 70.6677 71.9977 62.9884C78.281 53.5022 75.8643 47.6298 88.9142 38.5953C109.697 27.3021 115.981 40.8539 111.631 45.8229C107.281 50.7918 106.715 56.7205 109.214 61.6332Z" fill="#443D66"/>
                                </svg>
                            .board.position
                                <svg class="graphic-1" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 30C23.2843 30 30 23.2843 30 15C30 6.7157 23.2843 0 15 0C6.7157 0 0 6.7157 0 15C0 23.2843 6.7157 30 15 30ZM15 23C19.4183 23 23 19.4183 23 15C23 10.5817 19.4183 7 15 7C10.5817 7 7 10.5817 7 15C7 19.4183 10.5817 23 15 23Z" fill="#543DCC"/>
                                    <path class="exposure-2-graphic__1" fill-rule="evenodd" clip-rule="evenodd" d="M5.07555 3.75232C1.96298 6.5008 0 10.5212 0 15C0 16.737 0.295235 18.405 0.83826 19.9566L7.44706 17.6436C7.15745 16.816 7 15.9264 7 15C7 12.6113 8.04691 10.4671 9.70694 9.00124L5.07555 3.75232Z" fill="#DEDAF2"/>
                                    <path class="exposure-2-graphic__1" fill-rule="evenodd" clip-rule="evenodd" d="M10.2553 0.765869C8.32425 1.40924 6.56779 2.43459 5.07556 3.75226L9.70697 9.00117C10.5028 8.29842 11.4396 7.75157 12.4695 7.40845L10.2553 0.765869Z" fill="white"/>
                                    <path class="exposure-2-graphic__2" fill-rule="evenodd" clip-rule="evenodd" d="M19.1218 0.573423C17.8122 0.199956 16.4294 0 14.9999 0C13.3418 0 11.7465 0.269052 10.2552 0.765882L12.4694 7.40846C13.2648 7.14349 14.1156 7 14.9999 7C15.7623 7 16.4998 7.10664 17.1983 7.30582L19.1218 0.573423Z" fill="#B6ACE5"/>
                                    <path class="exposure-2-graphic__3" fill-rule="evenodd" clip-rule="evenodd" d="M30 14.9999C30 8.14508 25.402 2.36426 19.1219 0.573364L17.1984 7.30576C20.5478 8.26089 23 11.344 23 14.9999H30Z" fill="#E5175C"/>
                                </svg>
                                <svg class="graphic-2" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="15" cy="14.9999" rx="15" ry="14.9999" fill="#B6ACE5"/>
                                    <path class="exposure-2-graphic__1" fill-rule="evenodd" clip-rule="evenodd" d="M26.2477 5.07548C23.4992 1.96295 19.4789 0 15 0C12.5882 0 10.3093 0.569213 8.29041 1.58063L15 14.9999L26.2477 5.07548Z" fill="#543DCC"/>
                                    <path class="exposure-2-graphic__2" fill-rule="evenodd" clip-rule="evenodd" d="M8.29033 1.58057L15 14.9998L1.17188 9.17747C2.5636 5.87621 5.103 3.17732 8.29033 1.58057Z" fill="#E5175C"/>
                                    <path class="exposure-2-graphic__3" fill-rule="evenodd" clip-rule="evenodd" d="M0.0812002 16.5701C0.0275167 16.0541 0 15.5302 0 14.9999C0 12.9351 0.417211 10.9677 1.17193 9.17749L15 14.9997L0.0812002 16.5701Z" fill="#DEDAF2"/>
                                </svg>
                                <svg viewBox="0 0 219 163" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M218.537 162.768V58.6211L0 0.572266V104.719L218.537 162.768Z" fill="white"/>
                                    <path d="M207.416 151.908V73.3714L152.782 58.8591V137.396L207.416 151.908Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M195.173 115.119V80.1957L158.081 70.3398V105.232L195.173 115.119Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M169.562 124.602L158.081 121.562V122.5L169.562 125.55V124.602Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M195.173 122.554V123.521L158.081 113.669V112.73L195.173 122.554Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M195.173 126.969V127.937L158.081 118.084V117.146L195.173 126.969Z" fill="#B6ACE5"/>
                                    <circle class="circle-pointer" cx="173.294" cy="89.353" r="1.91464" stroke="#543DCC"/>
                                    //- <circle cx="173.293" cy="89.3529" r="5.47562" stroke="#543DCC"/>
                                    <path class="graphic-lines" d="M14.1301 72.5476L25.6109 63.7163L37.0916 51.3524L48.5724 54.885L60.0531 41.6379" stroke="#543DCC"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8964 78.2879L12.3639 77.4049V99.4832L15.8964 100.366V78.2879Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3771 68.5735L23.8446 67.6904V102.133L27.3771 103.016V68.5735Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M38.8579 56.2096L35.3253 55.3265V105.665L38.8579 106.548V56.2096Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3387 59.7422L46.8062 58.8591V108.315L50.3387 109.198V59.7422Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8194 46.4951L58.2869 45.6121V111.847L61.8194 112.73V46.4951Z" fill="#DEDAF2"/>
                                    <path class="graphic-point-1" d="M 14.1302 74.7555 C 15.1056 74.7555 15.8964 73.767 15.8964 72.5477 C 15.8964 71.3283 15.1056 70.3398 14.1302 70.3398 C 13.1547 70.3398 12.3639 71.3283 12.3639 72.5477 C 12.3639 73.767 13.1547 74.7555 14.1302 74.7555Z" fill="#E5175C"/>
                                    <path class="graphic-point-2" d="M25.6109 65.9242C26.5864 65.9242 27.3771 64.9357 27.3771 63.7164C27.3771 62.497 26.5864 61.5085 25.6109 61.5085C24.6354 61.5085 23.8446 62.497 23.8446 63.7164C23.8446 64.9357 24.6354 65.9242 25.6109 65.9242Z" fill="#E5175C"/>
                                    <path class="graphic-point-3" d="M37.0916 53.5603C38.0671 53.5603 38.8579 52.5718 38.8579 51.3525C38.8579 50.1331 38.0671 49.1447 37.0916 49.1447C36.1161 49.1447 35.3253 50.1331 35.3253 51.3525C35.3253 52.5718 36.1161 53.5603 37.0916 53.5603Z" fill="#E5175C"/>
                                    <path class="graphic-point-4" d="M48.5724 57.0929C49.5479 57.0929 50.3387 56.1044 50.3387 54.8851C50.3387 53.6657 49.5479 52.6772 48.5724 52.6772C47.5969 52.6772 46.8062 53.6657 46.8062 54.8851C46.8062 56.1044 47.5969 57.0929 48.5724 57.0929Z" fill="#E5175C"/>
                                    <path class="graphic-point-5" d="M60.0531 43.8458C61.0286 43.8458 61.8194 42.8574 61.8194 41.638C61.8194 40.4187 61.0286 39.4302 60.0531 39.4302C59.0777 39.4302 58.2869 40.4187 58.2869 41.638C58.2869 42.8574 59.0777 43.8458 60.0531 43.8458Z" fill="#E5175C"/>
                                    //- <ellipse class="exposure-2-graphic-2__1" cx="105.976" cy="109.198" rx="14.1301" ry="15.8964" fill="#B6ACE5"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M115.923 97.9069C113.369 95.0598 109.855 93.3013 105.976 93.3013C103.562 93.3013 101.29 93.9822 99.3022 95.1826L105.976 109.198L115.923 97.9069Z" fill="#543DCC"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M99.302 95.1825L105.976 109.198L92.7292 103.652C93.934 100.011 96.2912 97.0008 99.302 95.1825Z" fill="#E5175C"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M91.9571 111.2C91.8838 110.544 91.846 109.876 91.846 109.198C91.846 107.247 92.1582 105.379 92.7295 103.653L105.976 109.198L91.9571 111.2Z" fill="#DEDAF2"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M105.976 82.7037C113.78 82.7037 120.106 75.5867 120.106 66.8073C120.106 58.0279 113.78 50.9109 105.976 50.9109C98.1721 50.9109 91.8459 58.0279 91.8459 66.8073C91.8459 75.5867 98.1721 82.7037 105.976 82.7037ZM105.976 74.7555C109.878 74.7555 113.041 71.1969 113.041 66.8073C113.041 62.4177 109.878 58.8591 105.976 58.8591C102.074 58.8591 98.911 62.4177 98.911 66.8073C98.911 71.1969 102.074 74.7555 105.976 74.7555Z" fill="#543DCC"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M102.874 51.2953C100.574 51.8749 98.486 53.0852 96.7608 54.7564L101.369 60.7819C102.231 59.9463 103.275 59.3411 104.425 59.0513L102.874 51.2953Z" fill="white"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M92.093 69.7823L99.0346 68.2949C98.9535 67.813 98.9111 67.3158 98.9111 66.8074C98.9111 64.3983 99.8638 62.2396 101.368 60.782L96.7608 54.7565C93.7514 57.6717 91.846 61.9892 91.846 66.8074C91.846 67.8242 91.9309 68.8186 92.093 69.7823Z" fill="#DEDAF2"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M112.905 52.9499C110.858 51.6516 108.494 50.9109 105.976 50.9109C104.91 50.9109 103.872 51.0436 102.874 51.2952L104.425 59.0513C104.924 58.9255 105.443 58.8591 105.976 58.8591C107.235 58.8591 108.417 59.2295 109.441 59.8786L112.905 52.9499Z" fill="#B6ACE5"/>
                                    //- <path fill-rule="evenodd" clip-rule="evenodd" d="M120.106 66.8072C120.106 60.8306 117.174 55.6243 112.84 52.9093L109.408 59.8583C111.575 61.2158 113.041 63.819 113.041 66.8072H120.106Z" fill="#E5175C"/>
                                </svg>
                        .info
                            p.headline 15000
                            p.paragraph Операций <br> в секунду
            .main__mobile-slider-item
                .main__images__exposure3
                    .main__images__exposure3_wrap
                        .man.position
                            <svg class="foot right-foot" viewBox="0 0 291 209" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M226.188 2.05549C259.374 33.8435 300.685 84.1703 287.993 135.809C276.993 180.766 195.722 208.5 164.497 208.5C104.041 208.5 77.5277 174.625 33.8685 156.892C26.9399 153.976 25.8224 144.557 32.0805 140.295C48.8433 128.632 77.0049 111.811 121.035 111.811C165.066 111.811 217.719 51.395 213.566 16.94C211.772 2.05533 220.725 -3.17659 226.188 2.05549Z" fill="#B6ACE5"/>
                                <path d="M34.3961 193.915C33.3252 190.703 33.3252 188.561 33.3252 186.419L22.6161 184.277C22.2591 186.776 21.7594 192.416 22.6161 194.986C25.8288 197.128 32.2543 196.057 34.3961 193.915Z" fill="#FBBEBE"/>
                                <path d="M2.56774 203.989C3.55477 204.793 5.00166 205.034 6.30756 205.16C9.30332 205.372 12.2861 205.457 15.2428 205.286L18.0845 205.255C20.9262 205.225 23.755 205.066 26.5707 204.78C30.0263 204.428 33.4559 203.821 36.8464 202.83C37.4743 202.766 37.6952 202.276 37.6382 201.715C37.2867 198.259 36.4233 194.855 35.3039 191.478C34.7767 190.109 32.6704 193.556 32.5425 193.569C30.2364 196.988 24.2062 194.131 21.5833 192.615C20.6317 192.042 19.72 191.652 18.6244 191.493C17.0756 191.522 15.6938 191.921 14.364 192.832C12.6633 193.91 11.3726 195.205 9.67194 196.283C8.3422 197.194 6.84541 197.734 5.33561 198.147C3.82581 198.559 1.90601 198.754 1.28129 200.24C0.912539 201.7 1.45273 203.197 2.56774 203.989Z" fill="#443D66"/>
                                <path d="M2.62045 204.5C3.60748 205.305 5.05437 205.546 6.36027 205.672C9.35602 205.884 12.3388 205.969 15.2955 205.797L18.1372 205.767C20.979 205.736 23.8077 205.578 26.6234 205.292C30.079 204.94 33.5086 204.333 36.8991 203.341C37.9459 203.035 38.2141 202.284 38.1508 201.662C37.7993 198.207 36.4109 194.727 35.3045 191.478C34.7774 190.109 32.6711 193.556 32.5431 193.569C30.237 196.988 24.2069 194.131 21.584 192.615C20.6324 192.041 19.7206 191.652 18.6251 191.493C19.2173 193.502 22.4213 195.762 24.0353 196.374C27.6785 197.755 31.8553 195.031 35.1463 196.278C36.1806 196.826 35.8326 199.385 34.9988 199.914C27.712 203.195 16.0232 202.028 8.18457 201.995C6.7637 202.01 5.32981 201.897 3.86989 201.528C2.93493 201.236 2.11493 200.802 1.28192 200.24C0.375193 201.496 1.50543 203.709 2.62045 204.5Z" fill="white"/>
                                <path d="M21.5446 185.657C31.1828 81.2439 44.0337 83.3855 122.745 114.442C131.848 122.474 150.054 140.786 150.054 149.782C112.572 157.278 59.5619 134.789 54.2073 130.506C45.1046 143.357 34.9309 181.6 33.86 189.096C27.8629 189.953 24.7573 187.799 21.5446 185.657Z" fill="#E5175C"/>
                            </svg>


                            <svg class="foot left-foot active" id="left-foot" viewBox="0 0 221 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.1648 63.2662C33.2992 61.1171 38.6389 56.8152 42.842 55.8999L39.671 45.4493C35.3914 46.6525 23.1036 54.7265 20.4374 57.9484C20.0673 61.7918 26.8901 65.9581 31.1648 63.2662Z" fill="#FBBEBE"/>
                                <path d="M2.28838 61.076C2.92644 62.145 4.1753 62.8493 5.33303 63.4009C8.01426 64.5965 10.7263 65.6702 13.4999 66.5L16.1207 67.4209C18.7416 68.3419 21.3932 69.1409 24.0756 69.818C27.3677 70.649 30.7213 71.2361 34.1672 71.4575C34.7654 71.6085 35.132 71.2319 35.2669 70.6975C36.0979 67.4054 36.4412 63.9902 36.5406 60.5135C36.5134 59.08 33.4273 61.5434 33.3054 61.5127C30.0451 63.8838 25.4593 59.2453 23.5559 56.9765C22.873 56.1322 22.1656 55.4696 21.212 54.9582C19.7796 54.467 18.3769 54.3723 16.851 54.7653C14.9286 55.1879 13.3104 55.9467 11.3879 56.3693C9.86207 56.7624 8.30661 56.7588 6.78192 56.6333C5.25723 56.5079 3.4283 56.0462 2.35819 57.2028C1.53192 58.4209 1.5284 59.9763 2.28838 61.076Z" fill="#443D66"/>
                                <path d="M2.16583 61.5636C2.80388 62.6325 4.05274 63.3369 5.21047 63.8885C7.8917 65.0841 10.6037 66.1577 13.3773 66.9875L15.9982 67.9085C18.619 68.8294 21.2707 69.6285 23.9531 70.3056C27.2451 71.1365 30.5987 71.7237 34.0447 71.945C35.1086 72.0133 35.6056 71.413 35.7552 70.8204C36.5862 67.5284 36.4725 63.8682 36.5412 60.5134C36.5139 59.0798 33.4279 61.5433 33.3059 61.5125C30.0456 63.8837 25.4598 59.2451 23.5564 56.9764C22.8736 56.132 22.1661 55.4694 21.2126 54.9581C21.0859 57.0012 23.2747 60.1477 24.5532 61.2486C27.4391 63.7337 32.1858 62.626 34.7928 64.8708C35.5603 65.719 34.3858 67.9545 33.4433 68.1617C25.6533 68.7431 15.3043 63.7681 8.11424 61.1196C6.80381 60.6592 5.52416 60.0768 4.30606 59.2505C3.54489 58.6693 2.93642 57.9969 2.35874 57.2026C1.10632 58.0537 1.40584 60.4639 2.16583 61.5636Z" fill="white"/>
                                <path d="M134.35 37.0433C198.075 57.0733 218.385 43.5405 220.574 34.2703C221.963 28.387 218.497 21.4083 167.171 6.15359C130.834 -8.48944 101.824 10.3301 34.177 45.3256C34.6934 49.0765 38.9497 54.4528 42.6863 56.6137C78.6542 38.5912 115.609 36.9478 134.35 37.0433Z" fill="#F23071"/>
                            </svg>
                            .man__body
                                <svg viewBox="0 0 322 209" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    //- <path d="M257.188 2.05549C290.374 33.8435 331.685 84.1703 318.993 135.809C307.993 180.766 226.722 208.5 195.497 208.5C135.041 208.5 108.528 174.625 64.8685 156.892C57.9399 153.976 56.8224 144.557 63.0805 140.295C79.8433 128.632 108.005 111.811 152.035 111.811C196.066 111.811 248.719 51.395 244.566 16.94C242.772 2.05533 251.725 -3.17659 257.188 2.05549Z" fill="#B6ACE5"/>
                                    //- <path d="M65.3961 193.915C64.3252 190.703 64.3252 188.561 64.3252 186.419L53.6161 184.277C53.2591 186.776 52.7594 192.416 53.6161 194.986C56.8288 197.128 63.2543 196.057 65.3961 193.915Z" fill="#FBBEBE"/>
                                    //- <path d="M30.0559 179.994C32.1977 177.852 37.5521 173.568 41.7584 172.667L38.6231 162.206C34.3394 163.394 22.024 171.426 19.3468 174.639C18.9635 178.481 25.7721 182.671 30.0559 179.994Z" fill="#FBBEBE"/>
                                    //- <path d="M1.18722 177.704C1.82161 178.775 3.06805 179.484 4.22388 180.039C6.901 181.244 9.60933 182.327 12.38 183.166L14.9977 184.096C17.6154 185.026 20.2643 185.834 22.9444 186.521C26.2336 187.363 29.5851 187.962 33.0303 188.195C33.6279 188.348 33.9959 187.973 34.1326 187.439C34.9749 184.149 35.3298 180.735 35.4412 177.259C35.4188 175.825 32.3244 178.278 32.2026 178.247C28.9341 180.607 24.3643 175.953 22.4686 173.678C21.7887 172.831 21.0835 172.166 20.1317 171.651C18.701 171.155 17.2986 171.056 15.7714 171.443C13.8475 171.859 12.2267 172.613 10.3028 173.029C8.77564 173.416 7.22019 173.408 5.69594 173.277C4.17169 173.146 2.34436 172.678 1.27029 173.831C0.439858 175.046 0.431003 176.602 1.18722 177.704Z" fill="#443D66"/>
                                    //- <path d="M1.06303 178.191C1.69742 179.263 2.94386 179.971 4.09968 180.527C6.77681 181.732 9.48514 182.814 12.2558 183.654L14.8735 184.584C17.4912 185.514 20.1401 186.322 22.8202 187.008C26.1094 187.85 29.461 188.449 32.9061 188.682C33.9698 188.754 34.4689 188.155 34.6205 187.563C35.4628 184.274 35.3616 180.614 35.4418 177.259C35.4194 175.825 32.325 178.278 32.2031 178.247C28.9347 180.607 24.3648 175.953 22.4692 173.678C21.7893 172.831 21.0841 172.166 20.1323 171.651C19.9986 173.694 22.1766 176.848 23.4513 177.953C26.3287 180.448 31.0792 179.357 33.6784 181.61C34.4431 182.461 33.2609 184.693 32.3177 184.897C24.5257 185.451 14.1939 180.441 7.01293 177.768C5.70408 177.303 4.42643 176.716 3.21117 175.886C2.452 175.302 1.84583 174.627 1.27088 173.831C0.0155486 174.678 0.306815 177.089 1.06303 178.191Z" fill="white"/>
                                    //- <path d="M33.5677 203.989C34.5548 204.793 36.0017 205.034 37.3076 205.16C40.3033 205.372 43.2861 205.457 46.2428 205.286L49.0845 205.255C51.9262 205.225 54.755 205.066 57.5707 204.78C61.0263 204.428 64.4559 203.821 67.8464 202.83C68.4743 202.766 68.6952 202.276 68.6382 201.715C68.2867 198.259 67.4233 194.855 66.3039 191.478C65.7767 190.109 63.6704 193.556 63.5425 193.569C61.2364 196.988 55.2062 194.131 52.5833 192.615C51.6317 192.042 50.72 191.652 49.6244 191.493C48.0756 191.522 46.6938 191.921 45.364 192.832C43.6633 193.91 42.3726 195.205 40.6719 196.283C39.3422 197.194 37.8454 197.734 36.3356 198.147C34.8258 198.559 32.906 198.754 32.2813 200.24C31.9125 201.7 32.4527 203.197 33.5677 203.989Z" fill="#443D66"/>
                                    //- <path d="M33.6204 204.5C34.6075 205.305 36.0544 205.546 37.3603 205.672C40.356 205.884 43.3388 205.969 46.2955 205.797L49.1372 205.767C51.979 205.736 54.8077 205.578 57.6234 205.292C61.079 204.94 64.5086 204.333 67.8991 203.341C68.9459 203.035 69.2141 202.284 69.1508 201.662C68.7993 198.207 67.4109 194.727 66.3045 191.478C65.7774 190.109 63.6711 193.556 63.5431 193.569C61.237 196.988 55.2069 194.131 52.584 192.615C51.6324 192.041 50.7206 191.652 49.6251 191.493C50.2173 193.502 53.4213 195.762 55.0353 196.374C58.6785 197.755 62.8553 195.031 66.1463 196.278C67.1806 196.826 66.8326 199.385 65.9988 199.914C58.712 203.195 47.0232 202.028 39.1846 201.995C37.7637 202.01 36.3298 201.897 34.8699 201.528C33.9349 201.236 33.1149 200.802 32.2819 200.24C31.3752 201.496 32.5054 203.709 33.6204 204.5Z" fill="white"/>
                                    //- <path d="M52.5446 185.657C62.1828 81.2439 75.0337 83.3855 153.745 114.442C162.848 122.474 181.054 140.786 181.054 149.782C143.572 157.278 90.5619 134.789 85.2073 130.506C76.1046 143.357 65.9309 181.6 64.86 189.096C58.8629 189.953 55.7573 187.799 52.5446 185.657Z" fill="#E5175C"/>
                                    //- <path d="M133.399 154.066C197.225 173.771 217.465 160.134 219.607 150.853C220.966 144.963 217.465 138.002 166.061 123.009C129.65 108.552 100.736 127.519 33.269 162.859C33.8045 166.607 38.0881 171.962 41.8358 174.104C77.7113 155.898 114.658 154.066 133.399 154.066Z" fill="#F23071"/>
                                    <path d="M262.165 34.651C262.757 31.9402 254.878 28.3015 249.201 27.7774C202.37 12.2369 185.578 19.9489 216.205 61.3429C221.046 62.7865 227.899 57.327 230.711 54.8489C227.37 44.6041 217.291 33.1526 215.725 31.375C215.902 29.6039 235.477 29.6653 246.854 34.2422C256.227 41.0012 261.513 37.6335 262.165 34.651Z" fill="#FBBEBE"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M258.748 74.9503C266.766 98.3173 269.196 138.663 199.244 166.212C175.164 159.111 139.474 120.281 143.572 107.707C159.1 109.849 201.611 93.4739 215.323 72.9025C215.323 68.0834 215.859 63.8 214.252 60.0516C216.394 57.3745 224.961 52.0198 230.316 51.4843C234.599 53.626 255.392 65.1687 258.748 74.9503Z" fill="#543DCC"/>
                                    <path d="M251.642 69.1644C250.938 64.3694 252.805 58.874 254.488 57.2662C267.263 45.0589 260.588 28.4351 242.916 27.9676C231.86 49.1073 240.531 48.2172 243.748 49.2757C240.321 49.396 233.09 62.7032 231.822 67.0989C230.554 71.4945 252.522 75.1581 251.642 69.1644Z" fill="#FBBEBE"/>
                                    <path d="M255.911 51.2246C256.219 58.8287 259.27 61.1949 261.789 61.5952C263.003 61.7882 263.649 60.4524 263.748 59.2268C264.001 56.0898 266.62 52.7651 268.58 51.5278C271.018 49.9887 271.918 46.0113 272.308 43.6486C272.698 41.286 271.907 38.7283 275.093 37.07C278.279 35.4117 279.374 30.2529 271.093 21.6047C262.813 12.9564 254.826 15.7637 250.1 14.9835C245.375 14.2034 241.918 18.9721 240.661 20.7062C239.404 22.4403 240.477 29.1705 248.118 31.4028C254.767 33.3454 255.695 37.6519 256.217 41.201C256.351 42.1131 257.08 42.7792 257.928 43.1392C260.698 44.3139 259.81 47.0392 258.031 48.2986C257.024 49.0108 255.861 49.9925 255.911 51.2246Z" fill="#443D66"/>
                                    <path d="M90.8843 83.9589V82.519L138.401 99.3178L139.841 99.7978L189.757 126.676L189.277 127.636L127.842 133.875L90.8843 83.9589Z" fill="#543DCC"/>
                                    <path d="M128.322 132.435L138.881 98.8379L165.759 96.9181L189.757 126.676L128.322 132.435Z" fill="white"/>
                                    <path d="M136.481 126.196L142.24 101.718L157.599 100.278L168.638 122.836L136.481 126.196Z" fill="#B6ACE5"/>
                                    <path d="M173.438 112.277L168.159 105.557L160.959 106.037L165.279 113.237L173.438 112.277Z" fill="#B6ACE5"/>
                                    <path d="M128.322 132.435L138.881 98.8379L121.602 78.6794L90.8846 82.5192L128.322 132.435Z" fill="white"/>
                                    <path d="M127.842 128.596L137.921 98.8379L121.602 79.6393L94.2441 83.959L127.842 128.596Z" fill="#B6ACE5"/>
                                    <path d="M125.811 119.956L134.081 98.838L120.642 82.9991L101.444 86.6977L125.811 119.956Z" fill="#DEDAF2"/>
                                    <path d="M159.89 116.248C159.229 119.184 167.75 123.184 173.903 123.792C226.588 141.295 226.847 140.944 251.283 107.847L251.647 107.353C249.881 100.288 241.11 94.2197 239.725 94.9894C235.751 97.1972 222.062 111.769 218.088 121.483C217.884 123.403 188.801 121.838 176.493 116.796C166.373 109.401 160.616 113.018 159.89 116.248Z" fill="#FBBEBE"/>
                                </svg>
                        .info
                            p.headline 99.9%
                            p.paragraph Благодаря нашему опыту <br>и тщательному тестированию - <br>отказоустойчивость системы
            .main__mobile-slider-item
                .main__images__exposure4
                    .main__images__exposure4_wrap
                        .figure
                            .man.position
                                <svg class="arm shoulder" viewBox="0 0 65 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M38.3608 1.21822C27.4603 10.3014 20.3539 36.853 18.5644 46.925C17.3902 53.5328 29.5 87.5 45.5255 13.2926C46.2124 7.64254 41.0065 -0.986335 38.3608 1.21822Z" fill="#FBBEBE"/>
                                </svg>
                                <svg class="arm pointer" viewBox="0 0 94 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.8015 55.2209C86.5219 55.2209 90.1805 45.7789 88 31.7789C87.0655 25.7789 75.3249 30.2789 75.3249 33.5863C69.2753 37.1945 34.8179 51.0181 21.1846 50.0277C7.55135 49.0373 -0.405872 63.2652 0.811745 64.0993C2.02936 64.9333 4.55392 59.5068 7.16167 58.3115C9.76941 57.1163 9.01852 62.5651 13.956 60.5804C18.8934 58.5957 19.0436 57.5059 21.8015 55.2209Z" fill="#FBBEBE"/>
                                </svg>
                                <svg viewBox="0 0 160 315" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M118.102 283.177C117.205 282.85 114.222 281.559 112.755 280.009C110.216 280.844 106.654 282.255 105.397 284.032C105.933 286.462 109.437 290.786 112.387 293.284C118.764 291.951 118.999 283.504 118.102 283.177Z" fill="#FBBEBE"/>
                                    <path d="M35.8216 274.563C35.4528 273.345 36.2103 269.26 37.2294 267.356C34.7571 265.778 30.5789 262.655 29.469 264.121C26.3348 268.261 24.4073 272.435 23.6532 277.849C28.9095 279.927 34.5534 276.742 35.8216 274.563Z" fill="#FBBEBE"/>
                                    <path d="M75.464 207.777C85.5457 203.528 118.162 181.486 133.012 168.614C128.023 159.82 116.638 142.857 111.013 145.358C103.982 148.484 67.0663 183.993 59.5408 194.05C52.0153 204.106 31.6767 251.549 27.9811 265.033C29.431 267.187 34.5012 269.441 37.5517 268.318C44.6413 252.211 63.3711 219.216 75.464 207.777Z" fill="#E5175C"/>
                                    <path d="M105.099 285.58C43.5646 205.625 50.2024 227.548 127.28 150.025C134.303 158.07 150.045 161.253 151.03 169.251C136.9 196.628 101.133 218.265 88.4457 222.014C87.9682 228.341 98.2851 259.122 114.007 280.09C113.027 282.78 109.306 286.3 105.099 285.58Z" fill="#F23071"/>
                                    <path d="M90.686 12.9524C84.0106 18.5154 86.6152 34.8371 96.15 41.2566C97.6459 42.6582 107.832 45.0774 112.063 49.0878C117.352 54.1008 133.318 115.619 143.663 105.687C154.008 95.7546 154.823 93.344 157.582 88.367C160.34 83.3901 161.496 76.7964 162.326 71.167C163.156 65.5376 161.405 61.1842 157.244 56.0153C153.082 50.8464 151.94 40.4399 146.162 36.8732C140.384 33.3066 133.317 22.4223 131.403 18.551C129.138 13.9697 123.26 8.8799 114.608 8.87995C112.063 8.87995 109.518 10.6846 105.955 9.38899C100.357 7.35339 93.7404 10.4071 90.686 12.9524Z" fill="#443D66"/>
                                    //- <path d="M27.4939 145.029C92.2142 145.029 106.65 140.437 97.8126 83.6961C93.2405 81.9556 89.5798 71.1849 87.6336 74.0261C79.615 85.732 79.9993 113.215 81.0172 123.394C74.9677 127.003 40.5103 140.826 26.877 139.836C13.2437 138.845 5.28645 153.073 6.50407 153.907C7.72168 154.741 10.2462 149.315 12.854 148.12C15.4617 146.924 14.7108 152.373 19.6483 150.389C24.5858 148.404 24.7359 147.314 27.4939 145.029Z" fill="#FBBEBE"/>
                                    <path d="M85.0888 164.619C90.1783 153.931 95.7768 106.599 93.232 95.4018C87.1246 90.3124 85.5978 77.5887 87.1246 71.4812C165.503 11.9337 178.736 114.742 152.779 171.745C137.511 176.325 95.7768 171.745 85.0888 164.619Z" fill="#543DCC"/>
                                    <path d="M96.2857 25.1666C87.2115 37.9312 106.293 52.5669 108.111 55.4535C112.115 61.8112 102.9 68.5735 105.991 75.197C109.081 81.8205 121.734 72.8613 126.744 65.9241C132.485 57.9759 138.624 58.7377 136.017 55.7681C132.577 51.8493 124.768 49.5633 123.769 43.4889C122.689 36.9193 123.075 32.9838 120.716 29.2383C119.203 26.8367 115.933 27.0433 113.323 26.4508C108.71 25.4036 101.325 18.0781 96.2857 25.1666Z" fill="#FBBEBE"/>
                                    <path d="M159.731 88.8572C156.862 91.4249 147.966 91.8542 140.921 90.9195C138.95 103.715 141.357 124.248 142.041 132.003C137.426 149.924 115.324 179.278 113.622 180.456C94.9417 193.391 113.697 199.018 119.612 184.059C173.265 134.317 160.714 94.1824 159.731 88.8572Z" fill="#FBBEBE"/>
                                    <path d="M135.984 59.2662C129.877 58.2483 125.805 55.1946 124.278 45.5246C126.721 37.7885 139.547 42.9798 145.654 46.5425L158.887 66.3916C157.021 66.5612 152.474 65.9844 149.217 62.32C145.145 57.7394 142.091 60.2841 135.984 59.2662Z" fill="#443D66"/>
                                    <path d="M116.14 30.8838C116.92 33.4409 119.625 34.8394 121.901 33.6593C125.528 31.7788 123.061 23.7816 118.046 23.2011C115.548 15.1224 111.675 12.3619 110.269 12.2057C116.626 17.8919 115.36 28.3267 116.14 30.8838Z" fill="#543DCC"/>
                                    <path d="M116.98 43.6881C120.792 41.4542 121.026 36.1107 120.761 33.4938L120.761 33.4938C121.01 33.3501 121.358 33.1488 121.572 33.3658C122.539 38.6168 119.506 43.1271 117.685 44.2575C117.323 44.4824 117.247 44.0998 116.98 43.6881Z" fill="#543DCC"/>
                                    <path d="M113.174 44.4187C116.267 41.9958 116.648 43.1136 117.589 43.7324C118.205 44.1646 118.929 45.5461 116.893 47.6141C114.348 50.1992 112.983 49.1826 112.372 48.7172C111.76 48.2518 110.081 46.8417 113.174 44.4187Z" fill="#543DCC"/>
                                    <path d="M99.9081 309.57C101.123 309.653 102.385 309.04 103.473 308.417C105.928 306.926 108.302 305.343 110.514 303.574L112.714 301.979C114.914 300.384 117.034 298.697 119.072 296.917C121.574 294.732 123.914 292.362 126.011 289.713C126.465 289.317 126.367 288.812 126.012 288.406C123.827 285.904 121.272 283.726 118.531 281.71C117.363 280.934 117.625 284.787 117.533 284.868C117.624 288.811 111.34 289.916 108.455 290.183C107.396 290.262 106.469 290.462 105.527 290.944C104.334 291.823 103.476 292.898 102.943 294.344C102.212 296.125 101.921 297.849 101.19 299.631C100.657 301.077 99.7875 302.326 98.8375 303.482C97.8875 304.639 96.4977 305.853 96.8319 307.357C97.3514 308.7 98.6004 309.569 99.9081 309.57Z" fill="#443D66"/>
                                    <path d="M100.232 309.941C101.447 310.023 102.709 309.411 103.797 308.787C106.252 307.296 108.625 305.713 110.837 303.945L113.038 302.35C115.238 300.755 117.357 299.067 119.396 297.287C121.897 295.102 124.237 292.732 126.334 290.084C126.982 289.266 126.776 288.532 126.382 288.082C124.198 285.58 121.191 283.633 118.531 281.71C117.363 280.933 117.625 284.787 117.533 284.868C117.624 288.811 111.339 289.916 108.455 290.183C107.396 290.262 106.469 290.462 105.526 290.944C107.099 292.184 110.848 292.176 112.446 291.76C116.052 290.823 117.804 286.389 121.062 285.543C122.171 285.398 123.315 287.587 122.957 288.461C119.086 295.049 109.321 300.602 103.187 304.91C102.087 305.707 100.906 306.412 99.5631 306.931C98.6718 307.22 97.7922 307.335 96.8316 307.357C96.8187 308.838 98.9238 309.94 100.232 309.941Z" fill="white"/>
                                    <path d="M9.62562 289.786C10.7132 290.313 12.1017 290.218 13.3348 290.048C16.1469 289.587 18.919 289.011 21.6109 288.205L24.2276 287.554C26.8443 286.903 29.4209 286.137 31.9574 285.255C35.0704 284.173 38.1033 282.86 41.0159 281.202C41.5816 281.005 41.6781 280.504 41.5024 279.999C40.4204 276.886 38.8773 273.933 37.1035 271.061C36.3168 269.913 35.128 273.557 35.0127 273.597C33.6334 277.259 27.4403 275.943 24.6866 275.118C23.6825 274.797 22.7554 274.637 21.7093 274.731C20.2856 275.097 19.0975 275.768 18.0697 276.901C16.736 278.269 15.8284 279.748 14.4948 281.116C13.4669 282.248 12.2036 283.075 10.9002 283.786C9.59675 284.498 7.8673 285.099 7.61632 286.608C7.59594 288.036 8.42273 289.3 9.62562 289.786Z" fill="#443D66"/>
                                    <path d="M9.7862 290.248C10.8738 290.774 12.2623 290.68 13.4954 290.509C16.3075 290.049 19.0796 289.473 21.7715 288.667L24.3882 288.016C27.0048 287.365 29.5815 286.598 32.118 285.717C35.231 284.635 38.2639 283.322 41.1765 281.664C42.0758 281.152 42.1587 280.4 41.9639 279.839C40.8819 276.726 38.8375 273.819 37.1038 271.061C36.3171 269.913 35.1283 273.557 35.013 273.597C33.6337 277.259 27.4406 275.943 24.6869 275.119C23.6828 274.798 22.7557 274.638 21.7095 274.732C22.6966 276.456 26.1499 277.841 27.7739 278.052C31.4398 278.528 34.6986 275.098 38.01 275.528C39.0849 275.806 39.3247 278.246 38.6709 278.916C32.6634 283.543 21.6171 285.028 14.3735 286.715C13.0651 287.041 11.7167 287.251 10.2882 287.23C9.36085 287.165 8.50877 286.944 7.61662 286.608C7.0549 287.967 8.58331 289.761 9.7862 290.248Z" fill="white"/>
                                </svg>
                            .board
                                <svg viewBox="0 0 243 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M299.264 12.4688L166.936 81.3564V164.825L299.264 95.9369V12.4688Z" fill="#543DCC"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M219.017 116.355L177.51 137.918V136.049L219.017 114.486V116.355Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M219.017 123.421L177.51 144.983V143.114L219.017 121.551V123.421Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M272.005 49.7305L230.498 71.2932V68.9304L272.005 47.3677V49.7305Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M272.005 58.5617L230.498 80.1244V77.7617L272.005 56.199V58.5617Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M272.005 85.0559L230.498 106.619V104.256L272.005 82.6931V85.0559Z" fill="#4936B2"/>
                                    <path d="M166.936 81.6642L0 0.561646V84.0298L166.936 165.132V81.6642Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.83118 18.2244L51.2216 39.1149V41.3165L8.83118 20.4259V18.2244Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.83118 32.3545L51.2216 53.245V55.4465L8.83118 34.556V32.3545Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.83118 57.0823L51.2216 77.9728V80.1744L8.83118 59.2838V57.0823Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8193 43.8352L104.21 64.7258V66.9272L61.8193 46.0367V43.8352Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8193 50.9003L104.21 71.7908V73.9923L61.8193 53.1018V50.9003Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8193 65.0304L104.21 85.9209V88.1225L61.8193 67.2319V65.0304Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8193 72.0955L104.21 92.986V95.1875L61.8193 74.297V72.0955Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M114.807 76.5111L157.198 97.4017V99.6032L114.807 78.7127V76.5111Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M114.807 83.5762L157.198 104.467V106.668L114.807 85.7777V83.5762Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M114.807 108.304L157.198 129.195V131.396L114.807 110.505V108.304Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M45.9227 43.5685L8.83118 25.2893V27.4909L45.9227 45.7701V43.5685Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M36.2083 52.9112L8.83118 39.4194V41.6209L36.2083 55.1127V52.9112Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4287 69.3698L8.83118 64.1472V66.3488L19.4287 71.5714V69.3698Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M99.794 76.6798L61.8193 57.9653V60.1668L99.794 78.8813V76.6798Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M142.184 104.133L114.807 90.6414V92.8429L142.184 106.335V104.133Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M136.003 79.8913V82.0928L114.807 71.6476V69.446L136.003 79.8913Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M151.899 133.648L114.807 115.369V117.571L151.899 135.85V133.648Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M131.587 130.703L114.807 122.434V124.636L131.587 132.905V130.703Z" fill="#B6ACE5"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M84.7808 97.5413L61.8193 86.2256V88.4271L84.7808 99.7428V97.5413Z" fill="#DEDAF2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M200.471 75.5479L177.51 87.4761V89.3457L200.471 77.4174V75.5479Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M189.874 143.756L177.51 150.179V152.048L189.874 145.625V143.756Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M177.51 96.3076L219.017 74.7449V109.29L177.51 130.853V96.3076Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M246.394 104.829L230.498 113.087V115.45L246.394 107.192V104.829Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M254.343 74.2061L230.498 86.5931V88.9559L254.343 76.5689V74.2061Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M263.174 43.1243L230.498 60.0992V62.462L263.174 45.4871V43.1243Z" fill="#4936B2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.4952 95.2636L61.8193 79.1605V81.3621L94.4952 97.4652V95.2636Z" fill="#DEDAF2"/>
                                </svg>
                        .info
                            p.headline 24/7
                            p.paragraph Техническая <br>поддержка
        .main__images__decor.hide-mobile
            <svg viewBox="0 0 200 293" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id='background-figure' opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" d="M0 292.264L0 0.641357C151.66 82.5142 177.417 266.878 0 292.264Z" fill="#F23071"/>
            </svg>
    section.services-block.services_over-h
        section.services__wrap
            .services
                .container
                    .row
                        a(id="about-us").navigation
                        .col-xl-4.offset-xl-0.offset-md-1.main-info
                            p.headline Умеем – делаем
                            p.paragraph Объединяя стратегию, дизайн и технологии, разрабатываем оригинальные и эффективные digital проекты ⚡. Мы интегрируем их с различными системами и сервисами, учитывая потребности клиента. 
                            .services__btn
                                p.order-service.montserrat-semi-bold#service-btn Заказать услугу
                        .offset-xl-0.col-xl-8.offset-md-1.col-md-11
                            .services__items
                                .services__item
                                    .square
                                        .transformator
                                            .silly
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="24" height="24" stroke="#543DCC" stroke-width="2" stroke-linejoin="round"/>
                                                </svg>
                                            a(href="services.html#atm")
                                                div
                                                    p.topic-headline
                                                        span.dashed Банкоматы и терминалы
                                                    p.topic-paragraph LCDM1000, LCDM2000,<br>CashCode, NV200
                                    
                                .services__item
                                    .pentagon
                                            .transformator
                                                .silly
                                                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15 1L29 11.3131L23.6525 28H6.34752L1 11.3131L15 1Z" stroke="#543DCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                a.pentagon(href="services.html#statistics")
                                                    div
                                                        p.topic-headline 
                                                            span.dashed Статистика и анализ
                                                        p.topic-paragraph BigData, отчеты,<br>консолидация данных
                                    
                                .services__item
                                    .hexagon
                                            .transformator
                                                .silly
                                                    <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13 1L1 8.00261V21.9974L13 29L25 21.9974V8.00261L13 1Z" stroke="#543DCC" stroke-width="2" stroke-linejoin="round"/>
                                                    </svg>
                                                a.hexagon(href="services.html#api-integration")
                                                    div
                                                        p.topic-headline
                                                            span.dashed API интеграция
                                                            p.topic-paragraph ssl, get, post, soap
                                
                                    
                                .services__item
                                    .rhombus
                                        .transformator
                                            .silly
                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2 18L18 2L34 18L18 34L2 18Z" stroke="#543DCC" stroke-width="2" stroke-linejoin="round"/>
                                                </svg>
                                            a.rhombus(href="services.html#high-level-services")   
                                                div                             
                                                    p.topic-headline
                                                        span.dashed Высоконагруженные сервисы
                                                        p.topic-paragraph 15 000 операций в секунду,<br>Azure, Amazon AWS, кластеры
                                    
                                .services__item
                                    .circle
                                        .transformator
                                            .silly
                                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="28" height="28" rx="14" stroke="#543DCC" stroke-width="2"/>
                                                </svg>
                                            a.circle(href="services.html#stack-technologies")                                
                                                div 
                                                    p.topic-headline
                                                        span.dashed Stack технологий
                                                        p.topic-paragraph AngularJS, Node.JS, Javascript, TypeScript, SQL, RestAPI, Phaser, html5, css, eSSP, ccNet, Delphi, cgi, Azure, Amazon AWS
                                    
                                .services__item
                                    .straight
                                        .transformator
                                            .silly
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 25L25 1" stroke="#543DCC" stroke-width="2" stroke-linecap="round"/>
                                                </svg>
                                            a.straight(href="services.html#ux-development")
                                                div
                                                    p.topic-headline 
                                                        span.dashed UX и дизайн
                                                    p.topic-paragraph figma, sketchUP, Adobe
                                    
                                .services__item
                                    .windows
                                        .transformator
                                            .silly
                                                <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M27 7V23L1 29L1 1L27 7Z" stroke="#543DCC" stroke-width="2" stroke-linejoin="round"/>
                                                </svg>
                                            a.windows(href="services.html#web-aplications")
                                                div
                                                    p.topic-headline
                                                        span.dashed.disblock_1200 WEB 
                                                        span.dashed приложения
                                                    p.topic-paragraph AngularJS, Node.JS
                                    
                                .services__item
                                    .triangle
                                        .transformator
                                            .silly
                                                <svg width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M27 16L0.999999 31L0.999999 1L27 16Z" stroke="#543DCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            a.triangle(href="services.html#support")
                                                div
                                                    p.topic-headline 
                                                        span.dashed Техническая поддержка 24/7
                                                    p.topic-paragraph Skype, Zoom, Telegram, Whatsapp
                                
                .services__label
                    <svg viewBox="0 0 136 951" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M95 823L11 823.2L80.2 864.4V879L12.8 920H95V950.4H-45V923.6L42 871.2L-45 819.6V793L95 792.6V823ZM41.6 656.184C42 656.184 44.8 656.384 50 656.784L50 738.184C56.6667 736.718 61.9333 733.251 65.8 727.784C69.6667 722.318 71.6 715.518 71.6 707.384C71.6 701.784 70.8 696.851 69.2 692.584C67.4667 688.184 64.8 684.118 61.2 680.384L79.2 663.784C90.8 673.918 96.6 688.718 96.6 708.184C96.6 720.318 94.2667 731.051 89.6 740.384C84.8 749.718 78.2 756.918 69.8 761.984C61.4 767.051 51.8667 769.584 41.2 769.584C30.6667 769.584 21.2 767.118 12.8 762.184C4.26666 757.118 -2.33334 750.251 -7.00001 741.584C-11.8 732.784 -14.2 722.984 -14.2 712.184C-14.2 701.651 -11.9333 692.118 -7.4 683.584C-2.86667 675.051 3.66666 668.384 12.2 663.584C20.6 658.651 30.4 656.184 41.6 656.184ZM9.39999 711.984C9.39999 719.051 11.4 724.984 15.4 729.784C19.4 734.584 24.8667 737.518 31.8 738.584L31.8 685.584C25 686.651 19.6 689.584 15.6 694.384C11.4667 699.184 9.39999 705.051 9.39999 711.984ZM-12.6 524.412H77C96.7333 524.412 111.4 529.546 121 539.812C130.6 550.079 135.4 565.079 135.4 584.812C135.4 595.212 134.133 605.079 131.6 614.412C129.067 623.746 125.4 631.479 120.6 637.612L98.2 625.212C101.933 620.679 104.867 614.946 107 608.012C109.267 601.079 110.4 594.146 110.4 587.212C110.4 576.412 107.933 568.479 103 563.412C98.2 558.212 90.8667 555.612 81 555.612H76.4C85.3333 563.746 89.8 575.079 89.8 589.612C89.8 599.479 87.6667 608.546 83.4 616.812C79 624.946 72.8667 631.412 65 636.212C57.1333 641.012 48.0667 643.412 37.8 643.412C27.5333 643.412 18.4667 641.012 10.6 636.212C2.73333 631.412 -3.33334 624.946 -7.6 616.812C-12 608.546 -14.2 599.479 -14.2 589.612C-14.2 574.012 -9.06667 562.146 1.2 554.012H-12.6V524.412ZM64.2 583.412C64.2 575.146 61.8 568.412 57 563.212C52.0667 557.879 45.6667 555.212 37.8 555.212C29.9333 555.212 23.6 557.879 18.8 563.212C13.8667 568.412 11.4 575.146 11.4 583.412C11.4 591.679 13.8667 598.479 18.8 603.812C23.6 609.146 29.9333 611.812 37.8 611.812C45.6667 611.812 52.0667 609.146 57 603.812C61.8 598.479 64.2 591.679 64.2 583.412ZM-14.2 451.973C-14.2 435.307 -10.2 422.507 -2.20001 413.573C5.66666 404.64 17.6 400.173 33.6 400.173H95V429.373H81.6C91.6 435.24 96.6 446.173 96.6 462.173C96.6 470.44 95.2 477.64 92.4 483.773C89.6 489.773 85.7333 494.373 80.8 497.573C75.8667 500.773 70.2667 502.373 64 502.373C54 502.373 46.1333 498.64 40.4 491.173C34.6667 483.573 31.8 471.907 31.8 456.173V431.373C25 431.373 19.8 433.44 16.2 437.573C12.4667 441.707 10.6 447.907 10.6 456.173C10.6 461.907 11.5333 467.573 13.4 473.173C15.1333 478.64 17.5333 483.307 20.6 487.173L-1.20001 498.373C-5.33334 492.507 -8.53334 485.507 -10.8 477.373C-13.0667 469.107 -14.2 460.64 -14.2 451.973ZM75.6 454.373C75.6 449.04 74.4 444.307 72 440.173C69.4667 436.04 65.8 433.107 61 431.373H50V452.773C50 465.573 54.2 471.973 62.6 471.973C66.6 471.973 69.8 470.44 72.2 467.373C74.4667 464.173 75.6 459.84 75.6 454.373ZM-45 309.136C-45 296.736 -42.9333 286.003 -38.8 276.936C-34.6667 267.736 -28.8 260.669 -21.2 255.736C-13.6 250.803 -4.60001 248.336 5.8 248.336C16.0667 248.336 25.0667 250.803 32.8 255.736C40.4 260.669 46.2667 267.736 50.4 276.936C54.4 286.003 56.4 296.736 56.4 309.136V337.336H95V369.736H-45L-45 309.136ZM30 310.936C30 301.203 27.9333 293.803 23.8 288.736C19.5333 283.669 13.5333 281.136 5.8 281.136C-2.06667 281.136 -8.06667 283.669 -12.2 288.736C-16.4667 293.803 -18.6 301.203 -18.6 310.936V337.336H30V310.936ZM-14.2 184.981C-14.2 168.315 -10.2 155.515 -2.20001 146.581C5.66666 137.648 17.6 133.181 33.6 133.181H95V162.381H81.6C91.6 168.248 96.6 179.181 96.6 195.181C96.6 203.448 95.2 210.648 92.4 216.781C89.6 222.781 85.7333 227.381 80.8 230.581C75.8667 233.781 70.2667 235.381 64 235.381C54 235.381 46.1333 231.648 40.4 224.181C34.6667 216.581 31.8 204.915 31.8 189.181V164.381C25 164.381 19.8 166.448 16.2 170.581C12.4667 174.715 10.6 180.915 10.6 189.181C10.6 194.915 11.5333 200.581 13.4 206.181C15.1333 211.648 17.5333 216.315 20.6 220.181L-1.20001 231.381C-5.33334 225.515 -8.53334 218.515 -10.8 210.381C-13.0667 202.115 -14.2 193.648 -14.2 184.981ZM75.6 187.381C75.6 182.048 74.4 177.315 72 173.181C69.4667 169.048 65.8 166.115 61 164.381H50V185.781C50 198.581 54.2 204.981 62.6 204.981C66.6 204.981 69.8 203.448 72.2 200.381C74.4667 197.181 75.6 192.848 75.6 187.381ZM-12.6 0.0968738L101.6 48.6969C114 53.6302 122.733 59.7635 127.8 67.0969C132.867 74.2969 135.4 83.0302 135.4 93.2969C135.4 98.8969 134.533 104.43 132.8 109.897C131.067 115.364 128.667 119.83 125.6 123.297L103.4 111.897C105.533 109.497 107.2 106.764 108.4 103.697C109.6 100.497 110.2 97.3635 110.2 94.2969C110.2 90.0302 109.133 86.5635 107 83.8969C105 81.2302 101.6 78.8302 96.8 76.6969L95.8 76.2969L-12.6 122.897V90.6969L60.4 60.4969L-12.6 30.0969V0.0968738Z" fill="white"/>
                    </svg>
    section.projects
        .container
            .row
                .col-12
                    .title.projects__title Наши проекты
                    .projects-block
                        .projects-block__item.projects-block__terminal
                            a(href="terminals.html")
                                .bg-title on-line
                                .title По для терминалов
                                .img
                                    img(src="images/terminal.png", alt="terminal")
                                .hide-block
                                    .hide-block__list.hide-block__terminal
                                        .item
                                            .svg
                                            .item__text Анализ рынка
                                        .item
                                            .svg
                                            .item__text Проектирование
                                        .item
                                            .svg
                                            .item__text Разработка
                                        .item
                                            .svg
                                            .item__text Web-дизайн
                                        .item
                                            .svg
                                            .item__text Запуск продукта
                                    .hide-block__title По для терминалов
                                    .hide-block__text Разрабатка программного обеспечения и поставка готовых киосков  самообслуживания для различных сфер деятельности, включающих ритейл, фитнес, рестораны и фаст-фуд, билетные системы, паркоматы, прием платежей за ЖКХ, медицинские услуги. 
                    
                        .projects-block__item.projects-block__akvatoria
                            a(href="akvatoria.html")
                                .bg-title Акватория
                                .title Акватория
                                .img
                                    img(src="images/phone.png", alt="phone")
                                .hide-block
                                    .hide-block__list.hide-block__akvatoria
                                        .item
                                            .svg
                                            .item__text Анализ рынка
                                        .item
                                            .svg
                                            .item__text Маркетинговые иследования 
                                        .item
                                            .svg
                                            .item__text Запуск продукта
                                    .hide-block__title Акватория
                                    .hide-block__text Автомойки самообслуживания появилась с одной частной мойки в городе Йошкар-Ола. Мы построили систему самообслуживания с нуля. Для удобного использования было разработанно приложение чтобы клиенты не тратили время на очереди и оплату.
                    
                        .projects-block__item.projects-block__woman
                            a(href="http://vk.com/id0")
                                .bg-title Tourpay
                                .title Tourpay
                                .img
                                    img(src="images/woman.png", alt="woman")
                                .hide-block
                                    .hide-block__list.hide-block__tourpay
                                        .item
                                            .svg
                                            .item__text Анализ рынка
                                        .item
                                            .svg
                                            .item__text Проектирование
                                        .item
                                            .svg
                                            .item__text Разработка
                                        .item
                                            .svg
                                            .item__text Web-дизайн
                                        .item
                                            .svg
                                            .item__text Запуск продукта  

                                    .hide-block__title Tourpay
                                    .hide-block__text Сеть терминалов для туристических агентств. Было решено автоматизировать прием платежей напрямую от клиентов в пользу туроператора с помощью платежных терминалов. В этом случае турагентство выступает лишь посредником, помогающим подобрать необходимую путевку.
                    
                        .projects-block__item.projects-block__coins
                            a(href="convert.html")
                                .bg-title Convert
                                .title Convert- Bank
                                .img
                                    img(src="images/coins.png", alt="coins")
                                .hide-block
                                    .hide-block__list.hide-block__convert
                                        .item
                                            .svg
                                            .item__text Анализ рынка
                                        .item
                                            .svg
                                            .item__text Проектирование
                                        .item
                                            .svg
                                            .item__text Разработка
                                        .item
                                            .svg
                                            .item__text Web-дизайн
                                        .item
                                            .svg
                                            .item__text Запуск продукта  

                                    .hide-block__title Convert Bank
                                    .hide-block__text Сервис автоматического обмена цифровых валют. Позволяет быстро совершать переводы денег (фиат) в криптовалюту и наоборот без регистрации и подтверждения личности в несколько кликов.           
        .projects__decor
            <svg width="100%" viewBox="0 0 163 360" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M165 0C80.2894 44.8927 0 166.635 0 251.388C0 341.836 107.739 357.394 165 360V0Z" fill="#E4E3F5"/>
            </svg>
    section.feedback
        .container
            a(id="collaboration").navigation
            .row.partnership
                .offset-xl-0.col-lg-11.offset-lg-1.col-md-9.offset-md-2
                    p.headline Сотрудничество
                    p.paragraph 
                        | Готовы вкладывать в совместный проект свои силы и деньги с получение доли.
                        br
                        | Так же ищем инвесторов на наши масштабные проекты.
                    button.partnership__button.show-mobile Написать сообщение
                    .hide768    
                        .partner-info
                            .group
                                input(type="text" id="input-name" required)
                                span.bar
                                label(for="input-name") Как вас зовут?
                            .group
                                input(type="text" id="input-phone" required).phone_mask
                                span.bar
                                label(for="input-phone") Номер телефона
                            .group
                                input(type="text" id="input-message" required)
                                span.bar
                                label(for="input-message") Ваше сообщение
                            .group
                                input(type="text" id="input-company" required)
                                span.bar
                                label(for="input-company") Название компании
                            .group
                                input(type="text" id="input-address" required)
                                span.bar
                                label(for="input-address") E-Mail адрес
                            .loadfile
                                input#loadfile.file(type="file")
                                label(for="loadfile") Прикрепить файл
                                p.filename
                        p.send-offer Отправить
                        .personal-data
                            input#checkconsent(type='checkbox')
                            label(for="checkconsent") ᅠ
                            p.agree  
                                | Я согласен с 
                                span.policy политикой обработки персональных данных
                                | &nbsp;компании
        .feedback__decor
            <svg viewBox="0 0 480 580" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id='background-field-partnership' d="M480 69.3095C431.532 24.7775 392.28 -34.1341 319.92 24.7783C216.159 109.257 105.633 44.5425 45.1564 129.474C3.8565 187.474 -61.6775 410.641 129.463 445.458C314.118 479.093 375.763 576.303 480 580V69.3095Z" fill="#F4E2EC"/>
            </svg>
        .feedback__decor-2
            <svg viewBox="0 0 206 229" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id='background-figure-partnership' d="M91.3689 0.25983C50.218 -4.27532 24.0962 51.8921 0 64.4833V213.883C0 213.883 7.87762 219 24.0962 219C44.6813 219 74.4174 201.279 91.3689 182.718C130.776 139.569 146.936 186.207 170.881 133.527C189.105 93.4332 144.028 6.06329 91.3689 0.25983Z" fill="#E4E3F5"/>
            </svg>
    +createPopup({id: "main-popup", title: 'Расскажите о вашем проекте'})
    +createPopup({id: "service-popup", title: 'Заказать услугу'})