@import "../../components/globalVars";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "../../libs/flickity/flickity.css";

// FONTS
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../components/fonts/Montserrat/Montserrat-Bold.ttf');
    // font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../components/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../../components/fonts/Montserrat/Montserrat-Medium.ttf');
    // font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Light';
    src: url('../../components/fonts/Montserrat/Montserrat-Light.ttf');
    // font-weight: normal;
    font-style: italic;
}

.montserrat-medium {
    font-family: Montserrat-Medium;
}

.montserrat-bold {
    font-family: Montserrat-Bold;
}

.montserrat-light {
    font-family: Montserrat-Light;
}

.montserrat-semi-bold {
    font-family: Montserrat-SemiBold;
}

.hide-desktop{
	@media (min-width: 992px) {
		display: none !important;
	}
}

.hide-mobile{
	@media (max-width: 991.98px) {
		display: none !important;
	}
}

.hide768 {
	@media (max-width: 767.98px){
		display: none;
	}
}
.show-mobile{
	@media (min-width: 768px){
		display: none;
	}
}

.slick-slide {
    outline: none;
}

//MIXIN
.bg-white{
	content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 85%;
		height: 100%;
		background-color: #fff;
		z-index: -2;
		@media (max-width: 1700px){
			width: 90%;
		}
		@media (max-width: 1550px){
			width: 95%;
		}
		@media (max-width: 1199.98px) {
			width: 88%;
			min-width: 700px;
			max-width: 984px;
		}
		@media (max-width: 767.98px) {
			display: none;
		}
}

a{
	color: inherit;
	cursor: pointer;
	&:hover, &:focus{
		@media (min-width: 992px) {
			color: inherit;
			text-decoration: none;
		}
	}
}

h1{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

html body{
  	background-color: #F4F5F9;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	position: relative;
	p{
		margin: 0;
		color: #000000;
	}
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

.navigation {
	display: block;
	visibility: hidden;
	position: relative;
	top: -75px;
}



.title{
	color: #000;
	font-size: 48px;
	font-family: Montserrat-Light;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 40px 65px;
	z-index: 5;
	@media (max-width: 1199.98px) {
		padding: 30px 15px;
		width: 960px;
		left: 50%;
		transform: translateX(-50%);
	}
	@media (max-width: 991.98px) {
		width: 100%;
		padding: 0;
		padding-left: 40px;
		align-items: center;
	}
	@media (max-width: 767.98px){
		position: static;
		width: 540px;
		margin: 0 auto;
		padding-left: 0;
		transform: none;
		left: auto;
	}
	@media (max-width: 575.98px) {
		padding-left: 22px;
	}
	&-wrap{
		position: relative;
		max-width: 1920px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		@media (max-width: 991.98px) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 70px;
			background-color: #000;
			z-index: 10;
		}
		@media(max-width: 575.98px) {
			height: 50px;
		}
		.sticky-wrap{
			width: 100%;
			@media (max-width: 767.98px){
				position: relative;
				display: flex;
				justify-content: center;
			}
		}
		&_sticky{
			width: 100vw;
			height: 111px;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			z-index: 5;
			background-color: black;
			@media (max-width: 1199.098px){
				height: 91px;
			}
			@media (max-width: 991.98px) {
				display: none;
			}
		}
	}
	
	.logotip{
		position: relative;
		display: flex;
		align-items: center;
		width: 109px;
		@media (max-width: 991.98px) {
			margin-right: auto;
		}
		@media (max-width: 767.98px) {
			width: 175px;
		}
		@media (max-width: 575.98px) {
			width: 109px;
		}
		a{
			margin-right: 20px;
		}
		.logo{
			&-color{
				fill: black;
				@media (max-width: 991.98px) {
					fill: white;
				}
			}
		}
		.lng-list{
			position: absolute;
			top: 8px;
			left: 130px;
			font-family: 'Montserrat-Bold';
			@media (max-width: 1199.98px) {
				top: 8px;
				left: 120px;
			}
			@media (max-width: 767.98px){
				display: none;
			}
			&:hover ul{
				@media (min-width: 992px) {	
					display: block;
				}
			}
			ul{
				position: absolute;
				left: -7px;
				display: none;
				padding: 6px;
				border: 1px solid #543DCC;
				font-size: 12px;
				cursor: pointer;
				li{
					@media(min-width: 992px){
						&:hover{
							color: #543DCC;
							transition: 0.5s;
						}
					}
					
				}
			}
			&__select {
				margin-bottom: 10px;
				// border-bottom: 1px solid;
				color: #543DCC;
				text-align: center;
				font-size: 12px;
				&::after{
					content: '';
					position: absolute;
					top: 16px;
					left: -1px;
					width: 20px;
					height: 1px;
					background-color: #543DCC;
				}
			}
		}

	}

	.routing{
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 1199.98px){
			align-self: flex-end;
		}
		@media (max-width: 991.98px){
			display: none;
		}
		p:hover{
			@media (min-width: 992px) {	
				transition: color 0.25s;
			}
		}
		a{
			margin-right: 40px;
			font-size: 16px;
			cursor: pointer;
			transition: color 0.25s;
			color: #000;
			font-size: 16px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			@media (max-width: 1199.98px) {
				margin-right: 30px;
			}
			&:hover{
				@media (min-width: 992px) {
					color: #543DCC;
					text-decoration: none;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}

	}
	.callback{
		.number{
			font-weight: 900;
			font-size: 18px;
			font-family: 'Montserrat-SemiBold';
			font-size: 21px;
			@media (max-width: 991.98px) {
				color: #fff;
			}
			@media (max-width: 767.98px){
				display: none;
			}
		}
	}
	&__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 20px;
		width: 70px;
		height: 70px;
		background-color: #543DCC;
		@media (max-width: 767.98px){
			position: absolute;
			right: 0;
		}
		@media(max-width: 575.98px) {
			width: 50px;
			height: 50px;
		}
		&-items{
			position: absolute;
			&.cross{
				.header__burger-item{
					width: 32px;
					height: 5px;
					&:first-child{
						transform: rotate(225deg) translateX(0px);
						margin-bottom: -5px;
					}
					&:last-child{
						transform: rotate(-225deg) translateX(0px);
					}
				}
			}
		}
		&-item{
			width: 16px;
			height: 3px;
			background-color: #fff;
			transition: all 0.3s;
			&:first-child{
				transform: translateX(-2px);
				margin-bottom: 4px;
			}
			&:last-child{
				transform: translateX(2px);
			}
		}
		
	}
	
}
.sticky {
	background: black;
	transition: background 0.5s;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1920px;
	margin: 0 auto;
	.logotip{
		.logo{
			.logo-color {
				fill: white;
			}
		}
		.language{
			label{
				color: #737373;
			}
			input{
				display: none;
			}
			input:checked + label {
				color: #A5A5A6;
			}
		}
	}
	.routing{
		a{
			color: white;
		}
		a:hover{
			@media (min-width: 992px) {
				color: #543DCC;
			}
		}
	}
	.callback{
		margin-top: 0;
		.number{
			margin-top: 23px;
			color: white;
		}
	}
}

.mobile-menu {
	&.block{
		display: block;
	}
	display: none;
	transition: all 0.3s;
	@media (max-width: 991.98px) {
		position: fixed;
		padding: 70px 40px 50px;
		top: 70px;
		left: 0;
		z-index: 200;
		width: 100%;
		background: #fff url(../../components/images/datalab/mob-menu/mob-menu-bg.jpg) center bottom no-repeat;
		background-size: contain;
	}
	@media (max-width: 767.98px) {
		padding: 96px 30px 50px;
		background-size: 120%;
	}
	@media (max-width: 575.98px) {
		top: 50px;
	}
	&__routing{
		display: flex;
		flex-direction: column;
		font-size: 36px;
		border-bottom: 2px solid #CDCFD9;
		a{
			margin-bottom: 50px;
			&:last-of-type{
				margin-bottom: 100px;
			}
		}
		@media (max-width: 767.98px) {
			a{
				margin-bottom: 36px;
			}
		}
		
	}
	&__contacts {
		display: flex;
		padding-top: 20px;
		border-bottom: 2px solid #CDCFD9;
		@media (max-width: 767.98px) {
			padding-top: 37px;
			flex-wrap: wrap;
		}
		.number-block{
			flex-basis: 50%;
			@media (max-width: 767.98px) {
				flex-basis: 100%;
			}
			.time{
				font-size: 18px;
				color: #919299;
				font-family: 'Montserrat-Medium';
				margin-bottom: 20px;
				@media (max-width: 767.98px) {
					padding-bottom: 40px;
					border-bottom: 2px solid #CDCFD9;
				}
			}
		}
		.mail.block{
			flex-basis: 50%;
			@media (max-width: 767.98px) {
				padding-bottom: 37px;
			}
		}
		.small-text{
			font-size: 13px;
			font-family: 'Montserrat-Bold';
			color: #919299;
			margin-bottom: 10px;
			@media (max-width: 767.98px) {
				font-size: 18px;
			}
		}
		.bold-text{
			margin-bottom: 10px;
			a{
				font-size: 30px;
				color: #000;
				font-family: 'Montserrat-Medium';
			}
			@media (max-width: 767.98px) {
				a{
					font-size: 36px;	
				}
			}
		}
	}
	&__social{
		padding-top: 20px;
		.text{
			font-size: 13px;
			color: #919299;
			font-family: 'Montserrat-Bold';
			margin-bottom: 17px;
			@media(max-width: 767.98px){
				font-size: 18px;
			}
		}
		.social-items{
			display: flex;
			align-items: center;
			&__item{
				&:not(:last-of-type){
					margin-right: 40px;
					@media(max-width: 767.98px){
						margin-right: 50px;
					}
				}
			}
		}
	}
	&__copyright{
		display: flex;
		justify-content: center;
		padding-top: 94px;
		@media(max-width: 767.98px){
			// padding-top: 150px;
		}
		.copyright-block{
			font-size: 18px;
			color: #fff;
			font-family: 'Montserrat-Medium';
			.politics{
				margin-bottom: 30px;
			}
		}
	}
}
.main{
	padding-top: 290px;
	position: relative;
	@media (max-width: 1350px) {
		padding-top: 322px;
	}
	@media (max-width: 1199.98px) {
		padding-top: 222px;
	}
	@media (max-width: 991.98px) {
		overflow: hidden;
		padding-top: 112px;
		padding-bottom: 0;
	}
	&__title{
		width: 600px;
		@media (max-width: 1350px) {
			width: 417px;
		}
	}
	.content{
		
		h1.headline{
			font-size: 64px;
			font-family: 'Montserrat-Light';
			margin-bottom: 30px;
			@media (max-width: 1350px) {
				font-size: 48px;
				word-wrap: break-word;
			}
			@media (max-width: 1199.98px) {
				font-size: 40px;
			}
			@media (max-width: 991.98px) {
				font-family: 'Montserrat-Bold';
				position: absolute;
				left: 13px;
				width: 377px;
				z-index: 2;
				margin-bottom: 60px;
			}
			@media (max-width: 767.98px) {
				font-size: 40px;
			}
			@media (max-width: 575.98px) {
				font-size: 30px;
				left: 14px;
				width: 310px;
			}

		}
		button.tellproject{
			cursor: pointer;
			text-align: center;
			padding: 17px 20px;
			margin-bottom: 240px;
			font-size: 13px;
			color: #543DCC;
			border: 2px solid #543DCC;
			box-sizing: border-box;
			transition: background 1s, color 1s;
			width: 270px;
			font-family: 'Montserrat-Bold';
			background-color: transparent;
			@media (max-width: 991.98px) {
				display: none;
			}
		}
		button.tellproject:hover{
			@media(min-width: 992px){
				background: #543DCC;
				color: #FFFFFF;
				transition: background 1s, color 1s;
			}
			
		}
	}
	&__mobile-slider-item{
		@media (max-width: 991.98px){
			position: relative;
			height: 600px;
		}
		@media(max-width: 767.98px){
			height: 750px;
		}
		@media(max-width: 575.98px){
			height: 500px;
		}
	}
	&__images{
		&_bg{
			position: absolute;
			right: 0;
			top: 80px;
			height: 630px;
			width: 815px;
			@media (max-width: 1199.98px){
				width: 687px;
			}
			@media (max-width: 991.98px){
				width: 790px;
    			right: -140px;
				height: auto;
			}
		}
		
		&__exposure1{
			position: absolute;
			right: 537px;
    		top: 268px;
			transform: scale(0.7);
			@media (max-width: 1199.98px){
				right: 446px;
				top: 234px;
				transform: scale(0.6);
			}
			@media (max-width: 991.98px) {
				right: 0px;
				top: 84px;
				transform: scale(1);
				width: 100%;
				height: 500px;
			}
			&_wrap{
				@media (max-width: 991.98px) {
					transform: scale(1) translateX(0);
					position: relative;
					height: 100%;
					width: 700px;
					margin: 0 auto;
					.figure{
						transform: scale(1.5) translate(466px);
					}
				}
				@media (max-width: 767.98px) {
					.figure{
						transform: scale(1) translate(423px);
					}
				}
				@media (max-width: 575.98px) {
					.figure{
						transform: scale(1) translate(248px);
					}
				}
			}
			.man {
				position: absolute;
				top: 27px;
				right: 57px;
				width: 108px;
				height: 285px;
				animation-name: fly-man;
				animation-duration: 8s;
				animation-iteration-count: infinite;
				transition: top 1s;
			}
			&:hover .info{
				@media(min-width: 992px){
					opacity: 1;
				}
			}
			.info{
				position: absolute;
				color: #000000;
				top: -53px;
				right: -47px;
				z-index: 20;
				width: 123px;
				opacity: 0;
				transition: opacity 0.5s;
				@media (max-width: 991.98px) {
					opacity: 1;
					left: 6px;
					top: 70px;
					width: 100%;
				}
				@media (max-width: 767.98px){
					top: 77px;
   					left: 39px;
				}
				@media (max-width: 575.98px){
					display: none;
				}
				.headline{
					font-weight: 300;
					font-size: 34px;
					line-height: 41px;
					@media (max-width: 991.98px) {
						font-size: 40px;
						color: #543DCC;
						font-family: 'Montserrat-Medium';
						margin-bottom: 15px;
					}
					span{
						font-size: 20px;
						@media (max-width: 991.98px){
							font-size: inherit;
							font-family: inherit;
						}
					}
				}
				.paragraph{
					font-size: 13px;
					line-height: 16px;
					@media (max-width: 991.98px) {
						color: #543DCC;
						font-size: 22px;
						line-height: 150%;
					}
					@media (max-width: 767.98px) {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
			.board{
				right: 0px;
				position: absolute;
				width: 124px;
				height: 233px;
				#column-1 {
					.animateRect(column-1, 8s, 'M 15.5637 71.3027 V 62.7831 L 22.6288 64.861 V 73.3807 L 15.5637 71.3027 Z', ease);
				}
				#column-2 {
					.animateRect(column-2, 5s, 'M 33.2264 75.7183 V 39.8215 L 40.2915 41.8995 V 77.7963 L 33.2264 75.7183 Z', ease-in-out);
				}
				#column-3 {
					.animateRect(column-3, 10s, 'M 50.889 81.0172 V 65.4325 L 57.9541 67.5105 V 83.0952 L 50.889 81.0172 Z', ease-out);
				}
				#column-4 {
					.animateRect(column-4, 13s, 'M 68.5518 86.316 V 38.0553 L 75.6168 40.1333 V 88.3939 L 68.5518 86.316 Z', ease-in);
				}
				#column-5 {
					.animateRect(column-5, 7s, 'M 86.2145 91.6148 V 55.718 L 93.2796 57.796 V 93.6928 L 86.2145 91.6148 Z', linear);
				}
			}
		}
		&__exposure2{
		position: absolute;
		right: 163px;
		top: 204px;
		transform: scale(0.7);
		@media(max-width: 1199.98px){
			right: 135px;
			top: 185px;
			transform: scale(0.6);
		}
		@media (max-width: 991.98px) {
			right: 0px;
			top: 84px;
			transform: scale(1);
			width: 100%;
			height: 500px;
		}
		&_wrap{
			@media (max-width: 991.98px) {
				transform: scale(1) translateX(0);
				position: relative;
				height: 100%;
				width: 700px;
				margin: 0 auto;
				.figure{
					transform: scale(1.5) translate(466px, -48px);
				}
			}
			@media (max-width: 767.98px) {
				.figure{
					transform: scale(1) translate(451px, -62px);
				}
			}
			@media (max-width: 575.98px) {
				.figure{
					transform: scale(1) translate(280px, -62px);
				}
			}
			
		}
		.man{
			position: absolute;
			top: 88px;
			right: 15px;
			width: 176px;
			height: 318px;
			animation-name: exposure-2-jump;
			animation-duration: 5s;
			animation-iteration-count: infinite;
    		transition: top 1s;
			z-index: 10;
			.arm {
				position: absolute;
				&.shoulder {
					top: 51px;
					right: 0px;
					width: 55px;
					height: 55px;
					z-index: -1;
				}
				&.pointer {
					top: 1px;
					right: -20px;
					width: 73px;
					height: 75px;
					animation: exposure-5-arm-poiner 5s linear 0s infinite;
					transform-origin: bottom;
				}
			}
		}
		.man:hover + .info{
			@media (min-width: 992px) {
				opacity: 1;
			}
		}
		.info{
			position: absolute;
			color: #000000;
			top: 106px;
			right: 112px;
			z-index: 20;
			width: 123px;
			opacity: 0;
			transition: opacity 0.5s;
			@media (max-width: 991.98px) {
				opacity: 1;
				right: auto;
				left: 6px;
				top: 70px;
				width: 133px;
			}
			@media (max-width: 767.98px){
				left: 37px;
			}
			@media (max-width: 575.98px) {
				display: none;
			}
			.headline{
				font-weight: 300;
				font-size: 34px;
				line-height: 41px;
				@media (max-width: 991.98px) {
					font-size: 48px;
					color: #543DCC;
					font-family: 'Montserrat-Medium';
					margin-bottom: 15px;
				}
			}
			.paragraph{
				font-size: 13px;
				line-height: 16px;
				@media (max-width: 991.98px) {
					color: #543DCC;
					font-size: 22px;
					line-height: 150%;
				}
				@media (max-width: 767.98px) {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
		.board{
			right: 0px;
			top: 0;
			position: absolute;
			width: 219px;
			height: 163px;
			.circle-pointer {
				r: 1.91464;
				visibility:hidden;
				animation: exposure-2-circle-pointer 5s linear 0s infinite;
			}
			.graphic-1 {
				position: absolute;
				top: 44px;
				left: 87px;
				width: 30px;
				height: 30px;
				.animateGraphic(exposure-2-graphic, 6s, 7s, 8s);
			}
			
			.graphic-2 {
				position: absolute;
				top: 88px;
				left: 87px;
				width: 30px;
				height: 30px;
				.animateGraphic(exposure-2-graphic-back, 12s, 14s, 16s);
			}
			.graphic-lines {
				d: path('M 14.1301 72.5476 L 25.6109 63.7163 L 37.0916 51.3524 L 48.5724 54.885 L 60.0531 41.6379');
			}
			.graphic-point-1 {
				d: path('M 14.1302 74.7555 C 15.1056 74.7555 15.8964 73.767 15.8964 72.5477 C 15.8964 71.3283 15.1056 70.3398 14.1302 70.3398 C 13.1547 70.3398 12.3639 71.3283 12.3639 72.5477 C 12.3639 73.767 13.1547 74.7555 14.1302 74.7555Z');
			}
		}
		}
		&__exposure3{
			position: absolute;
			right: 325px;
    		top: 532px;
			transform: scale(0.7);
			@media (max-width: 1199.98px){
				right: 265px;
				top: 457px;
				transform: scale(0.6);
			}
			@media (max-width: 991.98px) {
				right: 0px;
				top: 84px;
				transform: scale(1);
				width: 100%;
				height: 500px;
			}
			&_wrap{
				@media (max-width: 991.98px) {
					transform: scale(1) translateX(0);
					position: relative;
					height: 100%;
					width: 700px;
					margin: 0 auto;
				}
				@media (max-width: 767.98px){
					transform: scale(1.3) translate(-35px, 64px);
				}
				@media (max-width: 575.98px) {
					transform: scale(0.9) translate(78px, -55px);
				}	
			}
			.man{
				position: absolute;
				top: 0;
				right: 0;
				@media(max-width: 991.98px) {
					transform: scale(1.6) translate(33px, 80px);
				}
				@media(max-width: 767.98px) {
					transform: scale(1) translate(-153px, 147px);
				}
				@media(max-width: 575.98px) {
					transform: scale(1) translate(-449px, 147px);
				}
				.foot {
					position: absolute;
					top: 122px;
					right: 134px;
					z-index: 10;
				}
				#left-foot {
					animation: exposure-3-foot 12s linear 0s infinite;
					transform-origin: right;
					width: 221px;
					height: 74px;
				}
				.right-foot {
					right: 31px;
					top: 5px;
					width: 291px;
					height: 209px;
				}
				.man__body {
					position: absolute;
					right: 27px;
					top: 5px;
					z-index: 15;
					width: 332px;
					height: 209px;
				}
			}
			.man:hover + .info{
				@media (min-width: 992px) {
					opacity: 1;
				}
				transition: opacity 0.5s;
			}
			.info{
				position: absolute;
				color: #000000;
				top: -33px;
				right: 98px;
				z-index: 20;
				width: 219px;
				opacity: 0;
				transition: opacity 0.5s;
				@media (max-width: 991.98px) {
					opacity: 1;
					right: auto;
					left: 6px;
					top: 66px;
					width: 229px;
				}
				@media (max-width: 767.98px){
					left: 144px;
					top: 46px;
				}
				@media (max-width: 575.98px) {
					display: none;
				}
				.headline{
					font-weight: 300;
					font-size: 34px;
					line-height: 41px;
					@media (max-width: 991.98px) {
						font-size: 48px;
						color: #543DCC;
						font-family: 'Montserrat-Medium';
						margin-bottom: 15px;
					}
				}
				.paragraph{
					font-size: 13px;
					line-height: 16px;
					@media (max-width: 991.98px) {
						color: #543DCC;
						font-size: 22px;
						line-height: 150%;
						width: 360px;
					}
					@media (max-width: 767.98px) {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
		}
		&__exposure4{
			position: absolute;
			right: 0;
			top: 499px;
			transform: scale(0.7) translate(0, -30px);
			@media (max-width: 1199.98px){
				top: 412px;
    		transform: scale(0.6);
			}
			@media (max-width: 991.98px) {
				right: 0px;
				top: 84px;
				transform: scale(1);
				width: 100%;
				height: 500px;
			}
			&_wrap{
				@media (max-width: 991.98px) {
					transform: scale(1) translateX(0);
					position: relative;
					height: 100%;
					width: 700px;
					margin: 0 auto;
					.figure {
						transform: scale(1.5) translate(480px, -31px);
					}
				}
				@media (max-width: 767.98px) {
					.figure{
						transform: scale(1) translate(576px, 28px);
					}
				}
				@media (max-width: 575.98px) {
					.figure {
						transform: scale(1) translate(269px, -25px);
					}
				}
				
			}
			.man{
				position: absolute;
				top: 0px;
				right: 0;
				width: 160px;
				height: 315px;
				.arm {
					position: absolute;
					&.shoulder {
						top: 72px;
						left: 49px;
						animation: exposure-4-arm-shoulder 5s linear 0s infinite;
						transform-origin: right;
						z-index: -1;
						width: 65px;
						height: 63px;
					}
					&.pointer {
						top: 84px;
						left: -7px;
						width: 94px;
						height: 98px;
						animation: exposure-4-arm-poiner 5s linear 0s infinite;
						transform-origin: center;
					}
				}
			}
			.board{
				right: 0px;
				top: 121px;
				position: absolute;
				width: 243px;
				height: 166px;
			}	
			&:hover .info{
				@media (min-width: 992px) {
					opacity: 1;
					transition: opacity 0.5s;
				}
				
			}
			.info{
				position: absolute;
				color: #000000;
				top: 280px;
				right: 155px;
				z-index: 20;
				width: 86px;
				opacity: 0;
				transition: opacity 0.5s;
				@media (max-width: 991.98px) {
					opacity: 1;
					right: auto;
					left: 6px;
					top: 60px;
					width: 229px;
				}
				@media (max-width: 767.98px) {
					left: 30px;
					top: 102px;
				}
				@media (max-width: 575.98px) {
					display: none;
				}
				.headline{
					font-weight: 300;
					font-size: 34px;
					line-height: 41px;
					@media (max-width: 991.98px) {
						font-size: 48px;
						color: #543DCC;
						font-family: 'Montserrat-Medium';
						margin-bottom: 15px;
					}
				}
				.paragraph{
					font-size: 13px;
					line-height: 16px;
					@media (max-width: 991.98px) {
						color: #543DCC;
						font-size: 22px;
						line-height: 150%;
					}
					@media (max-width: 767.98px) {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
		}
		&__decor{
			position: absolute;
			left: 0px;
			bottom: -215px;
			width: 240px; 
			height: 475px;
			@media (max-width: 1350px) {
				bottom: -326px;
			}
			@media (max-width: 1199.98px) {
				top: 251px;
			}
		}
	}
}

.services {
	@media(max-width: 767.98px) {
		padding-top: 0;
	}
	&_over-h{
		overflow: hidden;
	}
	&__wrap{
		position: relative;
		height: 100%;
		width: 1330px;
		margin: 0 auto;
		z-index: 0;
		@media (max-width: 1450px) {
			width: 1260px;
		}
		@media (max-width: 1199.98px) {
			width: 770px;
		}
		@media (max-width: 991.98px) {
			width: 680px;
		}
		@media(max-width: 767.98px) {
			width: auto;
		}
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			background-color: white;
			z-index: -1;
			@media(max-width: 767.98px) {
				display: none;
			}
		}
	}
	position: relative;
	padding-top: 76px;
	&-margin{
		margin-top: 32px;
	}
	.row:not(:last-of-type){
		margin-bottom: 67px;
	}
	&__btn{
		@media(max-width: 575.98px){
			max-width: 390px;
			margin: 0 auto;
		}
		
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		@media(max-width: 991.98px){
			justify-content: space-between;
		}
	}
	&__item{
		width: 28%;
		margin-bottom: 70px;
		&:not(:nth-child(3n)){
			@media(min-width: 1200px){
				margin-right: 58px;
			}
			@media(max-width: 1199.98px) and (min-width: 992px){
				margin-right: 54px;
			}
		}
		
		@media(max-width: 991.98px){
			width: 45%;
		}
		@media(max-width: 767.98px){
			width: 100%;
			& > div{
				padding-bottom: 50px;
				border-bottom: 2px solid #c4c4c4;
			}
		}
		@media(max-width: 575.98px) {
			margin-bottom: 30px;
			& > div{
				padding-bottom: 30px;
			}
		}
		
	}
	.main-info{
		.headline {
			font-size: 48px;
			width: 300px;
			line-height: 59px;
			font-family: 'Montserrat-Light';
			margin-bottom: 40px;
			@media (max-width: 1199.98px) {
				font-size: 40px;
				width: 100%;
				margin-bottom: 35px;
			}
			@media (max-width: 991.98px) {
				font-size: 48px;
				margin-bottom: 24px;
			}
			@media (max-width: 767.98px) {
				font-family: 'Montserrat-Bold';
				font-size: 30px;
			}
			@media (max-width: 575.98px) {
				font-size: 25px;
				max-width: 390px;
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}
		.paragraph{
			font-size: 14px;
			line-height: 180%;
			color: #797A80;
			width: 265px;
			margin-bottom: 61px;
			@media (max-width: 1199.98px) {
				width: 585px;
				margin-bottom: 50px;
			}
			@media (max-width: 991.98px) {
				font-size: 13px;
				width: 486px;
				margin-bottom: 60px;
			}
			@media (max-width: 767.98px) {
				font-size: 20px;
				width: 97%;
				margin-bottom: 46px;
			}
			@media (max-width: 575.98px) {
				font-size: 16px;
				line-height: 180%;
				margin: 0 auto;
				margin-bottom: 50px;
				max-width: 390px;
			}
		}
		.order-service{
			cursor: pointer;
			display: inline-block;
			padding: 15px 22px;
			text-align: center;
			font-size: 14px;
			color: #FFFFFF;
			border: 2px solid #543DCC;
			background: #543DCC;
			box-sizing: border-box;
			transition: background 1s, color 1s;
			@media (max-width: 1199.98px) {
				margin-bottom: 25px;
			}
			@media (max-width: 991.98px) {
				margin-bottom: 50px;
			}
			@media (max-width: 767.98px) {
				margin-bottom: 140px;
				font-size: 22px;
			}
			@media (max-width: 575.98px) {
				max-width: 290px;
				font-size: 18px;
				font-family: 'Montserrat-Bold';
				display: block;
				margin-bottom: 70px;

			}
		}
		.order-service:hover{
			@media(min-width: 992px){
				background: #FFFFFF;
				color: #543DCC;
				transition: background 1s, color 1s;
			}
			
		}
	}
	p.topic-headline{
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 15px;
		@media (max-width: 1199.98px) {
			.disblock_1200 {
				display: block;
				width: 40px;
			}
			font-size: 16px;
		}
		@media (max-width: 767.98px) {
			font-size: 27px;
			color: #543DCC;
			margin-bottom: 20px;
			display: inline-block;
			width: 99% !important;
			line-height: 33px;
			font-family: 'Montserrat-Bold';
			.disblock_1200{
				display: inline;
			}
		}
		@media (max-width: 575.98px){
			font-size: 22px;
			font-family: 'Montserrat-Bold';
			line-height: 27px;
			display: block;
			width: 260px !important;
		}
		span.dashed {
			border-bottom: 1px dashed #CCCCCC;
			@media (max-width: 767.98px) {
				border-bottom: 1px solid #543DCC;
			}
		}
	}
	p.topic-paragraph{
		font-size: 13px;
		line-height: 21px;
		color: #797A80;
		@media (max-width: 1199.98px){
			font-size: 12px;
		}
		@media (max-width: 991.98px){
			font-size: 13px;
		}
		@media (max-width: 767.98px){
			font-size: 20px;
			line-height: 33px;
		}
		@media (max-width: 575.98px){
			font-size: 16px;
			margin-top: 20px;
		}
	}
	
	.square{
		
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 32px;
			height: 32px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}
		
		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 8px;
				}
			}

			p.topic-paragraph{
				width: fit-content;
				margin-top: 10px;
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38) translateY(7px);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media(min-width: 992px){
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 32px;
					height: 32px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
			

		}
	}
	.rhombus{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 42px;
			height: 42px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}
		
		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 1px;
				}
			}

			p.topic-paragraph{
				width: fit-content;
				margin-top: 17px;
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media(min-width: 992px){
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 42px;
					height: 42px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.windows{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 34px;
			height: 36px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}
		
		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 7px;
				}
			}
			p.topic-paragraph{
				width: fit-content;
				margin-top: 10px;
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media(min-width: 992px){
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 34px;
					height: 36px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.pentagon{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 36px;
			height: 35px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}

		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 6px;
				}
			}
			p.topic-paragraph{
				width: fit-content;
				margin-top: 10px;
			}
			svg {
				transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media(min-width: 992px){
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 36px;
					height: 35px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.circle{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 36px;
			height: 36px;
			@media(max-width: 767.98px){
				width: 211px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}
		
		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 7px;
				}
			}

			p.topic-paragraph {
				width: fit-content;
				margin-top: 10px;
				@media (max-width: 1199.98px) {
					
				}
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media (min-width: 992px){
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 36px;
					height: 36px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.triangle {
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 34px;
			height: 38px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}
		
		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 5px;
				}
			}

			p.topic-paragraph{
				width: fit-content;
				margin-top: 10px;
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media (min-width: 992px){
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 34px;
					height: 38px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.hexagon{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 32px;
			height: 36px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}

		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 6px;
				}
			}

			p.topic-paragraph {
				width: fit-content;
				margin-top: 10px;
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media (min-width: 992px) {
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 32px;
					height: 36px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.straight{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 32px;
			height: 32px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}

		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 11px;
				}
			}

			p.topic-paragraph {
				width: fit-content;
				margin-top: 10px;
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media (min-width: 992px) {
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 32px;
					height: 32px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	.star{
		@media (max-width: 575.98px) {
			max-width: 390px;
			margin: 0 auto;
		}
		.silly {
			width: 39px;
			height: 38px;
			@media(max-width: 767.98px){
				width: 76px;
			}
			@media (max-width: 575.98px) {
				margin-bottom: 15px;
			}
		}

		.transformator {
			cursor: pointer;
			width: fit-content;
			@media (max-width: 767.98px){
				display: flex;
			}
			@media (max-width: 575.98px){
				flex-direction: column;
			}
			a {
				p.topic-headline {
					width: fit-content;
					margin-top: 18px;
				}
			}

			svg {
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				@media (max-width: 767.98px){
					transform: scale(1.38);
				}
				@media (max-width: 575.98px){
					transform: scale(1.23) translateX(2px);
				}
			}
		}
		.transformator:hover {
			@media (min-width: 992px) {
				a {
					text-decoration: none;
					p.topic-headline {
						span.dashed {
							border-bottom: none;
							color: #543DCC;
						}
					}
				}
				svg {
					width: 39px;
					height: 38px;
					margin-top: -3px;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
				}
			}
		}
	}
	
	&__label{
		position: absolute;
		left: 0px;
		bottom: -894px;
		width: 136px;
		height: 951px;
		@media (max-width: 1199.98px) {
			left: -12px;
			bottom: -881px;
			transform: scale(0.8);
		}
	}
}

.projects{
	position: relative;
	padding-top: 90px;
	padding-bottom: 90px;
	&__title{
		margin-bottom: 60px;
	}
	&-block{
		display: flex;
		justify-content: space-between;
		&__item{
			position: relative;
			flex-basis: 23%;
			overflow: hidden;
			height: 478px;
			color: #F4F5F9;
			&:hover .hide-block{
				opacity: 1;
			}
			.bg-title {
				font-family: 'Montserrat-Bold';
				font-size: 93px;
				text-transform: uppercase;
				width: 500px;
				opacity: 0.2;
				transform: rotate(-90deg);
			}
			.title{
				color: #F4F5F9;
				width: 397px;
				font-family: 'Montserrat-Medium';
				font-size: 33px;
				text-transform: uppercase;
				text-align: right;
				line-height: 40px;
			}
			.img{
				position: absolute;
				right: 0;
				bottom: 0;
			}
			.hide-block {
				opacity: 0;
				position: absolute;
				left: 0;
				top: 0;
				padding: 30px 13px 0 20px;
				width: 100%;
				height: 100%;
				background: rgba(255, 255, 255, 0.8);
				transition: opacity 1s;
				&__list{
					color: #000;
					font-size: 14px;
					font-family: 'Montserrat-Medium';
					margin-bottom: 16px;
					.item{
						display: flex;
						align-items: center;
						margin-bottom: 8px;
						.svg{
							width: 24px;
							height: 24px;
							margin-right: 6px;	
						}
						&__text{
							font-size: 14px;
							line-height: 17px;
						}
					}	
				}
				&__terminal{
					.item{
						&:nth-of-type(1) .svg{
							background: transparent url(../../components/images/datalab/projects/1-1.svg) center bottom no-repeat;
						}
						&:nth-of-type(2) .svg{
							background: transparent url(../../components/images/datalab/projects/1-2.svg) center bottom no-repeat;
						}
						&:nth-of-type(3) .svg{
							background: transparent url(../../components/images/datalab/projects/1-3.svg) center bottom no-repeat;
						}
						&:nth-of-type(4) .svg{
							background: transparent url(../../components/images/datalab/projects/1-4.svg) center bottom no-repeat;
						}
						&:nth-of-type(5) .svg{
							background: transparent url(../../components/images/datalab/projects/1-5.svg) center bottom no-repeat;
						}
					}	
				}
				&__akvatoria{
					.item{
						&:nth-of-type(1) .svg{
							background: transparent url(../../components/images/datalab/projects/2-1.svg) center bottom no-repeat;
						}
						&:nth-of-type(2) .svg{
							background: transparent url(../../components/images/datalab/projects/2-2.svg) center bottom no-repeat;
						}
						&:nth-of-type(3) .svg{
							background: transparent url(../../components/images/datalab/projects/2-3.svg) center bottom no-repeat;
						}
					}	
				}
				&__tourpay{
					.item{
						&:nth-of-type(1) .svg{
							background: transparent url(../../components/images/datalab/projects/3-1.svg) center bottom no-repeat;
						}
						&:nth-of-type(2) .svg{
							background: transparent url(../../components/images/datalab/projects/3-2.svg) center bottom no-repeat;
						}
						&:nth-of-type(3) .svg{
							background: transparent url(../../components/images/datalab/projects/3-3.svg) center bottom no-repeat;
						}
						&:nth-of-type(4) .svg{
							background: transparent url(../../components/images/datalab/projects/3-4.svg) center bottom no-repeat;
						}
						&:nth-of-type(5) .svg{
							background: transparent url(../../components/images/datalab/projects/3-5.svg) center bottom no-repeat;
						}
					}
				}
				&__convert{
					.item{
						&:nth-of-type(1) .svg{
							background: transparent url(../../components/images/datalab/projects/4-1.svg) center bottom no-repeat;
						}
						&:nth-of-type(2) .svg{
							background: transparent url(../../components/images/datalab/projects/4-2.svg) center bottom no-repeat;
						}
						&:nth-of-type(3) .svg{
							background: transparent url(../../components/images/datalab/projects/4-3.svg) center bottom no-repeat;
						}
						&:nth-of-type(4) .svg{
							background: transparent url(../../components/images/datalab/projects/4-4.svg) center bottom no-repeat;
						}
						&:nth-of-type(5) .svg{
							background: transparent url(../../components/images/datalab/projects/4-5.svg) center bottom no-repeat;
						}
					}
				}
				&__title{
					font-family: 'Montserrat-Bold';
					font-size: 23px;
					line-height: 28px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #543DCC;
					margin-bottom: 20px;
				}
				&__text{
					font-family: 'Montserrat-Medium';
					font-size: 14px;
					line-height: 17px;
					color: #000000;
				}
			}
		}
		&__terminal{
			background-color: #B6ACE5;
			.bg-title{
				transform: rotate(-90deg) translate(-199px, -181px);
			}
			.title{
				transform: rotate(-90deg) translate(-40px, -149px);
			}
		}
		&__akvatoria{
			background-color: #DBBDE0;
			.bg-title{
				transform: rotate(-90deg) translate(-345px, -192px);
			}
			.title{
				transform: rotate(-90deg) translate(-60px, -166px);
			}	
		}
		&__woman{
			background-color: #FAD7A2;
			.bg-title{
				transform: rotate(-90deg) translate(-207px, -181px);
			}
			.title{
				transform: rotate(-90deg) translate(-65px, -166px);
			}
		}
		&__coins{
			background-color: #90E0CF;
			.bg-title{
				transform: rotate(-90deg) translate(-184px, -193px);
			}
			.title{
				transform: rotate(-90deg) translate(-63px, -166px);
			}
		}
	}
	&__decor {
		position: absolute;
		right: 0;
		bottom: 100px;
		width: 164px;
		height: 360px;
		z-index: -1;
	}
}

.feedback{
	position: relative;
	padding-top: 60px;
	padding-bottom: 90px;
	@media (max-width: 1199.98px) {
		margin-bottom: 100px;
	}
	@media (max-width: 991.98px){
		margin-bottom: 71px;
		padding-bottom: 44px;
	}
	@media(max-width: 767.98px){
		padding-top: 80px;
		padding-bottom: 90px;
		background: #543DCC url(../../components/images/datalab/feedback/mobile-bg.svg) center bottom no-repeat;
		background-size: contain;
		margin-bottom: 0;
	}
	@media(max-width: 575.98px) {
		padding-top: 40px;
	}
	&__decor{
		z-index: -1;
		position: absolute;
		right: 60px;
		top: 238px;
		width: 480px;
		height: 580px;
		transform: scale(1.25);
		@media (max-width: 1350px) {
			top: 340px;
			transform: scale(1);
			right: 0;
		}
		@media (max-width: 1199.98px){
			width: 229px;
			top: 386px;
		}
	}
	&__decor-2{
		z-index: -1;
		position: absolute;
		left: 0px;
		bottom: -142px;
		width: 175px;
		height: 219px;
		@media (max-width: 1350px) {
			bottom: -368px;
		}
		@media (max-width: 1199.98px) {
			bottom: -309px;
		}
	}
	&::after{
		.bg-white;
		@media (max-width: 1199.98px) {
			max-width: 1012px;
			width: 94%;
		}
	}
}
.partnership {
	width: 100%;
	z-index: 100;
	@media (max-width: 1199.98px){
		width: auto;
	}
	@media (max-width: 767.98px){
		text-align: center;
	}
	.headline {
		font-weight: 300;
		font-size: 50px;
		line-height: 67px;
		font-family: 'Montserrat-Light';
		margin-bottom: 20px;
		@media (max-width: 991.98px){
			font-size: 48px;
		}
		@media (max-width: 767.98px){
			font-size: 30px;
			font-family: 'Montserrat-Bold';
			color: #fff;
		}
		@media(max-width: 575.98px) {
			display: block;
			text-align: center;
			max-width: 390px;
			margin: 0 auto;
			font-size: 25px;
		}
	}
	.paragraph {
		margin-bottom: 66px;
		font-size: 15px;
		line-height: 140%;
		color: #797A80;
		font-family: 'Montserrat-Bold';
		@media (max-width: 1199.98px) {
			font-size: 13px;
		}
		@media(max-width: 991.98px){
			width: 89%;
		}
		@media (max-width: 767.98px){
			width: 85%;
			margin: 0 auto;	
			font-size: 20px;
			font-family: 'Montserrat-Medium';
			line-height: 200%;
			margin-bottom: 63px;
			color: #fff;
		}
		@media(max-width: 575.98px) {
			width: auto;
			max-width: 390px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
	&__button{
		padding: 20px 30px;
		font-family: 'Montserrat-Bold';
		background-color: #fff;
		border: none;
		color: #543DCC;
		@media (max-width: 575.98px) {
			display: block;
			max-width: 390px;
			margin: 0 auto;
		}
	}
	.partner-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.group {
			flex-basis: 45%;
			position: relative;
			margin-bottom: 30px;
			@media (max-width: 991.98px) {
				flex-basis: 100%;
				font-size: 13px;
				&:nth-child(1){
					order: 1;
				}
				&:nth-child(2){
					order: 3;
				}
				&:nth-child(3){
					order: 5;
				}
				&:nth-child(4){
					order: 2;
				}
				&:nth-child(5){
					order: 4;
				}
			}
			input {
				width: 100%;
				background: transparent;
				padding: 15px 0;
  				display: block;
				border: none;
				border-bottom: 1px solid #CDCFD9;
			}
			input:focus {
				outline: none;
			}
			input:focus ~ label, input:valid ~ label {
				top: -15px;
				font-size: 11px;
				color: #5264AE;
			}
			label {
				position: absolute;
				pointer-events: none;
				left: 0px;
				top: 15px;
				transition: 0.2s ease all;
				-moz-transition: 0.2s ease all;
				-webkit-transition: 0.2s ease all;
				font-weight: 300;
				font-size: 13px;
				line-height: 16px;
				color: #919299;
			}
			.bar {
				position: relative;
				display: block;
				width: 100%;
			}
			.bar:before, .bar:after {
				content: "";
				height: 1px;
				width: 0;
				bottom: 0;
				position: absolute;
				background: #543DCC;
			}
			.bar:before {
				left: 50%;
			}
			.bar:after {
				right: 50%;
			}
			input:focus ~ .bar:before,
			input:focus ~ .bar:after {
				width: 50%;
			}
		}
		
		.loadfile{
			flex-basis: 45%;
			@media (max-width: 991.98px) {
				flex-basis: 100%;
				order: 6;
			}
			.file {
				width: 0px;
				height: 0px;
				opacity: 0;
				position: absolute;
				z-index: -10;
			}
			label {
				margin-top: 12px;
				margin-left: 24px;
				margin-bottom: 18px;
				font-size: 13px;
				position: relative;
				color: #919299;
				font-weight: 300;
				cursor: pointer;
				border-bottom: 1px solid #CDCFD9;
			}
			label::before{
				width: 14px;
				height: 14px;
				position: absolute;
				left: -24px;
				content:' ';
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6378 5.06928C11.8331 4.87402 11.8331 4.55744 11.6378 4.36218C11.4426 4.16691 11.126 4.16691 10.9307 4.36218L11.6378 5.06928ZM4.36218 10.9307C4.16691 11.126 4.16691 11.4426 4.36218 11.6378C4.55744 11.8331 4.87402 11.8331 5.06928 11.6378L4.36218 10.9307ZM6.33274 3.70532C6.13748 3.90058 6.13748 4.21717 6.33274 4.41243C6.528 4.60769 6.84458 4.60769 7.03984 4.41243L6.33274 3.70532ZM8.65685 2.08831L8.3033 1.73476L8.65685 2.08831ZM13.9117 7.34315L13.5581 6.98959L13.9117 7.34315ZM11.5876 8.96016C11.3923 9.15542 11.3923 9.472 11.5876 9.66726C11.7828 9.86252 12.0994 9.86252 12.2947 9.66726L11.5876 8.96016ZM9.66726 12.2947C9.86252 12.0994 9.86252 11.7828 9.66726 11.5876C9.472 11.3923 9.15542 11.3923 8.96015 11.5876L9.66726 12.2947ZM7.34315 13.9117L7.6967 14.2652H7.6967L7.34315 13.9117ZM2.08831 8.65685L1.73476 8.3033L2.08831 8.65685ZM4.41243 7.03984C4.60769 6.84458 4.60769 6.528 4.41243 6.33274C4.21717 6.13748 3.90058 6.13748 3.70532 6.33274L4.41243 7.03984ZM10.9307 4.36218L4.36218 10.9307L5.06928 11.6378L11.6378 5.06928L10.9307 4.36218ZM7.03984 4.41243L9.01041 2.44187L8.3033 1.73476L6.33274 3.70532L7.03984 4.41243ZM13.5581 6.98959L11.5876 8.96016L12.2947 9.66726L14.2652 7.6967L13.5581 6.98959ZM13.5581 2.44187C14.814 3.69769 14.814 5.73377 13.5581 6.98959L14.2652 7.6967C15.9116 6.05035 15.9116 3.3811 14.2652 1.73476L13.5581 2.44187ZM9.01041 2.44187C10.2662 1.18604 12.3023 1.18604 13.5581 2.44187L14.2652 1.73476C12.6189 0.0884139 9.94965 0.0884138 8.3033 1.73476L9.01041 2.44187ZM8.96015 11.5876L6.98959 13.5581L7.6967 14.2652L9.66726 12.2947L8.96015 11.5876ZM2.44187 9.01041L4.41243 7.03984L3.70532 6.33274L1.73476 8.3033L2.44187 9.01041ZM2.44187 13.5581C1.18604 12.3023 1.18605 10.2662 2.44187 9.01041L1.73476 8.3033C0.088414 9.94965 0.0884139 12.6189 1.73476 14.2652L2.44187 13.5581ZM6.98959 13.5581C5.73377 14.814 3.69769 14.814 2.44187 13.5581L1.73476 14.2652C3.3811 15.9116 6.05035 15.9116 7.6967 14.2652L6.98959 13.5581Z' fill='%2335277F'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
			}
			.filename {
				margin-top: 4px;
				width: 100%;
				border-bottom: 1px solid #CDCFD9;
			}
		}	
	}
	.send-offer{
		cursor: pointer;
		display: inline-block;
		padding: 15px 22px;
		text-align: center;
		margin-top: 82px;
		font-size: 14px;
		color: #FFFFFF;
		border: 2px solid #543DCC;
		background: #543DCC;
		box-sizing: border-box;
		transition: background 1s, color 1s;
		width: 170px;
		float: left;
		@media (max-width: 991.98px){
			margin-top: 52px;
		}
	}
	.send-offer:hover{
		@media (min-width: 992px){
			background: #FFFFFF;
			color: #543DCC;
			transition: background 1s, color 1s;
		}
	}
	.personal-data {
		margin-top: 100px;
		margin-left: 102px;
		float: left;
		color: #919299;
		@media (max-width: 1199.98px) {
			font-size: 13px;
		}
		@media (max-width: 991.98px) {
			font-size: 12px;
			width: 268px;
			margin-left: 60px;
			margin-top: 47px;
			.agree{
				margin-left: 37px;
				margin-top: 12px;
			}
		}
		input {
			width: 0px;
			height: 0px;
			opacity: 0;
			position: absolute;
			z-index: -10;
		}
		label {
			height: 20px;
			width: 20px;
			border: 1px solid #BBBCBF;
			position: relative;
			background-color: transparent;
			border-radius:2px;
			padding:3px;
			cursor: pointer;
			float: left;
			@media (max-width: 991.98px){
				bottom: -41px;
			}
		}
		
		.policy {
			border-bottom: 1px solid #CDCFD9;
		}
		// Галочка
		input[type="checkbox"] + label::after {
			content: '';
			display: inline-block;
			height: 8px;
			width: 15px;
			border-left: 2px solid #00CC69;
			border-bottom: 2px solid #00CC69;
			transform: rotate(-53deg);
			position: absolute;
			top: 4px;
			left: 2px;
			opacity: 0;
			transition: opacity 0.5s;
		}
		//появление галочки при клике на checkbox
		input[type="checkbox"]:checked + label::after {
			opacity: 1;
			transition: opacity 0.5s;
		}
		// Воздушный шар
		input[type="checkbox"] + label::before { 
			content: '';
			width: 74px;
			height: 92px;
			background-image: url("data:image/svg+xml,%3Csvg width='74' height='92' viewBox='0 0 74 92' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.114 91.5003L26.1058 74.9642H35.1425V91.5003H42.171L47.1913 73.9619' stroke='%23BBBCBF' stroke-miterlimit='10'/%3E%3Cpath d='M74 37.8828C74 58.8286 56.5292 75.7656 37.8535 75.7656C19.1777 75.7656 0 58.8286 0 37.8828C0 16.937 19.0773 0 37.7531 0C56.4288 0 74 16.937 74 37.8828Z' fill='%23F23071'/%3E%3Cpath d='M40.464 77.0684H32.0298V79.9747H40.464V77.0684Z' fill='%23F23071'/%3E%3Cg opacity='0.2'%3E%3Cpath opacity='0.2' d='M2.10853 37.8828C2.10853 17.2377 20.6838 0.501095 39.0583 0C38.7571 0 38.5563 0 38.2551 0C19.6798 0 0.502014 16.937 0.502014 37.8828C0.502014 58.8286 19.5794 75.7656 38.2551 75.7656C38.5563 75.7656 38.7571 75.7656 39.0583 75.7656C20.6838 75.2645 2.10853 58.5279 2.10853 37.8828Z' fill='white'/%3E%3C/g%3E%3Cpath d='M48.5969 70.4541H24.4992V78.2712H48.5969V70.4541Z' fill='%23F23071'/%3E%3Cpath opacity='0.2' d='M24.4994 2.70506C24.4994 2.70506 -4.1166 35.3765 24.4994 72.9586H33.9377C33.9377 72.9586 7.83185 41.8907 32.7328 0.299805L28.1141 1.40221L24.4994 2.70506Z' fill='white'/%3E%3Cpath opacity='0.2' d='M49.4003 2.2047C49.4003 2.2047 78.0163 35.3772 49.4003 72.9593H39.962C39.962 72.9593 66.0679 41.5908 41.1669 0.100098L45.7856 1.00207L49.4003 2.2047Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			position: absolute;
			left: -26px;
			pointer-events: none;
			opacity: 1;
			transition: opacity 1s;
			top: -92px;
			@media (max-width: 991.98px) {
				transform: scale(0.9) translate(-1px, 5px);
			}
		}
		//анимация возд шара при клике на checkbox
		input[type="checkbox"]:checked + label::before {
			opacity: 0;
			transition: opacity 2s, top 2s;
			top: -200px;
		}
		p {
			margin: 2px 0 0 20px;
			float: left;
			font-size: 12px;
			line-height: 15px;
			color: #919299;
			span {
				border-bottom: 1px solid #919299;
				cursor: pointer;
			}
		}
	}
}

.footer{
	padding-top: 100px;
	padding-bottom: 64px;
	@media(max-width: 991.98px){
		padding-top: 73px;
		padding-bottom: 50px;
		background: transparent url(../../components/images/datalab/mob-menu/mob-menu-bg.svg) center bottom no-repeat;
		background-size: 100% 30%;
	}
	@media (max-width: 767.98px) {
		background-color: #fff;
		padding-bottom: 32px;
		background-size: 150% 35%;
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		.policy-block{
			flex-basis: 100%;
			display: flex;
			font-size: 12px;
			color: #919299;
			font-family: 'Montserrat-Medium';
			@media(max-width: 991.98px){
				flex-wrap: wrap;
				justify-content: center;
				font-size: 18px;
				color: #fff;
			}
			.rights{
				margin-right: 59px;
				@media(max-width: 991.98px){
					flex-basis: 100%;
					text-align: center;
					margin-right: 0;
					order: 2;
				}
				@media (max-width: 575.98px) {
					text-align: center;
					max-width: 390px;
					margin: 0 auto;
					font-size: 16px;
				}
			}
			.copyright{
				border-bottom: 1px solid;
				@media(max-width: 991.98px){
					margin-bottom: 30px;
				}
				@media (max-width: 575.98px) {
					text-align: center;
					max-width: 390px;
					margin: 0 auto;
					margin-bottom: 34px;
					font-size: 16px;
				}
			}
		}
	}
	&__item{
		flex-basis: 33%;
		&:not(:last-of-type){
			margin-bottom: 79px;
			@media (max-width: 575.98px){
				margin-bottom: 30px;
			}
		}
		@media(max-width: 991.98px){
			flex-basis: 100%;
		}
		&-text{
			font-size: 13px;
			font-family: 'Montserrat-Bold';
			color: #919299;
			margin-bottom: 12px;
			@media(max-width: 991.98px){
				font-size: 18px;
				margin-bottom: 0;
			}
			@media(max-width: 575.98px) {
				font-size: 16px;
				margin-bottom: 0px;
			}
		}
		&-contact{
			font-size: 30px;
			font-family: 'Montserrat-Medium';
			margin-bottom: 10px;
			@media(max-width: 991.98px){
				font-size: 36px;
			}
			@media(max-width: 575.98px) {
				font-size: 25px;
			}
		}
		.mail{
			@media(max-width: 991.98px){
				padding-bottom: 37px;
				border-bottom: 2px solid #CDCFD9
			}
		}
		.time{
			font-family: 'Montserrat-Medium';
			@media(max-width: 991.98px){
				padding-bottom: 41px;
				border-bottom: 2px solid #CDCFD9
			}
			@media(max-width: 575.98px){
				margin-bottom: 0px;
			}
		}
	}
	.social-block{
		@media(max-width: 992.98px){
			margin-bottom: 140px;
		}
		@media (max-width: 575.98px) {
			margin-bottom: 111px;
		}
		&__items{
			display: flex;
		}
		&__item{
			@media(max-width: 991.98px){
				transform: scale(1.5) translateX(5px);
				margin-right: 50px;
			}
			&:not(:last-of-type){
				margin-right: 20px;
				@media(max-width: 991.98px){
					margin-right: 50px;
				}
			}
		}
	}
	.social-text{
		margin-bottom: 23px;
	}


	.pulse, .pulse2 {
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 30px;
		margin: 45px;
		display: block;
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background: #00B259;
		box-shadow: 0 0 0 rgba(0, 178, 89, 0.5);
		animation: pulse 2s linear infinite;
		@media (max-width: 1199.98px) {
			bottom: 0;
		}
	}
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.5);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
		box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
	}
	30% {
		-moz-box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.5);
		box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.50);
	}
	70% {
		-moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
		box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
		box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
	}
}
@keyframes pulse2 {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.65);
		box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.75);
	}
	30% {
		-moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
		box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.50);
	}
	70% {
		-moz-box-shadow: 0 0 0 15px rgba(0, 178, 89, 0);
		box-shadow: 0 0 0 15px rgba(0, 178, 89, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
		box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
	}
	}
}

// ** POPUP ** //
.popup {
	width: 730px;
	background-color: #fff;
	padding: 50px 89px 60px;
	&-block{
		display: none;
		&_show{
			display: block;
		}
	}
	&-bg{
		z-index: 200;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(84,61,204, 0.9);
	}
	&__title{
		text-align: left;
		margin-bottom: 60px;
		h1{
			margin: 0;
		}
	}
	.partnership{
		.send-offer{
			margin-top: 0;
		}
		.personal-data{
			margin: 0;
			float: none;
			p{
				float: none;
			}
			label{
				margin-right: 10px;
			}
			label {/* <-- стилизируем новый */
				height: 20px;
				width: 20px;
				border: 1px solid #BBBCBF;
				position: relative;
				background-color: transparent;
				border-radius:2px;
				padding:3px;
				cursor: pointer;
				float: left;
			}
			label:before {
				display: none;
			}
			
			p{
				width: 70%;
			}
		}
		.send-offer{
			margin-right: 30px;
		}
	}
	&__message{
		width: 100%;
		margin-bottom: 60px !important;
	}
	&__send-block{
		display: flex;
		align-items: center;
		&__checkbox{
			&::after {
				display: none !important;
			}
		}
	}
}

// ** ANIMATIONS ** //
#background-figure{
	.animateFigure(background-figure, 15s, linear);
}
#background-figure-services {
	.animateFigure(background-figure-services, 15s, ease-in);
}
#background-figure-project {
	.animateFigure(background-figure-project, 9s, linear);
}
#background-figure-partnership {
	.animateFigure(background-figure-partnership, 18s, linear);
}
#background-field-partnership {
	.animateFigure(background-field-partnership, 120s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
}
.keyframesForBackFigure(background-figure, 'M0 292.264L0 0.641357C151.66 82.5142 177.417 266.878 0 292.264Z', 'M0 293L0 2.99989C164.5 -24.5002 235.5 216 0 293Z', 'M0 290.179L0 0.178711C224.5 132.5 211 258 0 290.179Z');
.keyframesForBackFigure(background-figure-services, 'M142.876 29.8365C119.284 0.970588 37.9648 -11.2611 0 12.7938V243.884C0 243.884 8.64377 250 26.4398 250C105.759 250 172.367 65.9188 142.876 29.8365Z', 'M146 70.4999C122.408 41.634 37.9648 -18.2611 0 5.79378V236.884C0 236.884 48.704 236.884 66.5 236.884C145.819 236.884 175.491 106.582 146 70.4999Z', 'M99 66.5001C75.4076 37.6343 37.9648 -17.485 0 6.56992V237.66C0 237.66 18 208 63 208C142.319 208 128.491 102.582 99 66.5001Z');
.keyframesForBackFigure(background-figure-project, 'M110 0C84.6215 13.4494 59.8382 37.2452 40.2404 64.5C16.2279 97.8942 0 136.481 0 167.592C0 227.89 71.826 238.263 110 240V0Z', 'M110 0C85.0572 16.3854 28.0878 30.8967 7.54606 68.5C-9.43243 99.5805 7.54581 152.932 7.54581 178.5C7.54581 238.798 79.204 238.263 110 240V0Z', 'M110.49 0C78.9591 16.3854 62.1609 59.8967 36.1935 97.5C14.7304 128.581 -13.2357 159 8.1485 192C39.2528 240 71.5599 238.263 110.49 240V0Z');
.keyframesForBackFigure(background-figure-partnership, 'M88.7583 0.261016C48.7832 -4.29484 23.4078 52.129 0 64.7778V214.86C0 214.86 7.65254 220 23.4078 220C43.4047 220 72.2912 202.198 88.7583 183.553C127.04 140.206 142.738 187.057 165.998 134.137C183.702 93.8599 139.913 6.09097 88.7583 0.261016Z', 'M88.7583 1.00013C48.7832 -3.55572 23.4078 17.1289 0 29.7776V179.86C0 179.86 35.2448 165.5 51 165.5C70.9969 165.5 92.0329 198.506 108.5 179.86C146.781 136.514 180.24 163.921 203.5 111C221.203 70.7232 139.913 6.83009 88.7583 1.00013Z', 'M108.5 0.499929C68.5249 -4.05593 23.4078 37.7722 0 50.421V200.503C0 200.503 6.5 229 54 229C94 229 116.533 219.149 133 200.503C158.173 172 152 140.5 177.5 103C202.239 66.6185 159.655 6.32989 108.5 0.499929Z');
.keyframesForBackFigure(background-field-partnership, 'M480 69.3095C431.532 24.7775 392.28 -34.1341 319.92 24.7783C216.159 109.257 105.633 44.5425 45.1564 129.474C3.8565 187.474 -61.6775 410.641 129.463 445.458C314.118 479.093 375.763 576.303 480 580V69.3095Z', 'M480.31 75.8845C425.897 31.9257 345.785 -35.5825 264.549 22.5714C148.06 105.962 133.113 175.75 65.2181 259.587C18.8523 316.841 -82.6293 478.275 131.956 512.643C339.261 545.846 363.287 576.351 480.31 580V75.8845Z', 'M480.182 39.6092C419.429 -7.51268 329.982 -19.7089 239.28 42.6296C109.217 132.021 91.4117 63.5432 15.6059 153.414C-36.1626 214.788 39.8393 527.888 282.264 527.888C326.49 527.888 377.3 580 480.182 580V39.6092Z');

.keyframes(column-1, 'M 15.5637 71.3027 V 62.7831 L 22.6288 64.861 V 73.3807 L 15.5637 71.3027 Z', 'M 15.5637 71.3027 V 40.7831 L 22.6288 42.861 V 73.3807 L 15.5637 71.3027 Z');
.keyframes(column-2, 'M 33.2264 75.7183 V 39.8215 L 40.2915 41.8995 V 77.7963 L 33.2264 75.7183 Z', 'M 33.2264 75.7183 V 69.8215 L 40.2915 71.8995 V 77.7963 L 33.2264 75.7183 Z');
.keyframes(column-3, 'M 50.889 81.0172 V 65.4325 L 57.9541 67.5105 V 83.0952 L 50.889 81.0172 Z', 'M 50.889 81.0172 V 35.4325 L 57.9541 37.5105 V 83.0952 L 50.889 81.0172 Z');
.keyframes(column-4, 'M 68.5518 86.316 V 38.0553 L 75.6168 40.1333 V 88.3939 L 68.5518 86.316 Z', 'M 68.5518 86.316 V 68.0553 L 75.6168 70.1333 V 88.3939 L 68.5518 86.316 Z');
.keyframes(column-5, 'M 86.2145 91.6148 V 55.718 L 93.2796 57.796 V 93.6928 L 86.2145 91.6148 Z', 'M 86.2145 91.6148 V 30.718 L 93.2796 32.796 V 93.6928 L 86.2145 91.6148 Z');
.keyframes-graphic(exposure-2-graphic, 360deg);
.keyframes-graphic(exposure-2-graphic-back, -360deg);

@keyframes fly-man {
	0% {transform: translate(0, 0) scale(1);}
	49% {transform: translate(0,10%) scale(1);}
}
@-webkit-keyframes fly-man {
	0% {-webkit-transform: translate(0,0) scale(1);}
	49% {-webkit-transform: translate(0,10%) scale(1);}
}
.position {
	position: relative;
}
@keyframes exposure-3-foot {
    50% {transform:rotate(0deg);}
	55% {transform:rotate(5deg);}
	60% {transform:rotate(0deg);}
	65% {transform:rotate(5deg);}
	70% {transform:rotate(0deg);}
	75% {transform:rotate(5deg);}
	80% {transform:rotate(0deg);}
}
@-webkit-keyframes exposure-3-foot {
	50% {-webkit-transform: rotate(0deg);}
	55% {-webkit-transform:rotate(5deg);}
	60% {-webkit-transform:rotate(0deg);}
	65% {-webkit-transform:rotate(5deg);}
	70% {-webkit-transform:rotate(0deg);}
	75% {-webkit-transform:rotate(5deg);}
	80% {-webkit-transform:rotate(0deg);}
}

@keyframes exposure-4-arm-shoulder {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(15deg);}
}
@-webkit-keyframes exposure-4-arm-shoulder {
	0% {transform:rotate(0deg);}
    50% {transform:rotate(15deg);}
}

@keyframes exposure-4-arm-poiner {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(-15deg);}
}
@-webkit-keyframes exposure-4-arm-poiner {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(-15deg);}
}

@keyframes exposure-5-arm-poiner {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(-15deg);}
}
@-webkit-keyframes exposure-5-arm-poiner {
    0% {-webkit-transform:rotate(0deg);}
    50% {-webkit-transform:rotate(-15deg);}
}

@keyframes exposure-2-circle-pointer {
	0% {r: 1.91464;visibility:visible;opacity: 1;}
    10% {r: 5.91464;visibility:hidden;opacity: 0;}
    100% {visibility:hidden;}
}
@-webkit-keyframes exposure-2-circle-pointer {
	0% {r: 1.91464;visibility:visible;opacity: 1;}
    10% {r: 5.91464;visibility:hidden;opacity: 0;}
    100% {visibility:hidden;}
}

@keyframes exposure-2-jump {
	0% {transform: translate(0, 0);}
	50% {transform: translate(0, 5%);}
}
@-webkit-keyframes exposure-2-jump {
	0% {-webkit-transform: translate(0, 0);}
	50% {-webkit-transform: translate(0, 5%);}
}