// IMPORT libs
@import '../shared/flickity.css';

// FONTS
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../../components/fonts/Montserrat/Montserrat-Bold.ttf');
    // font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../../components/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../../../components/fonts//Montserrat/Montserrat-Medium.ttf');
    // font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Light';
    src: url('../../../components/fonts//Montserrat/Montserrat-Light.ttf');
    // font-weight: normal;
    font-style: italic;
}

.montserrat-medium {
    font-family: Montserrat-Medium;
}

.montserrat-bold {
    font-family: Montserrat-Bold;
}

.montserrat-light {
    font-family: Montserrat-Light;
}

.montserrat-semi-bold {
    font-family: Montserrat-SemiBold;
}

// SHARED

.black {
    background-color: black;
}

.no-underline:hover {
    text-decoration: none;
    // img {
    //     transform: rotate(90deg);
    //     transition: all 0.5s;
    // }
}

.white-text {
    color: white;
}

.centry-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .centry-container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .centry-container {
        width: 70%;
    }
}

body {
    background-color: #F4F5F9;
    overflow-x: hidden;
}

.marginTop {
    margin-top: 7%;
}

.full-width {
    width: 100%;
}

.ocean {
    background-color: #00BEB5;
}

.purpy {
    background-color: #543DCC;
}

ul.styled {
    list-style: none;
    
    li {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 210%;
        /* or 34px */
        color: #797A80;
    }

    li.bolded {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 160%;
        /* or 34px */

        color: #797A80;
    }

    li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        font-weight: bold; /* If you want it to be bold */
        font-size: 22px;
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        // padding-top: 1em;
        color: #543DCC;
    }
}

// INLINE images

img {
    max-width: 100%;
}

img.convert-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.convert-images {
    position: relative;
}

// Adaptive margin for blocks

.block {

    .akvatoria {
        margin-bottom: 131px;
    }

    .analysis {
        margin-bottom: 37px;
    }

    .akvatoria-big-images {
        margin-bottom: 168px;
    }

    .solutions {
        margin-bottom: 118px;
    }

    .akvatoria-part {
        margin-bottom: 121px;
    }

    .other-projects {
        margin-bottom: 185px;
    }

    p.other-projects {
        margin-bottom: 48px;
    }

}

.marginBot {
    margin-bottom: 110px;
}

// CAROUSEL

#carousel-container {
    position: relative;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

#akvatoria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;

    img {
        height: 100%;
        width: 100%;
    }

    .carousel-cell { 
        width: 500px;
        padding-top: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

#akvatoriaBig {
    width: 100%;
    z-index: 99;
    
    .carousel-cell {
        padding-top: 50px;
        visibility: hidden;
        width: 900px;
    }
    
    img {
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .carousel-cell.is-selected {
        visibility: visible;
        width: 870px;
        padding-left: 30px;
        padding-right: 30px;

    }

    .flickity-page-dots {
        bottom: -40px;
    }

}

#projects {

    overflow: visible;

    .flickity-viewport {
        overflow: visible;

        .flickity-slider {
            width: 100%;
        }
    }

    .carousel-cell {
        margin-right: 130px;
        min-width: 370px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

    .flickity-page-dots {
        bottom: -40px;
    }
    
    .carousel-cell:hover {
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.17);
        transform: translateY(-5px);
        transition: all 0.5s;
        -webkit-transform: translateY(-5px);
        -webkit-transition: all 0.5s;
    }

}

.flickity-button {
    background-color: black;
    color: white;
}

.flickity-button:hover {
    background-color: black;
    color: white;
}

.flickity-button.previous {
    margin-left: 8%;
}

.flickity-button.next {
    margin-right: 8%;
}


.flickity-page-dots {

    .dot {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: #BBBCBF;
    }

    .dot.is-selected {
        background: #543DCC;
    }

}

// TEXT's

.contact {
    padding: 3.3% 0 3% 0;
    @media(min-width: 1100px){
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            padding: 1% 0 1% 0;
        }
    }
    @media(max-width: 1100px) {
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            padding: 1% 0 1% 0;
        }
    }
}

.exit {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 19px 21px 19px 21px;
    z-index: 999;

    img {
        max-width: 20%;
    }
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    &.space-between{
        justify-content: space-between;
    }
    &.center {
        justify-content: center;
    }
}

p.date {
    margin-top: 33px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    color: #797A80;
}

p.point-title {

    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;
}

p.point-description {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    color: #000000;
}

.marginTopText {
    margin-top: 63px;
}

ul.done-points {
    margin-top: 28px;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-size: 13px;
    line-height: 170%;

    padding-inline-start: 0;

    color: #797A80;

    list-style: none;

    li:first-child {
        font-family: Montserrat-Bold;
    
        font-weight: bold;
    }
}

p.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    margin-bottom: 28px;
    color: #000000;
}

p.about-akvatoria {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    margin-bottom: 65px;

    color: #000000;
}

a {
    cursor: pointer;
}

p.types {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 160%;
    /* or 34px */
}

a.purp {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #543DCC;
    text-decoration: underline;
}

p.other-projects {
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;
}

a.project-link {
    position: relative;
    top: 0;
    left: 0;

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;

        position: absolute;
        bottom: -150px;
        left: 30px;
        z-index: 111;
    }
    img {
        z-index: 11;
    }
}

.send-order {
    span {
        font-size: 18px;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
    }
    img {
        width: 30px;
    }
    a.padding-text {
        margin-left: 60px;
        cursor: default;
    }
}
.send-order:hover {
    span {
        color: #543DCC;
        transition: color 0.5s ease-in-out;
    }
    a.padding-text img {
        transition: all 0.5s ease-in-out;
        -webkit-transform: translateX(20px) ;
        -ms-transform: translateX(20px); 
        transform: translateX(20px);
    }   
}