extends ../shared/base.pug
block main
  .wrapper
    a.no-underline(href="index.html#projects")
      .flex-row.right
        .black.flex-row.white-text.space-between.exit
          .span Закрыть
          img(src=require('../../../components/images/datalab/project-page/exit.svg'), alt="X")
    .centry-container.marginTop
        .block
          .akvatoria.text
            .row
              .col-md-3
                p.date.montserrat-bold — 2018
                ul.done-points
                  each item in ['Что сделано:','Анализ рынка','Проектирование','Разработка','Маркетинговые иследования','Web-дизайн','Запуск продукта']
                    li= item
              .col-md-9
                p.title.montserrat-bold Акватория
                p.about-akvatoria.montserrat-medium
                  | Идея бизнеса автомоек самообслуживания появилась с одной частной мойки в городе Йошкар-Ола. Мы увидели фундаментальную постройку, которая работает в любую погоду 24/7. Чисто, ухожено, 
                  | с отлаженными процессами, функционирует как часы. Есть теплые боксы для работы зимой. Мойка работает в течение всего года.
                  a.purp akvatoria.net
                iframe(width="100%" height="490" src="https://www.youtube.com/embed/I4eGEw_Ynts?rel=0&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .block
          .analysis.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Анализ
              .col-md-9
                p.point-description.montserrat-medium
                  | Нам понравилось данное решение и мы начали изучить рынок. Смотрели аналоги на Урале, 
                  | Сибири и в подмосковье. Увидели легкие навесы, которые не выдерживают суровую зиму и чаще всего не работают в это время года. 
                p.point-description.montserrat-medium 
                  | Учтя все нюансы мы решили построить круглогодичную автомойку самообслуживания в Казани. 
                  | В этот проект мы вложились не только финансово, но и применили наши it-знания.
    .block
      .akvatoria-big-images
        .full-width.purpy#carousel-container
          #akvatoriaBig.carousel-main
            each item in ['1','2','3','4','5']
              .carousel-cell: img(src=require('../../../components/images/datalab/project-page/akvatoria-' + item + '.png'), alt='slide')
          #akvatoria.carousel-nav
            each item in ['1','2','3','4','5']
                .carousel-cell: img(src=require('../../../components/images/datalab/project-page/akvatoria-' + item + '.png'), alt='slide')
    .block
      .solutions.text
        .centry-container
          .row
            .col-md-3
              p.point-title.montserrat-bold Решение
            .col-md-9
              p.point-description.montserrat-medium
                | Мы разработали мобильное приложение, которое помогает и собственнику бизнеса и клиенту автомойки. Для управляющего это возможность видеть
              ul.styled
                  each item in ['Финансовые отчеты(количество чеков за сутки, неделю, месяц);','Информацию о клиентах;','Советы по планированию финансов;','Хоз учет;','данные для инкассатора.']
                    li.montserrat-medium= item
              p.point-description.montserrat-medium.marginTopText
                | Клиентам приложение поможет:
              ul.styled
                each item in ['Оплатить мойку без очереди минуя жетоны;','Получать актуальную информацию об акциях и выгодных предложениях;','Давать обратную связь (комментарии, оценки);','Подсказки для новых пользователей.']   
                  li.montserrat-medium= item
    .block
      .akvatoria-part.text
        .centry-container
          .row
            .col-md-3
              p.point-title.montserrat-bold 
                | Хочешь стать
                br
                | частью
                br
                | Акватории?
            .col-md-9
              p.point-description.montserrat-medium
                p.types.montserrat-bold Виды взаимодействия с «Акватория».
                br
                | Мы разработали 3 формата сотрудничества с «Акватория»: консалтинг, франшиза, бизнес-кооперация.
              ul.styled
                each item in ['Консалтинг','Франшиза','Бизнес-кооперация']   
                  li.bolded.montserrat-medium= item
              p.point-description.montserrat-medium.marginTopText
                | При выборе любого из этих форматов, вы получаете прибыльный бизнес на автомойках самообслуживания. Это доказано на уже функционирующих объектах. «Акватория» безотказно работает с 2016 года и окупилась быстрее трех лет. Еще 3 объекта на стадии строительства. 
                | По нашим исследованиям автомойка рентабельна на каждые 70 000 человек в городе. Рынок 
                | на данный момент не занят. Однако, через 5 лет зайти на него будет намного сложнее.
                | Подробная информация на сайте Акватория  akvatoria.net
    .block
      .other-projects
        .centry-container
          p.other-projects.montserrat-light Посмотреть другие проекты:
          .row
            .col-md-12
              #projects.main-carousel
                each item in [{img: 'convert', text: 'Автоматический \n обменник криптовалют \n в несколько кликов'},{img: 'akvatoria', text: 'Cистема контроля \n и анализа автомоек \n самообслуживания'},{img: 'terminals', text: 'ПО для платежных \n терминалов \n и банкоматов'}]
                  .carousel-cell
                    a.project-link(href=item.img+'.html')
                      p.white-text.montserrat-bold(style="white-space: pre-line") !{item.text}
                      img(src=require('../../../components/images/datalab/projects/' + item.img + '.png'), alt='slide')
    .full-width.black
      .contact
        .centry-container
          .flex-row.center
            .send-order
              span.white-text.montserrat-semi-bold Отправте заявку, чтобы сделать вместе с нами классный сервис
              a.padding-text: img(src=require('../../../components/images/datalab/project-page/arrow.svg'), alt='->')

