extends ../shared/base.pug
block main
  .wrapper
    a.no-underline(href="index.html#projects")
      .flex-row.right
        .black.flex-row.white-text.space-between.exit
          .span Закрыть
          img(src=require('../../../components/images/datalab/project-page/exit.svg'), alt="X")
    .centry-container.marginTop
        .block
          .convert.text
            .row
              .col-md-3
                p.date.montserrat-bold — 2018
                ul.done-points
                  each item in ['Что сделано:','Анализ рынка','Проектирование','Разработка','Маркетинговые иследования','Web-дизайн','Запуск продукта']
                    li= item
              .col-md-9
                p.title.montserrat-bold Convert
                p.about-convert.montserrat-medium
                  | Convertbank.com – сервис автоматического обмена цифровых валют. Позволяет 
                  |  быстро совершать переводы денег (фиат) в криптовалюту и наоборот без регистрации 
                  | и подтверждения личности в несколько кликов. 
                  a.purp convertbank.com
        .block
          .task.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Задача
              .col-md-9
                p.point-description.montserrat-medium
                  | В середине 2017 года наша команда заинтересовалась криптовалютным рынком. Популярность электронных монет росла в геометрической прогрессии. Нам стало интересно, как происходит обмен цифровых денег. После проведенного анализа рынка мы пришли к выводу, что все обменники работают только через форму обратной связи. Пользователю приходится связываться 
                  | с человеком, общаться и ждать ручной обработки заявки. При этом, не исключалось мошенничество и ошибки, вызванные человеческим фактором. 
                p.point-description.montserrat-medium
                  | Тогда нам пришла идея – сделать сервис обмена валют полностью автоматическим. А также 
                  | он должен был быть простым, понятным, максимально быстрым и абсолютно безопасным. 
                  | Мы изучили все юридические нюансы, провели маркетинговое исследование и приступили 
                  | к реализации проекта.
        .block
          .inline-images
            .row
              .col-md-6
                .convert-images
                    img.convert-image(src=require('../../../components/images/datalab/project-page/inline-1.png'), alt='convert-image')
                    img.convert-text(src=require('../../../components/images/datalab/project-page/convert-text.png'), alt='convert-text')
              .col-md-6
                .convert-images
                  img.triangle(src=require('../../../components/images/datalab/project-page/inline-2.svg'))
        .block
          .solutions.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Решения
              .col-md-9
                p.point-description.montserrat-medium
                  | Первым делом наша команда разработала архитектуру проекта. В целях масштабируемости было решено реализовать систему микросервисов. Мы создали отдельные сервисы для эквайринга, отправки криптовалюты на электронный кошелек пользователей, конвертации и получения актуального курса через биржу, которые управляются ядром системы. 
        .block
          .stack.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Стек технологий
              .col-md-9
                p.point-description.montserrat-medium
                  | BackEnd (серверная часть) был написан на PHP (Yii2). Взаимодействие микросервисов с внешними платформами реализовано через REST API.
                p.point-description.montserrat-medium
                  | FrontEnd был написан на языке TypScript c использованием фреймворка AngularJS. Данный язык является одним из самых современных и динамично развивающихся. Позволяет создавать кросплатформенные решения для всех типов устройств (IOS, Android, Windows и Linux).
    .block
      .convert-big-images
        .full-width.ocean#carousel-container
          #convertBig.carousel-main
            each item in ['carousel-1.png', 'carousel-2.png', 'carousel-3.png', 'carousel-4.png', 'carousel-5.png']
              .carousel-cell: img(src=require('../../../components/images/datalab/project-page/'+item), alt='slide')
          #convert.carousel-nav
            each item in ['carousel-1.png', 'carousel-2.png', 'carousel-3.png', 'carousel-4.png', 'carousel-5.png']
                .carousel-cell: img(src=require('../../../components/images/datalab/project-page/'+item), alt='slide')
    .block
      .result.text
        .centry-container
          .row
            .col-md-3
              p.point-title.montserrat-bold Результат
            .col-md-9
              p.point-description.montserrat-medium
                | Благодаря уникальному предложению мы имеем все возможности занять прочные позиции на рынке криптовалютных обменников.
              p.point-description.montserrat-medium
                | Обмен происходит в автоматическом режиме, время обработки заявок составляет 
                | 1-5 минут. Постоянно расширяется набор обменных пар, реализован прием Яндекс.Деньги, Qiwi и Visa/MasterCard. Платформа постоянно развивается и наша 
                | цель – выйти на международный рынок.
    .block
      .other-projects
        .centry-container
          p.other-projects.montserrat-light Посмотреть другие проекты:
          .row
            .col-md-12
              #projects.main-carousel
                each item in [{img: 'convert', text: 'Автоматический \n обменник криптовалют \n в несколько кликов'},{img: 'akvatoria', text: 'Cистема контроля \n и анализа автомоек \n самообслуживания'},{img: 'terminals', text: 'ПО для платежных \n терминалов \n и банкоматов'}]
                  .carousel-cell
                    a.project-link(href=item.img+'.html')
                      p.white-text.montserrat-bold(style="white-space: pre-line") !{item.text}
                      img(src=require('../../../components/images/datalab/projects/' + item.img + '.png'), alt='slide')
    .full-width.black
      .contact
        .centry-container
          .flex-row.center
            .send-order
              span.white-text.montserrat-semi-bold Отправте заявку, чтобы сделать вместе с нами классный сервис
              a.padding-text: img(src=require('../../../components/images/datalab/project-page/arrow.svg'), alt='->')

