extends ../shared/base.pug
block main
  .wrapper
    a.no-underline(href="index.html#projects")
      .flex-row.right
        .black.flex-row.white-text.space-between.exit
          .span Закрыть
          img(src=require('../../../components/images/datalab/project-page/exit.svg'), alt="X")
    .centry-container.marginTop
        .block
          .terminals.text
            .row
              .col-md-3
                p.date.montserrat-bold — 2018
                ul.done-points
                  each item in ['Что сделано:','Анализ рынка','Проектирование','Разработка','Маркетинговые иследования','Web-дизайн','Запуск продукта']
                    li= item
              .col-md-9
                p.title.montserrat-bold
                  | ПО для платежных 
                  br 
                  | терминалов и банкоматов
                p.about-terminals.montserrat-medium
                  | Разрабатывает программное обеспечение и поставляем готовые киоски самообслуживания для различных сфер деятельности, включающих ритейл, фитнес, рестораны и фаст-фуд, билетные системы, паркоматы, прием платежей за ЖКХ, медицинские услуги.
                  | Мы также предлагаем готовые решения в сфере почтоматов и продуктоматов, камер хранения, информационно-платежных киосков и рекламных панелей.
        .block
          .task.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Задача
              .col-md-9
                p.point-description.montserrat-medium
                  | Разработать универсальный софт для терминалов применяющихся в различных сферах деятельности:
                ul.styled
                    each item in ['Автоматизация приема платежей (парикмахерские, автомойки)','Киоски самообслуживания','Платежные терминалы','Электронные кассиры','Валютно-обменные операции','Почтоматы, автоматические камеры хранения','Вендинг']
                        li.montserrat-medium= item
        .block
          .terminals-images
            .row
              .col-md-12
                  #terminals.main-carousel
                      each item in ['terminal-1.jpg', 'terminal-2.jpg', 'terminal-3.jpg', 'terminal-4.jpg', 'terminal-5.jpg', 'terminal-6.jpg', 'terminal-7.jpg']
                        .carousel-cell
                          a: img(src=require('../../../components/images/datalab/project-page/'+item), alt='slide')
        .block
          .analysis.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Анализ
              .col-md-9
                p.point-description.montserrat-medium
                  | Выделили на рынке самое популярное терминальное оборудование: диспенсеры купюр puloon,
                  | купюроприемники cashcode, NV200 Smart PayOut, хопперы, принтеры чеков, считыватели RFID и NFC карт.

        .block
          .solutions.text
            .row
              .col-md-3
                p.point-title.montserrat-bold Решение
              .col-md-9
                p.point-description.montserrat-medium
                  | Реализовали протоколы для работы с каждым из устройств и затем создали оболочку которая может использовать весь список этих устройств. Для этой оболочки разработали удобный и понятный интерфейс, который пользователи видят на экране терминала. Тут использовали Delphi. У оболочки есть режим для инкассаторов.
                br
                p.point-description.montserrat-medium
                  | Оболочка подключается к нашему серверу по шифрованному соединению. Сервер обрабатывает данные 
                  | и далее через админ панель хозяева бизнеса могут видеть развернутые отчеты, историю операций, бухучет, инкассаторские данные, мониторинг текущего состояния терминала. Управлять системой можно с телефона. Delphi, js, cgi, jquery, ajax.
    .block
      .terminals-big-images
        .full-width#carousel-container
          #terminalsBig.carousel-main
              each item in [ 'code-1.jpg','code-2.jpg', 'code-3.jpg' ]
                .carousel-cell
                  a: img(src=require('../../../components/images/datalab/project-page/' + item), alt=item)
    .block
      .result.text
        .centry-container
          .row
            .col-md-3
              p.point-title.montserrat-bold Результат
            .col-md-9
              p.point-description.montserrat-medium
                | За 10 лет мы подключили более 2000 терминалов и занимаемся их технической поддержкой 24/7. Имеем колоссальный опыт работы с различными видами оборудования 
              br
              p.point-description.montserrat-medium
                | Реализовали взаимодействие с большинством шлюзов для приема платежей, услуг  жкх, туроператоров, интернет-провайдеров, мобильной связи, электронных денег, валютных бирж, автомоек, парикмахерских. 
              br
              p.point-description.montserrat-medium
                | Платежный сервер способен обрабатывать до 15000 операций в секунду. 
              br
              p.point-description.montserrat-medium
                | Мы регулярно расширяем возможности собственных продуктов и решений и всегда готовы ответить на вопросы по интеграции ПО и устройств в Ваших проектах. А также предоставить все необходимые консультации по возможностям продуктов, независимо от направленного на внедрение региона или страны, провести анализ Ваших потребностей, кастомизировать наше ПО под ваши требования или предложить уникальное, не имеющее аналогов, решение.
              ul.styled
                each item in ['Фитнес-клубы','Депозитные машины','Самообслуживание в торговле','Фаст-фуд','Крипто-терминалы','Парикмахерские и салоны красоты','Клиники и медицинские центры','Спортивные и развлекательные комплексы','Почтоматы, автоматизированные камеры хранения']
                    li.montserrat-medium= item
    .block
      .other-projects
        .centry-container
          p.other-projects.montserrat-light Посмотреть другие проекты:
          #projects.main-carousel
            each item in [{img: 'convert', text: 'Автоматический \n обменник криптовалют \n в несколько кликов'},{img: 'akvatoria', text: 'Cистема контроля \n и анализа автомоек \n самообслуживания'},{img: 'terminals', text: 'ПО для платежных \n терминалов \n и банкоматов'}]
              .carousel-cell
                a.project-link(href=item.img+'.html')
                  p.white-text.montserrat-bold(style="white-space: pre-line") !{item.text}
                  img(src=require('../../../components/images/datalab/projects/' + item.img + '.png'), alt='slide')
    .full-width.black
      .contact
        .centry-container
          .flex-row.center
            .send-order
              span.white-text.montserrat-semi-bold Отправте заявку, чтобы сделать вместе с нами классный сервис
              a.padding-text: img(src=require('../../../components/images/datalab/project-page/arrow.svg'), alt='->')

