mixin createPopup( data )
  section(class="popup-block" id=`${data.id}`)
    .container
      .row
        .popup-bg
            .popup
              .popup__title
                h1= data.title
              .partnership 
                .partner-info
                  .info-column-1
                      .group
                        input(type="text" required)
                        span.bar
                        label Как вас зовут?
                      .group
                        input(type="tel" required).phone_mask
                        span.bar
                        label Номер телефона
                  .info-column-2
                      .group
                        input(type="email" required)
                        span.bar
                        label Ваша почта
                      .loadfile
                        input.file(type="file", id=`${data.id}file`)
                        label(for=`${data.id}file`) Прикрепить файл
                        p.filename
                  .group.popup__message
                    input(type="text" required)
                    span.bar
                    label Ваше сообщение
                .popup__send-block
                  p.send-offer Отправить
                  .personal-data
                    input(class='personal-data__checkbox-input'
                    id=`${data.id}checkbox` type='checkbox')
                    label.personal-data__checkbox-label(for=`${data.id}checkbox`)
                    p 
                      | Я согласен с 
                      span.policy политикой обработки персональных данных
                      | &nbsp;компании