@import "../../components/globalVars";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html body{
    background-color: #F4F5F9;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  position: relative;
  p{
      margin: 0;
      color: #000000;
  }
  margin: 0;
  padding: 0;
}
p.disable {
	opacity: 0.2;
	cursor: progress !important;
}
.header{
	height: 70px;
	margin-top: 55px;
	z-index: 110;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	.logotip{
		position: absolute;
		top: 0;
		left: 0px;
		display: flex;
		.logo{
			width: 100px;
			height: 30px;
			margin-left: 75px;
			margin-top: 24px;
		}
		.language{
			label{
				display: inline-block;
				margin-top: 26px;
				width: 18px;
				height: 15px;
				font-weight: bold;
				font-size: 12px;
				cursor: pointer;
				color: #CBCBCC;
			}
			input{
				display: none;
			}
			input:checked + label {
				color: #8C8C8C;
			}
			.rus{
				margin-left: 30px;
			}
			.eng{
				margin-left: 15px;
			}
		}
	}
	.routing{
		display: flex;
		justify-content: center;
		p{
			margin-top: 24px;
			margin-right: 50px;
			font-weight: 900;
			font-size: 16px;
			cursor: pointer;
			transition: color 0.25s;
		}
		p:hover{
			color: #808080;
			transition: color 0.25s;
		}
		a:hover, a:focus {
			text-decoration: none;
		}
	}
	.callback{
		position: absolute;
		top: 0;
		right: 0px;
		display: flex;
		justify-content: flex-end;
		margin-top: 23px;
		.nomber{
			margin-right: 75px;
			font-weight: 900;
			font-size: 18px;
		}
	}
}
.sticky {
	background: black;
	transition: background 0.5s;
	position: fixed;
	margin-top: 0;
	.logotip{
		.logo{
			#logo-color {
				fill: white;
			}
		}
		.language{
			label{
				color: #737373;
			}
			input{
				display: none;
			}
			input:checked + label {
				color: #A5A5A6;
			}
		}
	}
	.routing{
		p{
			color: white;
		}
		p:hover{
			color: #808080;
		}
	}
	.callback{
		margin-top: 0;
		.nomber{
			margin-top: 23px;
			color: white;
		}
	}
}
.atm, .statistics, .api-integration, .high-level-services, .stack-technologies, 
    .ux-development, .web-aplications, .support {
    margin-top: 85px;
    .inform {
        color: #545559;
        font-size: 14px;
        margin-bottom: 93px;
    }
    hr{
        border-top: 1px solid #cccccc;
        margin: 0;
        height: 1px;
    }
    .headline {
        font-size: 36px;
        color: black;
        font-weight: 600;
        line-height: 44px;
    }
    .paragraph {
        color: #F23071;
        font-size: 13px;
        margin-top: 20px;
    }
    img {
        margin: 29px 0px 50px 0;
        height: 500px;
    }
    a {
        display: block;
        visibility: hidden;
        position: relative;
        top: -155px;
    }
}
.stack-technologies, .api-integration {
    .headline-inform {
        color: #543DCC;
        font-size: 14px;
        font-weight: bold;
        margin-top: 19px;
        margin-bottom: 21px;
    }
    .inform {
        margin-bottom: 20px;
    }
    .logotips {
        margin-top: 60px; 
        margin-bottom: 60px;
        width: 90%;
        img {
            width: auto;
            height: auto;
            margin: 0;
            margin-right: 20px;
            margin-bottom: 30px;
        }
    }
    li {
        color: #543DCC
    }
    hr {
        margin-top: 96px;
    }
    .clear-margin {
        margin-top: 0;
    }
}
.no-padding {
    padding: 0;
}
.atm {
    margin-top: 205px;
}
.support {
    .image-animation {
        margin-bottom: 579px;
        position: relative;
        img {
            position: absolute;
        }
        .img-7 {
            opacity: 0;
            animation: switch-7 9s linear infinite;
        }
        .img-365 {
            opacity: 0;
            animation: switch-365 9s linear infinite;
        }
    }
}
.table-of-contents {
    .info-table-start {
        position: fixed;
        top: 210px;
    }
    .info-table-fixed {
        position: fixed;
        top: 160px;
    }
    .info-table-absolute {
        position: absolute;
    }
    .link{
        font-weight: 600;
        font-size: 13px;
        color: #666666;
        margin-bottom: 20px;
        transition: color 0.5s;
        cursor: pointer;
        display: block;
        text-decoration: none;
    }
    .link:hover {
        color: #543DCC;
        transition: color 0.5s;
        text-decoration: none;
    }
    .select-Area {
        color: #543DCC;
        transition: color 0.5s;
        text-decoration: none;
    }
}
.footer {
	width: 100%;
	height: 370px;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
	.number {
		margin-top: 136px;
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
	}
	.license {
		margin-top: 48px;
		font-size: 12px;
		line-height: 15px;		
		color: #919299;
	}
	.email {
		margin-top: 136px;
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;	
	}
	.personaldata {
		margin-top: 48px;
		font-size: 13px;
		line-height: 16px;
		text-decoration: underline;
		color: #919299;
		cursor: pointer;
	}
	.social-network {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 145px;
		.vk {
			cursor: pointer;
		}
		.facebook, .youtube{
			margin-left: 25px;
			cursor: pointer;
		}
    }
    .pulse {
        z-index: 0;
		position: absolute;
		bottom: 0;
		right: 0;
        margin:45px;
        display: block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #00B259;
        // cursor: pointer;
        box-shadow: 0 0 0 rgba(0, 178, 89, 0.5);
        animation: pulse 2s linear infinite;
    }
    .pulse2 {
        z-index: 0;
		position: absolute;
		bottom: 0;
		right: 0;
        margin:45px;
        display: block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #00B259;
        // cursor: pointer;
        box-shadow: 0 0 0 rgba(0, 178, 89, 0.5);
        animation: pulse2 2s linear infinite;
    }
}
@media (min-width: 1440px) and (max-width: 1799px) {
	.container{
		.main .content {
			p.headline {
				font-size: 62px !important;
			}
		}
	}
	.header{
		.routing{
			p{
				margin-right: 30px;
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1440px) {
	.container {
		.header {
			.routing p {
				font-size: 14px;
            }
        }
    }
}
@-webkit-keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
        box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
    }
    30% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.5);
        box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.50);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
        box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
    }
    30% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.5);
        box-shadow: 0 0 0 10px rgba(0, 178, 89, 0.50);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
    }
}
@-webkit-keyframes pulse2 {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.65);
        box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.75);
    }
    30% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
        box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.50);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 15px rgba(0, 178, 89, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
    }
}
@keyframes pulse2 {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.65);
        box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.75);
    }
    30% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.5);
        box-shadow: 0 0 0 0 rgba(0, 178, 89, 0.50);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 15px rgba(0, 178, 89, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
        box-shadow: 0 0 0 30px rgba(0, 178, 89, 0);
    }
}
@-webkit-keyframes switch-7 {
    0% {
        opacity: 0;
    }
    23% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    79% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes switch-7 {
    0% {
        opacity: 0;
    }
    23% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    79% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes switch-365 {
    0% {
        opacity: 0;
    }
    56% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes switch-365 {
    0% {
        opacity: 0;
    }
    56% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}