doctype html
html
    <!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!-->
    <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >(function (d, w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter50530423 = new Ya.Metrika2({id:50530423,clickmap:true,trackLinks:true,accurateTrackBounce:true,webvisor:true});} catch(e) { }});var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),f = function () { n.parentNode.insertBefore(s, n); };s.type = "text/javascript";s.async = true;s.src = "https://mc.yandex.ru/metrika/tag.js";if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); }})(document, window, "yandex_metrika_callbacks2");
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- /Yandex.Metrika counter -->
    <html lang="ru">
    <!--<![endif]-->
    head
        meta(charset='utf-8')
        meta(name='viewport',content='initial-scale=1.0, width=device-width')
        link(rel="shortcut icon" href="icon.png" type="image/png")
        title DataLab – создаем лучшие Digital продукты
    body
        .container.container-responsive
            .header
                .logotip
                    a(href="index.html")
                        .logo
                            <svg width="98" height="19" viewBox="0 0 98 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="logo-color" d="M13.184 0.191999V18H10.976V15.984C10.464 16.688 9.816 17.224 9.032 17.592C8.248 17.96 7.384 18.144 6.44 18.144C5.208 18.144 4.104 17.872 3.128 17.328C2.152 16.784 1.384 16.024 0.824 15.048C0.28 14.056 0.00800008 12.92 0.00800008 11.64C0.00800008 10.36 0.28 9.232 0.824 8.256C1.384 7.28 2.152 6.52 3.128 5.976C4.104 5.432 5.208 5.16 6.44 5.16C7.352 5.16 8.192 5.336 8.96 5.688C9.728 6.024 10.368 6.528 10.88 7.2V0.191999H13.184ZM6.632 16.128C7.432 16.128 8.16 15.944 8.816 15.576C9.472 15.192 9.984 14.664 10.352 13.992C10.72 13.304 10.904 12.52 10.904 11.64C10.904 10.76 10.72 9.984 10.352 9.312C9.984 8.624 9.472 8.096 8.816 7.728C8.16 7.36 7.432 7.176 6.632 7.176C5.816 7.176 5.08 7.36 4.424 7.728C3.784 8.096 3.272 8.624 2.888 9.312C2.52 9.984 2.336 10.76 2.336 11.64C2.336 12.52 2.52 13.304 2.888 13.992C3.272 14.664 3.784 15.192 4.424 15.576C5.08 15.944 5.816 16.128 6.632 16.128ZM29.5434 5.28V18H27.3354V15.984C26.8234 16.688 26.1754 17.224 25.3914 17.592C24.6074 17.96 23.7434 18.144 22.7994 18.144C21.5674 18.144 20.4634 17.872 19.4874 17.328C18.5114 16.784 17.7434 16.024 17.1834 15.048C16.6394 14.056 16.3674 12.92 16.3674 11.64C16.3674 10.36 16.6394 9.232 17.1834 8.256C17.7434 7.28 18.5114 6.52 19.4874 5.976C20.4634 5.432 21.5674 5.16 22.7994 5.16C23.7114 5.16 24.5514 5.336 25.3194 5.688C26.0874 6.024 26.7274 6.528 27.2394 7.2V5.28H29.5434ZM22.9914 16.128C23.7914 16.128 24.5194 15.944 25.1754 15.576C25.8314 15.192 26.3434 14.664 26.7114 13.992C27.0794 13.304 27.2634 12.52 27.2634 11.64C27.2634 10.76 27.0794 9.984 26.7114 9.312C26.3434 8.624 25.8314 8.096 25.1754 7.728C24.5194 7.36 23.7914 7.176 22.9914 7.176C22.1754 7.176 21.4394 7.36 20.7834 7.728C20.1434 8.096 19.6314 8.624 19.2474 9.312C18.8794 9.984 18.6954 10.76 18.6954 11.64C18.6954 12.52 18.8794 13.304 19.2474 13.992C19.6314 14.664 20.1434 15.192 20.7834 15.576C21.4394 15.944 22.1754 16.128 22.9914 16.128ZM40.5988 17.256C40.2628 17.544 39.8468 17.768 39.3508 17.928C38.8548 18.072 38.3428 18.144 37.8148 18.144C36.5348 18.144 35.5428 17.8 34.8388 17.112C34.1348 16.424 33.7828 15.44 33.7828 14.16V2.496H36.0868V5.28H39.7348V7.176H36.0868V14.064C36.0868 14.752 36.2548 15.28 36.5908 15.648C36.9428 16.016 37.4388 16.2 38.0788 16.2C38.7828 16.2 39.3828 16 39.8788 15.6L40.5988 17.256ZM54.9496 5.28V18H52.7416V15.984C52.2296 16.688 51.5816 17.224 50.7976 17.592C50.0136 17.96 49.1496 18.144 48.2056 18.144C46.9736 18.144 45.8696 17.872 44.8936 17.328C43.9176 16.784 43.1496 16.024 42.5896 15.048C42.0456 14.056 41.7736 12.92 41.7736 11.64C41.7736 10.36 42.0456 9.232 42.5896 8.256C43.1496 7.28 43.9176 6.52 44.8936 5.976C45.8696 5.432 46.9736 5.16 48.2056 5.16C49.1176 5.16 49.9576 5.336 50.7256 5.688C51.4936 6.024 52.1336 6.528 52.6456 7.2V5.28H54.9496ZM48.3976 16.128C49.1976 16.128 49.9256 15.944 50.5816 15.576C51.2376 15.192 51.7496 14.664 52.1176 13.992C52.4856 13.304 52.6696 12.52 52.6696 11.64C52.6696 10.76 52.4856 9.984 52.1176 9.312C51.7496 8.624 51.2376 8.096 50.5816 7.728C49.9256 7.36 49.1976 7.176 48.3976 7.176C47.5816 7.176 46.8456 7.36 46.1896 7.728C45.5496 8.096 45.0376 8.624 44.6536 9.312C44.2856 9.984 44.1016 10.76 44.1016 11.64C44.1016 12.52 44.2856 13.304 44.6536 13.992C45.0376 14.664 45.5496 15.192 46.1896 15.576C46.8456 15.944 47.5816 16.128 48.3976 16.128ZM63.485 18.192C62.029 18.192 60.893 17.808 60.077 17.04C59.261 16.256 58.853 15.152 58.853 13.728V0.191999H62.597V13.512C62.597 14.056 62.733 14.48 63.005 14.784C63.293 15.072 63.693 15.216 64.205 15.216C64.397 15.216 64.589 15.192 64.781 15.144C64.989 15.096 65.149 15.04 65.261 14.976L65.429 17.88C64.805 18.088 64.157 18.192 63.485 18.192ZM80.1367 5.088V18H76.5607V16.512C75.6327 17.632 74.2887 18.192 72.5287 18.192C71.3127 18.192 70.2087 17.92 69.2167 17.376C68.2407 16.832 67.4727 16.056 66.9127 15.048C66.3527 14.04 66.0727 12.872 66.0727 11.544C66.0727 10.216 66.3527 9.048 66.9127 8.04C67.4727 7.032 68.2407 6.256 69.2167 5.712C70.2087 5.168 71.3127 4.896 72.5287 4.896C74.1767 4.896 75.4647 5.416 76.3927 6.456V5.088H80.1367ZM73.1767 15.12C74.1207 15.12 74.9047 14.8 75.5287 14.16C76.1527 13.504 76.4647 12.632 76.4647 11.544C76.4647 10.456 76.1527 9.592 75.5287 8.952C74.9047 8.296 74.1207 7.968 73.1767 7.968C72.2167 7.968 71.4247 8.296 70.8007 8.952C70.1767 9.592 69.8647 10.456 69.8647 11.544C69.8647 12.632 70.1767 13.504 70.8007 14.16C71.4247 14.8 72.2167 15.12 73.1767 15.12ZM91.235 4.896C92.435 4.896 93.523 5.176 94.499 5.736C95.491 6.28 96.267 7.056 96.827 8.064C97.387 9.056 97.667 10.216 97.667 11.544C97.667 12.872 97.387 14.04 96.827 15.048C96.267 16.04 95.491 16.816 94.499 17.376C93.523 17.92 92.435 18.192 91.235 18.192C89.459 18.192 88.107 17.632 87.179 16.512V18H83.603V0.191999H87.347V6.456C88.291 5.416 89.587 4.896 91.235 4.896ZM90.587 15.12C91.547 15.12 92.331 14.8 92.939 14.16C93.563 13.504 93.875 12.632 93.875 11.544C93.875 10.456 93.563 9.592 92.939 8.952C92.331 8.296 91.547 7.968 90.587 7.968C89.627 7.968 88.835 8.296 88.211 8.952C87.603 9.592 87.299 10.456 87.299 11.544C87.299 12.632 87.603 13.504 88.211 14.16C88.835 14.8 89.627 15.12 90.587 15.12Z" fill="black"/>
                            </svg>
                    .language
                        <input type="radio" id="contactChoice1" name="contact" value="rus" checked>
                        <label for="contactChoice1" class="rus">РУ</label>
                        <input type="radio" id="contactChoice2" name="contact" value="eng">
                        <label for="contactChoice2" class="eng">EN</label>
                .routing
                    a(href="#"): p Услуги
                    a(href="index.html#projects"): p Проекты
                    p.disable Компания
                    p.disable Инвестирование
                    a(href="index.html#footer"): p Контакты
                .callback
                    p.nomber 8 800 955 20 40
            .row.atm
                a(id='atm')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline Программное обеспечение для платёжных терминалов и банкоматов
                    p.paragraph LCDM1000 / LCDM2000 / CashCode / NV200
                    img(src=require('../../components/images/datalab/services/services_atm.png'), alt="")
                    p.inform За 10 лет мы подключили более 2000 терминалов и занимаемся их технической поддержкой 24/7. Имеем колоссальный опыт работы с различными видами оборудования: диспенсеры купюр puloon, купюроприемники cashcode, NV200 Smart PayOut, хопперы, принтеры чеков, считыватели RFID и NFC карт, можем адаптировать любое оборудование под нужды вашего бизнеса.
                        <br><br>Наша система управления терминалами позволяет получать развернутые бухгалтерские отчеты для собственника, данные для инкассаторов, мониторинг текущего состояния оборудования даже с мобильного устройства.
                        <br><br>Реализовали взаимодействие с большинством шлюзов для приема платежей, услуг  жкх, туроператоров, интернет-провайдеров, мобильной связи, электронных денег, валютных бирж, автомоек, парикмахерских. Платежный сервер способен обрабатывать до 15000 операций в секунду.
                    hr
            .row.statistics
                a(id='statistics')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline Статистика и анализ
                    p.paragraph BigData / Отчеты / Консолидация данных
                    img(src=require('../../components/images/datalab/services/services_statistics.png'), alt="")
                    p.inform Разработка и проектирование ПО - CRM, HelpDesk, ServiceDesk, ERP, Банковское ПО, ПО для терминалов и прочее. Административный кабинет с аналитикой и отчетами.
                    hr
            .row.api-integration
                a(id='api-integration')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline API интеграция
                    p.paragraph ssl / Get / Post / Soap
                    img(src=require('../../components/images/datalab/services/services_api_integration.png'), alt="")
                    p.headline-inform.clear-margin Можем подключиться к любым сервисам, а так же открыть доступ к своим посредством  API. Уже реализовали взаимодействие с большинством шлюзов для:
                    ul
                        li
                            p.inform Приема платежей (KIT, Qiwi, Cyberplat);
                        li    
                            p.inform Услуг  ЖКХ, штрафов ГИБДД, интернет-провайдеров, мобильной связи;
                        li    
                            p.inform Туроператоров;
                        li    
                            p.inform Электронных денег( Яндекс.Деньги, Qiwi кошелек);
                        li    
                            p.inform Валютных и криптобирж;
                        li    
                            p.inform SMS-шлюзов;
                        li    
                            p.inform Блокчейн-сервисов.
                    hr
            .row.high-level-services
                a(id='high-level-services')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline Высоконагруженные сервисы
                    p.paragraph 15 000 операций в секунду / Azure / Amazon AWS / кластеры
                    img(src=require('../../components/images/datalab/services/services_high_level_services.png'), alt="")
                    p.inform Имеем громадный опыт в настройке конфигураций систем под нужды заказчика и техничесикие требования сервиса. Работаем как с облачными сервисами (Azure, AWS), так и с выделенными серверами. Не по-наслышке знакомы с высокими нагрузками и оптимизацией исполнения запросов. Наш платежный сервер способен обрабатывать до 15 000 операций в секунду. Это возможно благодаря быстрой базе данных. А их сохранность обеспечивает система автоматического резервного копирования.
                    hr
            .row.stack-technologies
                a(id='stack-technologies')
                .col-lg-3
                .col-lg-9.no-padding 
                    p.headline Stack технологий
                    p.headline-inform Используя наш стек технологий мы реализовали:
                    ul
                        li 
                            p.inform Взаимодействие со сторонними сервисами посредством API (платёжные шлюзы, электронные кошельки, SMS-шлюзы, биржи и тд.);
                        li 
                            p.inform Софт для работы с терминальным оборудованием: диспенсеры купюр puloon, купюроприемники cashcode, NV200 Smart PayOut, хопперы, принтеры чеков, считыватели RFID и NFC карт;
                        li 
                            p.inform Кроссплатформенные прикладные и графические веб-приложения;
                        li 
                            p.inform Административные панели с настройками, отчетами и аналитикой;
                        li 
                            p.inform Консолидация данных. Работа с криптобиржами и блокчейн кошельками;
                        li 
                            p.inform Высоконагруженный сервер для обработки данных;
                        li 
                            p.inform Работа с облачным хостингом, проектирование кластерных систем.
                    .logotips
                        img(src=require('../../components/images/datalab/logos/html.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/css.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/js.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/angular.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/delphi.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/jq.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/cgi.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/json.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/rest_api.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/azure.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/ccnet.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/ts.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/mysql.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/node.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/amazon.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/apache.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/webpack.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/sqlserver.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/ajax.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/phaser.png'), alt="")
                        img(src=require('../../components/images/datalab/logos/essp.png'), alt="")
                    hr.clear-margin
            .row.ux-development
                a(id='ux-development')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline UX-проектирование и дизайн
                    p.paragraph Figma / SketchUP / Adobe
                    img(src=require('../../components/images/datalab/services/services_ux_development.png'), alt="")
                    p.inform Улучшая опыт взаимодействия пользователя с продуктом, мы решаем бизнес-проблемы заказчика: уменьшаем отток клиентов, повышаем конверсию и укрепляем лояльность. Чтобы создавать отличные пользовательские интерфейсы, мы объединили UI и UX дизайн. Опытная команда дизайнеров и проектировщиков InfoShell убедится, что Ваш продукт будет не только удобным и интуитивно понятным пользователю, но также функциональным и стильным.
                    hr
            .row.web-aplications
                a(id='web-aplications')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline WEB приложения
                    p.paragraph AngularJS / Node.JS
                    img(src=require('../../components/images/datalab/services/services_web_aplication.png'), alt="")
                    p.inform Если перед вашей компанией стоят специализированные задачи, для которых недостаточно имеющихся на рынке продуктов, или требуется доработать имеющуюся программную систему с учетом специфики именно ваших бизнес-процессов – мы будем рады в этом помочь.
                        <br><br>Наши услуги охватывают весь цикл создания и внедрения ПО, от бизнес-обследования и разработки архитектуры ПО до интеграции и экспертного сопровождения.
                    hr
            .row.support
                a(id='support')
                .col-lg-3
                .col-lg-9.no-padding
                    p.headline Техническая поддержка 24/7
                    p.paragraph Skype / Zoom / Telegram / Whatsapp
                    .image-animation
                        img(src=require('../../components/images/datalab/services/services_support_24.png'), alt="").img-24
                        img(src=require('../../components/images/datalab/services/services_support_7.png'), alt="").img-7
                        img(src=require('../../components/images/datalab/services/services_support_365.png'), alt="").img-365
                    p.inform Если перед вашей компанией стоят специализированные задачи, для которых недостаточно имеющихся на рынке продуктов, или требуется доработать имеющуюся программную систему с учетом специфики именно ваших бизнес-процессов – мы будем рады в этом помочь.
                        <br><br>Наши услуги охватывают весь цикл создания и внедрения ПО, от бизнес-обследования и разработки архитектуры ПО до интеграции и экспертного сопровождения.
            .row.footer
                .col-lg-1
                .col-lg-3
                    p.number 8 800 955 20 40
                    p.license 2009-2019 © DataLab. Все права защищены
                .col-lg-1
                .col-lg-3
                    p.email info@datalab.ru
                    p.personaldata Политика обработки персональных данных
                .col-lg-1
                .col-lg-2
                    .social-network
                        .vk
                            <svg width="22" height="15" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7703 6.27752C14.301 6.81614 14.8612 7.3229 15.3372 7.91584C15.5475 8.17933 15.7466 8.45123 15.8989 8.75702C16.1147 9.1917 15.9192 9.67005 15.5442 9.69601L13.2133 9.69491C12.6121 9.74677 12.1325 9.49519 11.7293 9.06794C11.4066 8.72625 11.1077 8.3626 10.7974 8.00939C10.6702 7.86502 10.537 7.72917 10.3779 7.6218C10.0597 7.40711 9.78353 7.47284 9.60169 7.81781C9.41649 8.16867 9.37449 8.55719 9.3563 8.94821C9.33133 9.51874 9.16542 9.66874 8.61407 9.69486C7.43578 9.75262 6.31753 9.56732 5.2787 8.94947C4.36284 8.40479 3.65263 7.63584 3.03447 6.76532C1.83089 5.07023 0.909193 3.2076 0.0808054 1.29279C-0.105658 0.861382 0.0307069 0.629803 0.488638 0.621607C1.24905 0.606252 2.00936 0.607345 2.77067 0.620514C3.07973 0.625213 3.28433 0.80947 3.40366 1.11296C3.81507 2.16446 4.31847 3.16487 4.95036 4.09217C5.11863 4.33905 5.29022 4.58593 5.53456 4.75969C5.80487 4.95209 6.01068 4.88832 6.13784 4.57533C6.21854 4.37686 6.25386 4.1631 6.27205 3.95053C6.3323 3.21924 6.34024 2.48921 6.23457 1.76048C6.1697 1.30569 5.92326 1.01127 5.48667 0.925205C5.26388 0.881326 5.29705 0.795154 5.40492 0.662972C5.59228 0.435 5.76849 0.293091 6.11976 0.293091H8.75406C9.16878 0.37817 9.26088 0.571827 9.31766 1.00559L9.31992 4.0472C9.3154 4.21512 9.40061 4.71341 9.69158 4.82455C9.92447 4.90368 10.078 4.71002 10.2177 4.55653C10.8484 3.8607 11.2986 3.03837 11.7007 2.18687C11.8792 1.81245 12.0327 1.42361 12.1814 1.03509C12.2916 0.746794 12.4645 0.60494 12.7769 0.611224L15.3122 0.613574C15.3874 0.613574 15.4635 0.614722 15.5363 0.627672C15.9635 0.703353 16.0806 0.894386 15.9486 1.32804C15.7407 2.0084 15.3362 2.57538 14.9407 3.14498C14.5179 3.75311 14.0657 4.34041 13.6464 4.95215C13.2611 5.51077 13.2917 5.79234 13.7703 6.27752Z" fill="black"/>
                            </svg>
                        .facebook
                            <svg width="12" height="22" viewBox="0 0 7 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.51301 3.09869C1.51301 3.5019 1.51301 5.30158 1.51301 5.30158H0V7.99528H1.51301V16H4.62106V7.9955H6.70671C6.70671 7.9955 6.90204 6.70389 6.99672 5.29165C6.72526 5.29165 4.63282 5.29165 4.63282 5.29165C4.63282 5.29165 4.63282 3.72454 4.63282 3.44985C4.63282 3.17458 4.97169 2.80429 5.30662 2.80429C5.64092 2.80429 6.34649 2.80429 7 2.80429C7 2.43754 7 1.17034 7 9.62225e-09C6.12759 9.62225e-09 5.13507 9.62225e-09 4.69758 9.62225e-09C1.43619 -0.000185988 1.51301 2.69619 1.51301 3.09869Z" fill="black"/>
                            </svg>
                .background-figure-footer
                    span.pulse
                    span.pulse2
        .table-of-contents
            .container
                .col-lg-3
                    .info-table.info-table-start
                        a(href='#atm' class="link select-Area" id='atm-link') Банкоматы и терминалы 
                        a(href='#statistics' class="link" id="statistics-link") Статистика и анализ
                        a(href='#api-integration' class="link" id='api-integration-link') API интеграция
                        a(href='#high-level-services' class="link" id='high-level-services-link') Высоконагруженные сервисы
                        a(href='#stack-technologies' class="link" id='stack-technologies-link') Stack технологий
                        a(href='#ux-development' class="link" id='ux-development-link') UX и дизайн
                        a(href='#web-aplications' class="link" id='web-aplications-link') WEB приложения
                        a(href='#support' class="link" id='support-link') Техническая поддержка 24/7